<%= render PageTitle::View.new(i18n_key: "providers.index") %>

<h1 class="govuk-heading-l">Providers</h1>

<%= render "system_admin/tab_nav" %>

<p class="govuk-body">
  <%= render GovukComponent::StartButtonComponent.new(
  text: "Add a provider",
  href: new_provider_path,
) %>
</p>

<% if @providers.any? %>

  <%= register_form_with url: providers_path,
                         local: true,
                         method: :get,
                         html: { data: { module: "app-providers-autocomplete" } } do |f| %>

    <%= f.hidden_field :provider_id, id: "provider-id" %>

    <%= f.govuk_text_field(
      :query,
      form_group: { class: "govuk-form-group app-js-only" },
      label: { text: "Search for a provider", size: "s" },
      hint: { text: "Search for a provider by its code, name or UKPRN" },
      value: params[:query],
      "data-field" => "providers-autocomplete",
      width: "three-quarters",
    )%>

    <div id="providers-autocomplete-element"
         class="govuk-!-width-three-quarters"
         data-default-value="<%= params[:query] %>"
         data-field-name="system_admin_user_providers_form[query]">
    </div>

  <% end %>

  <div class="govuk-!-margin-bottom-8">
    <%= render ProviderCard::View.with_collection(@providers) %>
  </div>
<% else %>
  <h2 class="govuk-heading-m">There are no providers yet</h2>
<% end %>
