<%= render PageTitle::View.new(title: @provider.name, has_errors: @provider.errors.present?) %>

<%= render GovukComponent::BackLink.new(
  text: "Back",
  href: providers_path,
) %>

<h1 class="govuk-heading-xl"><%= @provider.name %></h1>

<p class="govuk-body">
  <%= render GovukComponent::StartNowButton.new(
  text: "Add a user",
  href: new_provider_user_path(@provider),
) %>
</p>

<h1 class="govuk-heading-m">Registered users</h1>

<% if @provider.users.any? %>
  <div class="govuk-!-margin-bottom-8">
    <%= render UserCard::View.with_collection(@users_view.registered) %>
  </div>
<% else %>
  <h2 class="govuk-heading-m">There are no users yet.</h2>
<% end %>

<h1 class="govuk-heading-m">DTTP users</h1>

<% if @users_view.not_registered.any? %>
  <div class="govuk-!-margin-bottom-8" id="user-not-registered">
    <div class="govuk-caption-m govuk-!-font-size-16 user-card__dttp_id">
      These users are not registered with the provider on this service.
    </div>
    
    <%= render UserCard::View.with_collection(@users_view.not_registered) %>
  </div>
<% else %>
  <h2 class="govuk-heading-m">All users with this provider are registered.</h2>
<% end %>
