<%= render PageTitle::View.new(text: @provider.name, has_errors: @provider.errors.present?) %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: t(:back),
    href: params[:context] == "users" ? users_path : providers_path,
  ) %>
<% end %>

<h1 class="govuk-heading-l"><%= @provider.name %></h1>

<p><%= govuk_link_to "Edit this provider", edit_provider_path(@provider), { class: "govuk-link govuk-link--no-visited-state" } %></p>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      UKPRN
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @provider.ukprn %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Provider code
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @provider.code %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Provider accreditation ID
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @provider.accreditation_id %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Funding
    </dt>
    <dd class="govuk-summary-list__value">
      <%= govuk_link_to "View funding", provider_funding_payment_schedule_path(@provider) %>
    </dd>
  </div>
</dl>

<h2 class="govuk-heading-m">Users</h2>

<p class="govuk-body">
  <%= render GovukComponent::StartButtonComponent.new(
  text: "Add a user",
  href: new_provider_user_path(@provider),
) %>
</p>

<% if @users_view.users.any? %>
  <% @users_view.users.each do |user| %>
    <%= render UserCard::View.new(
      user: user,
      edit_path: edit_provider_user_path(@provider, user),
    ) %>
  <% end %>
<% else %>
  <p class="govuk-body">There are no users yet.</p>
<% end %>
