<%= render PageTitle::View.new(text: @provider.name, has_errors: @provider.errors.present?) %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: t("back"),
    href: providers_path,
  ) %>
<% end %>

<h1 class="govuk-heading-l"><%= @provider.name %></h1>

<p> <%= govuk_link_to "Edit this provider", edit_provider_path(@provider), { class: "govuk-link govuk-link--no-visited-state" } %> </p>

<%= render "system_admin/provider_tab_nav" %>

<p class="govuk-body">
  <%= render GovukComponent::StartButtonComponent.new(
  text: "Add a user",
  href: new_provider_user_path(@provider),
) %>
</p>

<% if @users_view.registered.any? %>
  <div class="govuk-!-margin-bottom-8 registered-users">
    <%= render UserCard::View.with_collection(@users_view.registered, show_register_button: false) %>
  </div>
<% else %>
  <p class="govuk-body">There are no users yet.</p>
<% end %>
