<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l"><%= heading %></h1>

    <%= render(component) %>

    <%= form_with(model: @confirm_detail, url: resource_confirm_update_path, method: :put, local: true) do |f| %>
      <% if @trainee.draft? %>
        <%= f.govuk_check_boxes_fieldset :mark_as_completed, multiple: false, legend: { text: '' } do %>
          <%= f.govuk_check_box :mark_as_completed, 1, 0, multiple: false, link_errors: true, label: { text: "I have completed this section " } %>
        <% end %>
      <% end %>
      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
