<%= render PageTitle::View.new(title: I18n.t("components.confirmation.heading", section_title: confirm_section_title)) %>

<%= content_for(:breadcrumbs) do %>
  <%= render DynamicBackLink::View.new(@trainee) %>
<% end %>

<%= render(
  partial: "form",
  locals: {
    heading: I18n.t("components.confirmation.heading", section_title: confirm_section_title),
    confirm_detail: @confirm_detail,
    trainee: @trainee,
    component: @confirmation_component,
    resource_confirm_update_path: trainee_section_update_path(trainee_section_key, @trainee),
  }
) %>

<p class="govuk-body"><%= govuk_link_to("Cancel and return to record", view_trainee(@trainee, cancel_changes: true)) %></p>