<% if self.display_record_actions? %>
  <div class="record-outcome-action-bar">
    <%= render RecordActions::View.new(
      trainee,
      has_missing_fields: has_missing_fields,
    ) %>
  </div>
<% end %>

<div class="record-details">
  <%= render RecordDetails::View.new(trainee: @trainee,
      last_updated_event: trainee.timeline.first,
      show_provider: current_user.system_admin? || current_user.training_partner?,
      show_record_source: current_user.system_admin?,
      editable: trainee_editable?,
      show_change_provider: current_user.system_admin?,
    ) %>
</div>

<% if trainee.withdrawn? %>
  <div class="withdrawal-details">
    <%= render Withdrawal::View.new(data_model: trainee, undo_withdrawal: trainee_editable?, show_date_prefix: false) %>
  </div>
<% end %>

<% if trainee.deferred? %>
  <div class="deferral-details">
    <%= render DeferralDetails::View.new(DeferralForm.new(trainee), editable: trainee_editable?, omit_start_date: true) %>
  </div>
<% end %>

<% if trainee.awarded? || trainee.recommended_for_award? %>
  <div class="award-details">
    <%= render AwardDetails::View.new(trainee) %>
  </div>
<% end %>

<div class="course-details">
  <%= render CourseDetails::View.new(data_model: trainee, editable: trainee_editable?) %>
</div>

<% if trainee.requires_placements? %>
  <div class="placement-details">
    <%= render PlacementDetails::View.new(data_model: trainee, editable: TraineePolicy.new(current_user, trainee).write_placements?) %>
  </div>
<% end %>

<% if trainee.requires_funding? %>
  <div class="funding">
    <%= render Funding::View.new(data_model: trainee, editable: trainee_editable?) %>
  </div>
<% end %>

<% if trainee.requires_iqts_country? %>
  <div class="iqts_country">
    <%= render IqtsCountry::View.new(data_model: trainee, editable: trainee_editable?) %>
  </div>
<% end %>
