<%= render PageTitle::View.new(text: t(".heading"), has_errors: @language_specialisms_form.errors.present?) %>

<%= content_for(:breadcrumbs) do %>
  <%= render DynamicBackLink::View.new(@trainee, text: t(:back)) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= register_form_with(model: @language_specialisms_form, url: trainee_language_specialisms_path(@trainee), method: :put, local: true) do |f| %>
      <%= f.hidden_field :course_uuid, value: params[:course_uuid] %>

      <%= f.govuk_error_summary %>

      <%= render TraineeName::View.new(@trainee) %>
      <div class="govuk-form-group">

        <%= f.govuk_fieldset(
          legend: { text: t(".heading"), tag: "h1", size: "l" },
          classes: "language-specialisms"
        ) do %>

          <div class="govuk-hint" id="language-language-specialisms-form-language-specialisms-hint">
            <% if non_language_subject.present? %>
              <p class="govuk-body govuk-hint">
                Choose the languages the trainee will study with <%= non_language_subject %>.
              </p>
              <p class="govuk-body govuk-hint">
                Choose up to two.
              </p>
            <% else %>	
              <p class="govuk-body govuk-hint"><%= t(".hint") %></p>
              <p class="govuk-body govuk-hint"><%= t(".additional_hint") %></p>
            <% end %>	
          </div>


          <%=
            f.govuk_select(
              :course_subject_one,
              language_specialism_options,
              label: { text: "First language", size: "s" },
              include_blank: true,
            )
          %>

          <%=
            f.govuk_select(
              :course_subject_two,
              language_specialism_options,
              label: { text: "Second language (optional)", size: "s" },
            )
          %>

          <% unless non_language_subject.present? %>
            <%=
              f.govuk_select(
                :course_subject_three,
                language_specialism_options,
                label: { text: "Third language (optional)", size: "s" },
              )
            %>
          <% end %>
        <% end %>
      </div>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
