<%= render PageTitle::View.new(text: "Upload summary") %>

<%= content_for(:breadcrumbs) do %>
  <%= render(
    GovukComponent::BackLinkComponent.new(
      text: "Back",
      href: request.referrer.present? && request.referrer.match?(bulk_update_add_trainees_uploads_path) ?
        request.referrer : bulk_update_add_trainees_upload_path(@bulk_update_trainee_upload)
    )
  )%>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= register_form_with(model: @bulk_add_trainee_upload_form, url: bulk_update_add_trainees_uploads_path) do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl"><%= organisation_name %></span>
        Review errors for <%= pluralize(@bulk_update_trainee_upload.total_rows_with_errors, "trainee") %>  in the CSV that you uploaded
      </h1>

      <p class="govuk-body">
        You cannot add new trainees if there’s an error in their row in the CSV file.
        You need to fix the errors if you want to add them.
      </p>

      <ol class="govuk-list govuk-list--number">
        <li>
          <%= govuk_link_to(
            "Download your CSV file with errors indicated",
            bulk_update_add_trainees_review_error_path(@bulk_update_trainee_upload, format: :csv),
          ) %>
        </li>

        <li>
          Fix the errors. If you cannot fix an error,
          you can delete the row and the trainee will not be included.
        </li>

        <li>
          Upload the updated CSV file.
          <%= f.govuk_file_field(:file, label: { hidden: true }, accept: ".csv") %>
        </li>

        <%= f.govuk_submit("Upload records") %>
      </ol>
    <% end %>

    <p class="govuk-body">
      <%= register_form_with(
        model: @bulk_update_trainee_upload,
        url: bulk_update_add_trainees_upload_path(@bulk_update_trainee_upload),
        method: :delete
      ) do |f| %>
        <%= f.submit "Cancel bulk updates to records", class: "govuk-link app-button--link govuk-body" %>
      <% end %>
    </p>
  </div>
</div>
