<div class="application-record-card">
  <div class="application-record-card__row application-record-card__row--header">
    <h<%= heading_level %> class="application-record-card__trainee-name govuk-heading-m govuk-!-margin-bottom-0">
      <%= govuk_link_to trainee_name, view_trainee(record) %>
    </h<%= heading_level %>>

    <span class="application-record-card__tag-container">
      <%= render StatusTag::View.new(trainee: record,  hide_progress_tag: hide_progress_tag?) %>
    </span>
  </div>

  <div class="application-record-card__row application-record-card__row--body">
    <div class="application-record-card__col">
      <div>
        <%= provider_trainee_id %>
        <%= trn %>
        <%= start_year %>
        <%= end_year %>
        <%= provider_name %>
        <%= record_source %>
      </div>

      <div>
        <p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-top-0 govuk-!-margin-bottom-1">
          <span class='govuk-visually-hidden'>Course: </span>
          <%= subject %>
        </p>

        <p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-top-0 govuk-!-margin-bottom-0">
          <span class='govuk-visually-hidden'>Route: </span>
          <%= route %>
        </p>
      </div>
    </div>

    <div class="application-record-card__col">
      <%= updated_at %>
    </div>
  </div>
</div>
