<div class="app-application-card">
  <div class="app-application-card_col">
    <h<%= heading_level %> class="govuk-heading-m govuk-!-margin-bottom-3">
      <%= govuk_link_to trainee_name, view_trainee(record) %>
    </h<%= heading_level %>>
    <%= trainee_id %>
    <%= trn %>
  </div>

  <div class="app-application-card_col">
    <p class="govuk-body app-application-card__subject">
      <%= subject %>
    </p>
    <p class="govuk-body govuk-hint app-application-card__route">
      <%= route %>
    </p>
  </div>

  <div class="app-application-card_col">
    <%= render StatusTag::View.new(trainee: record) %>
    <%= updated_at %>
  </div>
</div>
