<div class="application-record-card">
  <div class="application-record-card_row application-record-card_row--header">
    <h<%= heading_level %> class="application-record-card__trainee-name govuk-heading-m govuk-!-margin-bottom-0">
      <%= govuk_link_to trainee_name, view_trainee(record) %>
    </h<%= heading_level %>>

    <div class="application-record-card__tag-container">
      <%= render StatusTag::View.new(trainee: record) %>
    </div>
  </div>

  <div class="application-record-card_row application-record-card_row--body">
    <div class="application-record-card_col">
      <div>
        <%= trainee_id %>
        <%= trn %>      
      </div>

      <div>
        <p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-top-0 govuk-!-margin-bottom-1">
          <span class='govuk-visually-hidden'>Course: </span>
          <%= subject %>
        </p>

        <p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-top-0 govuk-!-margin-bottom-0">
          <span class='govuk-visually-hidden'>Route: </span>
          <%= route %>
        </p>        
      </div>
    </div>

    <div class="application-record-card_col">
      <%= updated_at %>
    </div>
  </div>
</div>
