<%= render PageTitle::View.new(text: "Upload summary") %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(text: "Back", href: new_bulk_update_add_trainees_upload_path) %>
<% end %>

<h1 class="govuk-heading-l">
  <span class="govuk-caption-xl"><%= organisation_name %></span>
  Upload Summary
</h1>

<p class="govuk-body">
  You uploaded a CSV file with details of <%= pluralize(@bulk_update_trainee_upload.number_of_trainees, "trainee") %>.
</p>

<p class="govuk-body">
  It included:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>
    <%= pluralize(@bulk_update_trainee_upload.number_of_trainees, "trainee") %> who can be added
  </li>

</ul>

<p class="govuk-body">
  <%= register_form_with(
    model: @bulk_add_trainees_import_rows_form,
    url: bulk_update_add_trainees_imports_path(@bulk_update_trainee_upload),
    method: :post,
  ) do |f| %>
    <%= f.govuk_submit "Continue" %>
  <% end %>
</p>

<p class="govuk-body">
  <%= register_form_with(
    model: @bulk_update_trainee_upload,
    url: bulk_update_add_trainees_upload_path(@bulk_update_trainee_upload),
    method: :delete
  ) do |f| %>
    <%= f.submit "Cancel process", class: "govuk-link app-button--link govuk-body" %>
  <% end %>
</p>

