<% page_title = "Claims team - Trainee degree data export" %>
<%= render PageTitle::View.new(text: page_title, has_errors: @form.errors.present?) %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: "Reports",
    href: reports_path,
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= register_form_with model: @form, url: reports_claims_degrees_path, method: :get do |f| %>
      <%= f.govuk_error_summary %>
      
    <h1 class="govuk-heading-l">
      <%= page_title %>
    </h1>
    
    <p class="govuk-body">
      This report allows you to export degree data for all trainees with a TRN.
      You must specify a date range (maximum 1 year) for when the degree record was created in Register.
    </p>

      <div class="govuk-form-group">
        <%= f.govuk_date_field :from_date, 
          legend: { text: "From date", size: "s" },
          hint: { text: "Start date for degrees created. For example, 13 1 2022" } %>
      </div>

      <div class="govuk-form-group">
        <%= f.govuk_date_field :to_date, 
          legend: { text: "To date", size: "s" },
          hint: { text: "End date for degrees created (maximum 1 year from start date). For example, 13 1 2023" } %>
      </div>

      <%= f.govuk_submit "Export as CSV" %>
    <% end %>
  </div>
</div> 