<%= tag.h1(
  "How to add trainee information to the bulk add new trainee CSV template",
  class: "govuk-heading-l",
) %>

<p class="govuk-body">
  <%= render(NotificationBanner::View.new(
    text: "This draft guidance is for review and testing purposes only. Send your feedback or questions to <a href=\"mailto:registertraineeteachers@education.gov.uk\" class=\"govuk-notification-banner__link\">registertraineeteachers@education.gov.uk</a>.".html_safe,
    type: :important,
  )) %>
</p>

<p class="govuk-body">
  Training providers can register their trainees in bulk by creating trainee records and adding the required data.
</p>

<p class="govuk-body">
  CSV bulk add new trainees will be available in Register trainee teachers (Register) before the start of the 2025 to 2026 academic year.
</p>

<h2 class="govuk-heading-m">Download an empty CSV file template</h2>

<p class="govuk-body">
  You must only use this CSV file template to register new trainees in Register trainee teachers (Register).
</p>

<p class="govuk-body">
  If you use this to update already existing trainees, it will come back as an error.
</p>

<p class="govuk-body">
  The CSV template uses HESA reference data.
</p>

<p class="govuk-body">
  <%= govuk_link_to(
    "Download empty bulk add new trainees CSV template",
    bulk_update_add_trainees_empty_template_path(format: :csv),
  ) %>
</p>

<h2 class="govuk-heading-m">Use this guidance to complete the CSV file template</h2>

<p class="govuk-body">
  Use the guidance to check how new trainee data maps between your student record system and Register, using the CSV upload found in the ‘Bulk updates section’ in Register.
</p>

<p class="govuk-body">
  If mandatory fields are not filled in correctly, the CSV upload will come back as an error.
</p>

<h2 class="govuk-heading-m">Notification of changes</h2>

<p class="govuk-body">
Find out more on <%= govuk_link_to("Register’s news and updates", service_updates_path) %> about any changes to trainee data fields when submitting trainee data directly to Register via the API or 'Bulk add new trainees' CSV template, for the upcoming 2025 to 2026 academic year.
</p>

<h2 class="govuk-heading-m">Version</h2>

<p class="govuk-body">
  <%= BulkUpdate::BulkAddTraineesUploadForm::VERSION %>
</p>

<h2 class="govuk-heading-m">Contents</h2>

<%= render CsvFields::View.new %>
