<% heading = t("trainees.withdrawals.extra_informations.edit.heading") %>

<%= render PageTitle::View.new(text: heading, has_errors: form.errors.present?) %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: t("back"),
    href: edit_trainee_withdrawal_reason_path(trainee),
    ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <%= render TraineeName::View.new(trainee) %>
    <h1 class="govuk-heading-l"> <%= heading %> </h1>

    <%= register_form_with(model: form, url: trainee_withdrawal_extra_information_path(trainee), local: true, method: :put) do |f| %>
      <%= f.govuk_error_summary %>


      <%= f.govuk_text_area :withdraw_reasons_details,
                            width: "one-quarter",
                            label: { text: t("trainees.withdrawals.extra_informations.edit.why_the_trainee_withdrew"), size: "m" },
                            autocomplete: :off %>

      <%= f.govuk_text_area :withdraw_reasons_dfe_details,
                            width: "one-quarter",
                            label: { text: t("trainees.withdrawals.extra_informations.edit.what_the_dfe_could_have_done"), size: "m" },
                            autocomplete: :off %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>

<p class="govuk-body"><%= govuk_link_to(t("views.forms.common.cancel_and_return_to_record"), trainee_path(trainee)) %></p>