<div class='moj-filter-layout'>
  <%= render Trainees::Filters::View.new(filters: filters, filter_actions: filter_actions) %>
  <div class='moj-filter-layout__content'>
    <div class="moj-action-bar">
      <div class="moj-action-bar__filter"></div>
    </div>
    <div class="app-records-actions">
    <% unless @collection.empty? %>
      <% if FeatureService.enabled?(:trainee_export) %>
        <div class="app-export--link">
          <%= govuk_link_to(
                I18n.t("views.trainees.index.export"), trainees_path(filter_params.merge(format: "csv")), class: "app-trainee-export") %>
        </div>
      <% end %>
      <%= render Trainees::SortLinks::View.new %>
    <% end %>
    </div>
    <%= content %>
    <%= render Paginator::View.new(scope: collection) %>
  </div>
</div>
