<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= register_form_with(
      builder: GOVUKDesignSystemFormBuilder::FormBuilder,
      model: @bulk_add_trainee_upload_form,
      url: bulk_update_add_trainees_uploads_path,
    ) do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl"><%= organisation_name %></span>
        Review errors for <%= pluralize(upload.total_rows_with_errors, "trainee") %> in the CSV you uploaded
      </h1>

      <p class="govuk-body">
        You cannot add new trainees if there is an error in their row in the CSV file.
        In order to add new trainees, the errors will need to be fixed.
      </p>

      <p class="govuk-body">
        A spreadsheet program can be used to fix the errors in the CSV file.
        Sometimes spreadsheet programs can change the way data is imported into a CSV which causes errors. For example, dates can be reformatted into dd/mm/yy format.
      </p>

      <p class="govuk-body">
        You may notice that apostrophes have been added to some values in the CSV
        e.g. '2025-06-06. These are intentional and shouldn’t be removed. Leave them in
        place when you fix the errors in the CSV file. They will be automatically
        removed when you upload the CSV file again.
      </p>

      <h2 class="govuk-heading-m">To re-upload you CSV follow these steps</h2>

      <ol class="govuk-list govuk-list--number">
        <li>
          <%= govuk_link_to(
            "Download your CSV file with errors indicated",
            bulk_update_add_trainees_upload_path(upload, format: :csv),
          ) %>
        </li>

        <li>
          Fix the errors. If you cannot fix an error, you can delete the row
          and the trainee will not be included.
        </li>

        <li>
          Upload the updated CSV file.
          <%= f.govuk_file_field(:file, label: { hidden: true }, accept: ".csv") %>
        </li>

        <%= f.hidden_field :id, value: upload.id %>
      </ol>

      <%= f.govuk_submit("Upload CSV") %>
    <% end %>

    <p class="govuk-body">
      <%= register_form_with(
        model: upload,
        url: bulk_update_add_trainees_upload_path(upload),
        method: :delete
      ) do |f| %>
        <%= f.submit "Cancel bulk updates to records", class: "govuk-link app-button--link govuk-body" %>
      <% end %>
    </p>
  </div>
</div>
