
<h2 class="govuk-heading-m">
  <%= t("personal_details") %>
</h2>

<%= render Sections::View.new(trainee: trainee, form: form, section: :personal_details) %>

<%= render Sections::View.new(trainee: trainee, form: form, section: :contact_details) %>

<%= render Sections::View.new(trainee: trainee, form: form, section: :diversity) %>

<h2 class="govuk-heading-m">
  <%= t("education") %>
</h2>

<%= render Sections::View.new(trainee: trainee, form: form, section: :degrees) %>
