<%= render PageTitle::View.new(i18n_key: "check_details.show") %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLink.new(
    text: t("back_to_draft"),
    href: review_draft_trainee_path(@trainee),
    html_attributes: {
      id: "back-to-draft-record",
    },
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <%= render ErrorSummary::View.new(has_errors: @form.errors.any?) do %>
          <% @form.errors.messages.map do |_, messages| %>
            <li><%= messages.first %></li>
          <% end %>
        <% end %>

        <h1 class="govuk-heading-l govuk-!-margin-bottom-8">
          <span class="govuk-caption-l">
            <% if trainee_name(@trainee).present? %>
              <%= t(".heading_1_name", name: trainee_name(@trainee)) %>
            <% else %>
              <%= t(".heading_1_no_name") %>
            <% end %>
          </span>
          <%= t(".heading_2") %>
        </h1>

        <%= render RouteIndicator::View.new(trainee: @trainee) %>
      </div>
    </div>

    <h2 class="govuk-heading-m">
      <%= t("personal_details") %>
    </h2>

    <%= render Sections::View.new(trainee: @trainee, form: @form, section: :personal_details) %>

    <%= render Sections::View.new(trainee: @trainee, form: @form, section: :contact_details) %>

    <%= render Sections::View.new(trainee: @trainee, form: @form, section: :diversity) %>

    <h2 class="govuk-heading-m">
      <%= t("education") %>
    </h2>

    <%= render Sections::View.new(trainee: @trainee, form: @form, section: :degrees) %>

    <%= register_form_with(model: @form, builder: GOVUKDesignSystemFormBuilder::FormBuilder,
                           url: trainee_apply_applications_trainee_data_path(trainee),
                           method: :put,
                           local: true) do |f| %>
        <%= f.govuk_check_boxes_fieldset :mark_as_reviewed, multiple: false, legend: { text: "" } do %>
          <%= f.govuk_check_box :mark_as_reviewed, 1, 0, multiple: false, link_errors: true,
                                label: { text: t("mark_as_reviewed") } %>
        <% end %>
      <%= f.govuk_submit t("continue") %>
    <% end %>
  </div>
</div>

<p class="govuk-body"><%= govuk_link_to(t("return_to_draft_later"), trainees_path, { id: "return-to-draft-later" }) %></p>
