<%= render PageTitle::View.new(i18n_key: "dead_jobs.index") %>

<div class="govuk-grid-row">
  <div class ="govuk-grid-column-full">
    <%= render "system_admin/tab_nav" %>

    <%= render ErrorSummary::View.new(renderable: trs_error.present?) do %>
      <%= trs_error %>
    <% end %>

    <%= render SortBy::View.new(items: sort_by_items) %>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Trainees Pending Award</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">First names</th>
          <th scope="col" class="govuk-table__header">Last name</th>
          <th scope="col" class="govuk-table__header">Days waiting</th>
          <th scope="col" class="govuk-table__header">Job status</th>
          <th scope="col" class="govuk-table__header">Last run/Next scheduled</th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% @trainees.each do |trainee| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><%= trainee.first_names %></td>
            <td class="govuk-table__cell"><%= trainee.last_name %></td>
            <td class="govuk-table__cell">
              <%= (Date.current - trainee.recommended_for_award_at.to_date).to_i %>
            </td>
            <td class="govuk-table__cell"><%= job_status(trainee) %></td>
            <td class="govuk-table__cell"><%= last_run_or_scheduled_at(trainee)&.to_fs(:govuk_date_and_time) %></td>
            <td class="govuk-table__cell">
              <%=
                govuk_link_to(
                  "View",
                  trainee_personal_details_path(trainee),
                  class: "govuk-!-margin-0 govuk-button",
                )
              %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
