<div class="govuk-grid-row">
  <div class ="govuk-grid-column-two-thirds-from-desktop">
    <%= render PageTitle::View.new(i18n_key: "pending_trns.index") %>

    <h1 class="govuk-heading-l">Trainees Pending TRN</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class ="govuk-grid-column-full">
    <%= render "system_admin/tab_nav" %>

    <%= render ErrorSummary::View.new(renderable: dqt_error.present?) do %>
      <%= dqt_error %>
    <% end %>

    <%= govuk_accordion do |accordion|
      @trainees.each do |trainee|
        accordion.section(heading_text: "#{trainee.first_names} #{trainee.last_name}") do
          tag.div(class: "govuk-body") do
            concat(
              tag.p((Date.current - trainee.dqt_trn_request.created_at.to_date).to_i)
            ) if trainee.dqt_trn_request.present?

            concat(
              govuk_details(summary_text: "Request Details") { concat(trainee.dqt_trn_request.response) }
            ) if trainee.dqt_trn_request.present?

            concat(
              tag.div(class: "system-admin-actions") do
                concat(govuk_link_to "View trainee", trainee_personal_details_path(trainee), class: "govuk-button govuk-!-margin-bottom-0")
                concat(govuk_button_to "Check for TRN", pending_trns_retrieve_trn_path(trainee), method: :put, class: "govuk-!-margin-0 govuk-button--secondary")
                concat(govuk_button_to "Re-submit for TRN", pending_trns_request_trn_path(trainee), method: :put, class: "govuk-!-margin-0 govuk-button--secondary")
              end
            )
          end
        end
      end
    end %>
  </div>
</div>


