<div class="govuk-grid-row">
  <div class ="govuk-grid-column-two-thirds-from-desktop">
    <%= render PageTitle::View.new(i18n_key: "pending_trns.index") %>
    <h1 class="govuk-heading-l">Trainees Pending TRN</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class ="govuk-grid-column-full">
    <%= render "system_admin/tab_nav" %>

    <%= render ErrorSummary::View.new(renderable: dqt_error.present?) do %>
      <%= dqt_error %>
    <% end %>

    <%= render SortBy::View.new(items: sort_by_items) %>

    <%= govuk_accordion do |accordion| %>
      <% @trainees.each do |trainee| %>
        <% accordion.with_section(heading_text: trainee.short_name) do  %>

          <div class="govuk-body">

            <% if trainee.trs_trn_request.present? %>
              <%= tag.p("#{pluralize(trainee.trs_trn_request.days_waiting, "day")} waiting") %>

              <%= govuk_details(summary_text: "Request Details") do %>
                <%= content_tag(:pre, formatted_dqt_trn_response(trainee.trs_trn_request.response))  %>
              <% end %>
            <% end %>

            <div class="system-admin-actions">
              <%= govuk_button_link_to("View trainee", trainee_personal_details_path(trainee), class: "govuk-!-margin-bottom-0") %>
              <%= govuk_button_to("Check for TRN", pending_trns_retrieve_trn_path(trainee), method: :put, class: "govuk-!-margin-0", secondary: true) %>
              <%= govuk_button_to("Re-submit for TRN", pending_trns_request_trn_path(trainee), method: :put, class: "govuk-!-margin-0", secondary: true) %>
            </div>
          </div>
        <% end %>
      <% end  %>
    <% end %>
  </div>
</div>


