<%= render PageTitle::View.new(text: "Export trainee data for the #{@previous_academic_cycle_label} performance profile sign off") %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: "Reports",
    href: reports_path,
    ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">
      Export trainee data for the <%= @previous_academic_cycle_label %> performance profile sign off
    </h1>
    <p class="govuk-body">
      Signing off your list of trainees for the performance profiles publication deadline is <%= @previous_academic_cycle.end_date_of_performance_profile.strftime(Date::DATE_FORMATS[:govuk]) %>.
    </p>

    <p class="govuk-body">
      As an accredited provider, you need to sign off your teacher trainee data from the previous <%= @previous_academic_cycle_label %> academic year.
    </p>

    <p class="govuk-body">
      The data you sign off will be included in the annual initial teacher training performance profiles publication. This will be published on GOV.UK.
    </p>

    <h2 class="govuk-heading-m">
      Finding your trainee data
    </h2>
    <p class="govuk-body">
      You need to check all registered trainees who studied in the previous <%= @previous_academic_cycle_label %> academic year.
    </p>
    <p class="govuk-body">
      <%= govuk_link_to "Export #{@previous_academic_cycle_label} trainee data (#{@trainee_count} #{"trainee".pluralize(@trainee_count)})", reports_performance_profiles_path(:csv) %>
    </p>

    <h2 class="govuk-heading-m">
      Checking your trainee data
    </h2>
    <p class="govuk-body">
      You’ll need to check that all your trainees from the <%= @previous_academic_cycle_label %> academic year are listed. For each trainee you’ll need to check:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        course details
      </li>
      <li>
        status
      </li>
      <li>
        the date they gained qualified teacher status (QTS) or early years teacher status (EYTS), or deferred or withdrew from the course - unless they’re still studying
      </li>
      <li>
        2 placements for trainees that gained QTS
      </li>
    </ul>

    <h2 class="govuk-heading-m">
      Fixing mistakes in your trainee data
    </h2>
    <p class="govuk-body">
      You’ll need to fix any mistakes before you sign off the data.
    </p>

    <p class="govuk-body">
      Find out more on <%= govuk_link_to("Signing off your list of trainees for the performance profiles publication", performance_profiles_guidance_path) %> and <%= govuk_link_to("managing your trainee placement data", manage_placements_guidance_path) %>.
    </p>

    <h2 class="govuk-heading-m">
      Signing off your trainee data
    </h2>
    <p class="govuk-body">
      If you have checked your data.
    </p>
    <%= govuk_button_link_to("Continue to performance profile sign off", new_reports_performance_profile_path)%>
  </div>
</div>
