<%= render PageTitle::View.new(text: "Check the data mapping between HESA and Register trainee teachers - #{@tab.humanize}") %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: "How to use this service",
    href: guidance_path,
    ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Check the data mapping between HESA and Register trainee teachers</h1>
    <p class="govuk-body">
      Use the table to check how data maps between HESA and Register trainee teachers (Register).
    </p>
    <p class="govuk-body">
      Where possible, these tables follow the same order as the CSV export and a trainee’s record in Register.
    </p>
  </div>
    <div class="govuk-grid-column-full">
    <%= render TabNavigation::View.new(items: [
      {
        name: "Trainee progress",
        url: hesa_register_data_mapping_guidance_url("trainee-progress")
      },
      {
        name: "Personal details",
        url: hesa_register_data_mapping_guidance_url("personal-details")
      },
      {
        name: "Course details",
        url: hesa_register_data_mapping_guidance_url("course-details")
      },
      {
        name: "Schools",
        url: hesa_register_data_mapping_guidance_url("schools")
      },
      {
        name: "Funding",
        url: hesa_register_data_mapping_guidance_url("funding")
      },
      {
        name: "Database only",
        url: hesa_register_data_mapping_guidance_url("database-only")
      },
    ]) %>
      <%= render "guidance/#{@tab}" %>
    </div>
</div>
