<%= render PageTitle::View.new(text: "How to use this service") %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(text: "Home", href: root_path) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">How to use this service</h1>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to(
              "About this service",
              about_register_trainee_teachers_guidance_path,
            ) %>
      </li>
      <li>
        <%= govuk_link_to(
              "Dates and deadlines for training providers",
              dates_and_deadlines_guidance_path,
            ) %>
      </li>
    </ul>

    <h2 class="govuk-heading-m">Registering trainees</h2>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to(
              "Register trainees manually in this service",
              manually_registering_trainees_guidance_path,
            ) %>
      </li>
      <li>
        <%= govuk_link_to(
              "Check what data you need to provide to register trainees manually",
              check_data_guidance_path,
            ) %>
      </li>
      <li>
        <%= govuk_link_to(
              "Register trainees through HESA",
              registering_trainees_through_hesa_guidance_path,
            ) %>
      </li>
      <li>
        <%= govuk_link_to(
              "How to extract TRNs from the Register service ",
              how_to_extract_trns_from_the_register_service_guidance_path,
            ) %>
      </li>
    </ul>

    <h2 class="govuk-heading-m">Recording teacher training outcomes</h2>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to(
            "Withdraw, defer, reinstate or recommend a trainee for QTS or EYTS",
            withdraw_defer_reinstate_or_recommend_a_trainee_guidance_path,
          ) %>
      </li>
      <li>
        <%= govuk_link_to(
            "Bulk recommend trainees for QTS or EYTS",
            bulk_recommend_trainees_guidance_path,
          ) %>
      </li>
    </ul>

    <h2 class="govuk-heading-m">Recording placement data</h2>

    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to(
            "Manage your trainee placement data in Register",
            manage_placements_guidance_path,
          ) %>
      </li>
      <li>
        <%= govuk_link_to(
            "Bulk add placement data",
            bulk_upload_placement_data_guidance_path,
          ) %>
      </li>
    </ul>

    <% @census_sign_off = sign_off_period == :census_period ? "Sign" : "Signing" %>
    <% @performance_sign_off = sign_off_period == :performance_period ? "Sign" : "Signing" %>

    <h2 class="govuk-heading-m">Signing off data</h2>

    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to(
              "#{@census_sign_off} off your list of trainees for the initial teacher training census",
              census_sign_off_guidance_path,
              ) %>
      </li>
      <li>
        <%= govuk_link_to(
              "#{@performance_sign_off} off your list of trainees for the performance profiles publication",
              performance_profiles_guidance_path,
            ) %>
      </li>
    </ul>

    <h2 class="govuk-heading-m">Understanding data</h2>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to(
              "Check the data mapping between HESA and Register trainee teachers",
              hesa_register_data_mapping_guidance_url("trainee-progress"),
            ) %>
      </li>
    </ul>
  </div>
</div>
