<% page_title = t("components.page_titles.funding_uploads.index") %>

<div class="govuk-grid-row">
  <div class ="govuk-grid-column-two-thirds-from-desktop">
    <%= render PageTitle::View.new(text: page_title) %>

  <h1 class="govuk-heading-l"><%= page_title %></h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class ="govuk-grid-column-full">
    <%= render "system_admin/tab_nav" %>

    <p class="govuk-body">Funding information for all accredited providers can be uploaded to Register at the beginning of every month.</p>
    <p class="govuk-body">There are 4 x CSV files to upload separately:</p>

    <ol class="govuk-list govuk-list--number">
      <li>lead school funding payments</li>
      <li>lead school trainee funding payments</li>
      <li>Accredited provider funding payments</li>
      <li>Accredited provider trainee funding payments</li>
    </ol>

    <p class="govuk-body">After the funding information has been uploaded, training partners and accredited providers can download or view:</p>

    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-9">
      <li>a CSV file by academic year</li>
      <li>payments by month</li>
      <li>running totals</li>
      <li>predicted payments</li>
      <li>payment types</li>
    </ul>

    <%= govuk_table do |table|
      table.with_caption(size: "m", text: "Training partners")

      table.with_head do |head|
        head.with_row do |row|
          row.with_cell(text: "Task")
          row.with_cell(text: "Last completed")
          row.with_cell(text: "For month")
        end
      end

      table.with_body do |body|
        body.with_row(html_attributes: { id: "lead_partner_trainee_summary" }) do |row|
        row.with_cell(text: govuk_link_to("Upload trainee summary", new_funding_uploads_path(funding_type: :lead_partner_trainee_summary)))
          row.with_cell(text: funding_upload_last_completed_for(@lead_partner_trainee_summary))
          row.with_cell(text: funding_upload_month_for(@lead_partner_trainee_summary))
        end
        body.with_row(html_attributes: { id: "lead_partner_payment_schedule" }) do |row|
          row.with_cell(text: govuk_link_to("Upload payment schedule", new_funding_uploads_path(funding_type: :lead_partner_payment_schedule)))
          row.with_cell(text: funding_upload_last_completed_for(@lead_partner_payment_schedule))
          row.with_cell(text: funding_upload_month_for(@lead_partner_payment_schedule))
        end
      end
    end %>

    <%= govuk_table do |table|
      table.with_caption(size: "m", text: "Providers")

      table.with_head do |head|
        head.with_row do |row|
          row.with_cell(text: "Task")
          row.with_cell(text: "Last completed")
          row.with_cell(text: "For month")
        end
      end

      table.with_body do |body|
        body.with_row(html_attributes: { id: "provider_trainee_summary" }) do |row|
          row.with_cell(text: govuk_link_to("Upload trainee summary", new_funding_uploads_path(funding_type: :provider_trainee_summary)))
          row.with_cell(text: funding_upload_last_completed_for(@provider_trainee_summary))
          row.with_cell(text: funding_upload_month_for(@provider_trainee_summary))
        end
        body.with_row(html_attributes: { id: "provider_payment_schedule" }) do |row|
          row.with_cell(text: govuk_link_to("Upload payment schedule", new_funding_uploads_path(funding_type: :provider_payment_schedule)))
          row.with_cell(text: funding_upload_last_completed_for(@provider_payment_schedule))
          row.with_cell(text: funding_upload_month_for(@provider_payment_schedule))
        end
      end
    end %>
  </div>
</div>
