<%= render PageTitle::View.new(title: "trainees.contact_details.edit", has_errors: @contact_details_form.errors.present?) %>

<%= content_for(:breadcrumbs) do %>
  <%= render DynamicBackLink::View.new(@trainee, text: t(:back)) %>
<% end %>

<h1 class="govuk-heading-l">Contact details</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= register_form_with(model: @contact_details_form, url: trainee_contact_details_path(@trainee), method: :put, local: true) do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset(:locale_code, legend: { text: "Where does the trainee live?", size: "s" }, classes: "locale") do %>
        <%= f.govuk_radio_button :locale_code, :non_uk, label: { text: "Outside the UK" }, link_errors: true  do %>
          <%= f.govuk_text_area :international_address,
                                width: "one-quarter",
                                label: { text: "Home address" },
                                autocomplete: :disabled %>
        <% end %>

        <%= f.govuk_radio_button :locale_code, :uk, label: { text: "In the UK" } do %>
          <%= f.govuk_fieldset legend: { text: "Home address", size: "s" } do %>
            <%= f.govuk_text_field :address_line_one,
                                   width: "full",
                                   label: { text: "Building and street" },
                                   autocomplete: :disabled %>

            <%= f.govuk_text_field :address_line_two,
                                   width: "full",
                                   label: { text: "Address line 2", hidden: true },
                                   autocomplete: :disabled %>

            <%= f.govuk_text_field :town_city,
                                   width: "two-thirds",
                                   label: { text: "Town or city" },
                                   autocomplete: :disabled %>

            <%= f.govuk_text_field :postcode, width: 10, label: { text: "Postal code" }, autocomplete: :disabled %>
          <% end %>
        <% end %>
      <% end %>

      <%= f.govuk_email_field :email,
                              width: "two-thirds",
                              label: { text: "Email address", size: "s" },
                              autocomplete: :disabled %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>

<%= render(CancelLink::View.new(@trainee)) %>
