<%= render PageTitle::View.new(title: "sign_in.index") %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLink.new(
    text: 'Back',
    href: root_path
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Sign in to Register trainee teachers</h1>

    <p class="govuk-body-m"> Use DfE Sign-in to access your account.</p>

    <% if FeatureService.enabled?("use_dfe_sign_in")%>
      <%= govuk_button_to("Sign in using DfE Sign-in", "/auth/dfe", class: "use_dfe_sign_in") %>
    <% else %>
      <%= govuk_button_link_to "Sign in using Persona", "/personas", class: "use_dfe_sign_in" %>
    <% end %>

    <p class="govuk-body-m">If you do not have a DfE Sign-in account but need access to Register trainee teachers, email

    <%= support_email(subject: "Get access to Register trainee teachers") %>.
    </p>

  </div>
</div>
