<div class="personal-details">
  <%= render PersonalDetails::View.new(
    data_model: trainee,
    editable: trainee_editable?,
    minimal: training_partner_user?,
  ) %>
</div>

<div class="contact-details">
  <%= render ContactDetails::View.new(data_model: trainee, editable: trainee_editable?) %>
</div>

<% unless training_partner_user? %>
  <div class="diversity-details">
    <%= render Diversity::View.new(data_model: trainee, editable: trainee_editable?) %>
  </div>
<% end %>

<% if trainee.requires_degree? %>
  <% if trainee.degrees.any? %>
    <div class="degree-details">
      <%= render Degrees::View.new(
        data_model: trainee,
        show_delete_button: true,
        editable: trainee_editable?,
      ) %>
    </div>
  <% else %>
    <% if trainee_editable? %>
      <%= render CollapsedSection::View.new(
        title: t("components.incomplete_section.degree_details_not_provided"),
        link_text: t("components.incomplete_section.add_degree_details"),
        url: trainee_degrees_new_type_path(trainee),
        has_errors: false,
      ) %>
    <% end %>
  <% end %>
<% end %>
