<%= render PageTitle::View.new(i18n_key: "trainees.apply_applications.course_details.show") %>

<%= content_for(:breadcrumbs) do %>
  <%= render DynamicBackLink::View.new(@trainee, text: t(:back)) %>
<% end %>

<div class="govuk-grid-row">
  <h1 class="govuk-heading-l"><%= t(".summary_title") %></h1>

  <%= render SummaryCard::View.new(trainee: @trainee, title: "Course details", heading_level: 2,
                                   rows: [
                                     {
                                       key: "Course name",
                                       value: "#{@course.name} (#{@course.code})".strip,
                                       action_href: edit_trainee_publish_course_details_path(@trainee),
                                       action_text: t(:change),
                                       action_visually_hidden_text: 'course',
                                     },
                                     {
                                       key: "Route",
                                       value: t("activerecord.attributes.trainee.training_routes.#{@course.route}"),
                                     },
                                   ]) %>

  <%= render GovukButtonLinkTo::View.new(body: "Select the trainee’s specialisms",
                                         url: subject_specialism_path,
                                         class_option: 'select-specialisms') %>
</div>

<%= render(CancelLink::View.new(@trainee)) %>
