<% text = @trainee.early_years_route? ? I18n.t("components.page_titles.trainees.outcome_date.eyts_edit") : I18n.t("components.page_titles.trainees.outcome_date.edit") %>

<%= render PageTitle::View.new(text: text, has_errors: @outcome_form.errors.present?) %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLink.new(
    text: "Back",
    href: trainee_path(@trainee),
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= register_form_with(model: @outcome_form, url: trainee_outcome_details_outcome_date_path(@trainee), local: true) do |f| %>
      <%= f.govuk_error_summary %>

      <span class="govuk-caption-l">
        <%= trainee_name(@trainee) %>
      </span>

        <%= f.govuk_radio_buttons_fieldset(:date_string, legend: { text: text, tag: "h1", size: "l" }, classes: "outcome-date") do %>
          <%= f.govuk_radio_button :date_string, :today, label: { text: "Today" }, link_errors: true %>
          <%= f.govuk_radio_button :date_string, :yesterday, label: { text: "Yesterday" } %>
          <%= f.govuk_radio_button :date_string, :other, label: { text: "On another day" } do %>
            <%= f.govuk_date_field :date, legend: { text: t("views.forms.common.on_what_date"), size: "s" }, hint: { text: "#{t('views.forms.common.for_example')}, 3 12 2020" } %>
          <% end %>
        <% end %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>

<p class="govuk-body"><%= govuk_link_to(t("views.forms.common.cancel_and_return_to_record"), trainee_path(@trainee)) %></p>
