
<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(text: t(:back), href: dead_jobs_path) %>
<% end %>

<div class="govuk-grid-row">
  <div class ="govuk-grid-column-two-thirds-from-desktop">
    <%= render PageTitle::View.new(i18n_key: "dead_jobs.show") %>
  </div>
</div>

<% if dead_job_service.count.zero? %>

  <p class="govuk-body">
    There are no dead jobs
  </p>

<% else %>

  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m"><%= dead_job_service.name %></caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <% dead_job_service.headers&.each do |header| %>
          <% next if header == :job_id %>

          <th scope="col" class="govuk-table__header"><%= header.to_s.humanize %></th>
        <% end %>
        <th scope="col" class="govuk-table__header"> </th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      <% trainees.each do |trainee| %>
        <% row = dead_job_service.rows.select{|row| row[:register_id] == trainee.id}.first %>
          <tr class="govuk-table__row">
            <% row.each do |data| %>
              <% next if data[0] == :job_id %>

              <td class="govuk-table__cell"><%= data[-1] %></td>
            <% end %>
            <td class="govuk-table__cell">
              <div class="govuk-button-group">
                <%= govuk_button_to "View", trainee_path(Trainee.find(row[:register_id])), method: :get, class: "govuk-button--default govuk-!-margin-bottom-0" %>
                <%= govuk_button_to "Retry", dead_job_path(row[:job_id]), method: :put, class: "govuk-button--secondary govuk-!-margin-bottom-0" %>
                <%= govuk_button_to "Delete", dead_job_path(row[:job_id]), method: :delete, class: "govuk-button--warning govuk-!-margin-bottom-0" %>
              </div>
            </td>
          </tr>
        <% end %>
    </tbody>
  </table>

<% end %>

<%= render Paginator::View.new(scope: trainees) %>

