<%= render PageTitle::View.new(i18n_key: "service_updates") %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: t("back"),
    href: root_path,
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l"><%= t(".heading") %></h1>

    <% @service_updates.each do |service_update| %>
      <div class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          <%= link_to service_update.title, service_update_path(service_update.id), class: "govuk-link" %>
        </h2>
        <div class="govuk-body govuk-!-margin-bottom-2"><%= service_update.summary_html %></div>
        <p class="govuk-hint govuk-!-margin-bottom-0"><%= service_update.date.to_date.to_fs(:govuk) %></p>
      </div>
      <% unless service_update == @service_updates.last %>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <% end %>
    <% end %>
  </div>
</div>
