<div class="govuk-grid-row">
  <div class ="govuk-grid-column-two-thirds-from-desktop">
    <%= render PageTitle::View.new(i18n_key: "users.index") %>

    <h1 class="govuk-heading-l">Users</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class ="govuk-grid-column-full">
    <%= render "system_admin/tab_nav" %>

    <p class="govuk-body">
      <%= render GovukComponent::StartButtonComponent.new(
      text: "Add a user",
      href: new_user_path,
    ) %>
    </p>

    <% if params[:search].present? %>
      <h2 class="govuk-heading-m">Results for ‘<%= params[:search] %>’</h2>
      <p class="govuk-body"><%= link_to "Clear search", users_path, class: "govuk-link govuk-link--no-visited-state" %></p>
    <% end %>
    <%= register_form_with url: users_path,
                           method: :get,
                           html: { data: { module: "app-users-autocomplete" } } do |f| %>
      <%= f.govuk_text_field :search,
                             label: { text: "Search for a user", size: "s" },
                             hint: { text: "Search using the person’s name, email, accredited provider or training partner", size: "s" },
                             width: "one-half",
                             "data-field" => "users-autocomplete" %>
      <div id="users-autocomplete-element" class="govuk-!-width-one-half" data-field-name="search"></div>
      <%= f.govuk_submit "Search", class: "submit-search app-no-js-only" %>
    <% end %>

  <table class="govuk-table" summary="Users list">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-fifth no-wrap">Name</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-fifth no-wrap">Email</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-fifth no-wrap">Training Partners</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-fifth no-wrap">Providers</th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      <% @users.each do |user| %>
        <tr class="govuk-table__row user-row">

          <td class="govuk-table__cell">
            <span class="govuk-!-display-block govuk-!-margin-bottom-1">
              <%= govuk_link_to(user.name, user_path(user), class: "govuk-!-display-block user-link") %>
            </span>
          </td>

          <td class="govuk-table__cell">
            <span class="govuk-!-display-block govuk-!-margin-bottom-1">
              <%= user.email %>
            </span>
          </td>

          <td class="govuk-table__cell">
            <span class="govuk-!-display-block govuk-!-margin-bottom-1">
              <% user.training_partners.each do |training_partner| %>
                <%= govuk_link_to(training_partner.name,
                                  training_partner_path(training_partner, context: :users),
                                  class: "govuk-!-display-block") %>
              <% end %>
            </span>
          </td>

          <td class="govuk-table__cell">
            <span class="govuk-!-display-block govuk-!-margin-bottom-1">
              <% user.providers.each do |provider| %>
                <%= govuk_link_to provider.name_and_code,
                                  provider_path(provider, context: :users),
                                  class: "govuk-!-display-block" %>
              <% end %>
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= render Paginator::View.new(scope: @users) %>
  </div>
</div>
