<%= render PageTitle::View.new(i18n_key: "users.new", has_errors: @user.errors.present?) %>

<%= render GovukComponent::BackLinkComponent.new(
      text: "Back",
      href: users_path,
    ) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= register_form_with model: [@user], local: true do |f| %>

      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        Add a user
      </h1>

      <%= f.govuk_text_field :first_name, label: { text: "First Name", size: "s" }, width: 20, autocomplete: :off, maxlength: 255 %>
      <%= f.govuk_text_field :last_name, label: { text: "Last Name", size: "s" }, width: 20, autocomplete: :off, maxlength: 255 %>
      <%= f.govuk_text_field :email, label: { text: "Email address", size: "s" }, width: 20, autocomplete: :off, maxlength: 255 %>
      <%= f.govuk_text_field :dttp_id, label: { text: "DTTP ID", size: "s" }, hint: { text: "You only need this for provider users, not training partner users" }, width: 20, autocomplete: :off %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
