<%= render PageTitle::View.new(text: @user.name) %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(text: t(:back), href: users_path) %>
<% end %>

<h1 class="govuk-heading-l"><%= @user.name %></h1>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">First name</dt>
    <dd class="govuk-summary-list__value"><%= @user.first_name %></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Last name</dt>
    <dd class="govuk-summary-list__value"><%= @user.last_name %></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Email</dt>
    <dd class="govuk-summary-list__value"><%= @user.email %></dd>
  </div>
</dl>

<h2 class="govuk-heading-m">Providers</h2>
<% if @user.providers.any? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <table id="providers" class="govuk-table">
        <caption class="govuk-visually-hidden govuk-table__caption govuk-table__caption--m">Providers</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Remove access</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% @user.providers.each do |provider| %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <%= govuk_link_to provider.name_and_code, provider_path(provider), class: 'provider' %>
              </td>
              <td class="govuk-table__cell">
                <%= govuk_link_to "Remove<span class=\"govuk-visually-hidden\"> access to #{provider.name_and_code}</span>".html_safe,
                                  edit_user_provider_accessions_path(@user, provider),
                                  class: 'remove-access' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <p class="govuk-body govuk-hint">User is not a member of any providers</p>
<% end %>
<%= render GovukButtonLinkTo::View.new(body: "Add user to a provider",
                                       url: new_user_provider_path(@user),
                                       class_option: "govuk-button--secondary add-user-to-provider") %>

<h2 class="govuk-heading-m">Training partners</h2>

<% if @user.training_partners.any? %>
  <div class="govuk-grid-row">
    <div class ="govuk-grid-column-full">
      <table id="training-partners" class="govuk-table">
        <caption class="govuk-visually-hidden govuk-table__caption govuk-table__caption--m">Training partners</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Remove access</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
        <% @user.training_partners.each do |training_partner| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <%= govuk_link_to training_partner.name, training_partner_path(training_partner), class: "training-partner" %>
            </td>
            <td class="govuk-table__cell">
              <%= govuk_link_to "Remove<span class=\"govuk-visually-hidden\"> access to #{training_partner.name}</span>".html_safe,
                                edit_user_training_partner_accessions_path(@user, training_partner),
                                class: 'remove-access' %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <p class="govuk-body govuk-hint">User is not a member of any training partners</p>
<% end %>

<%= render GovukButtonLinkTo::View.new(
  body: "Add user to a training partner",
  url: new_user_training_partner_path(@user),
  class_option: "govuk-button--secondary add-user-training-partner",
) %>

<p class="govuk-body">
  <%= govuk_link_to("Delete this user",
                    delete_user_path(@user),
                    class: "link--delete govuk-link--no-visited-state govuk-body") unless @user.system_admin? %>
</p>
