<%= render PageTitle::View.new(i18n_key: "organisations") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l"><%= t(".heading") %></h1>

    <%- if @providers.any? -%>
      <h2 class="govuk-heading-m">Accrediting providers</h2>
      <ul class="govuk-list">
        <%- @providers.each do |provider| -%>
          <li class="govuk-!-margin-bottom-2">
            <%= govuk_link_to provider.name_and_code,
              organisation_path(id: provider.id, type: "Provider"),
              class: "provider-link govuk-!-font-size-24 govuk-!-font-weight-bold govuk-link govuk-link--no-visited-state" %>
          </li>
        <%- end -%>
      </ul>
    <%- end -%>
    <%- if @lead_partners.any? -%>
      <h2 class="govuk-heading-m">Training partners</h2>
      <p class="govuk-body">As a training partner you can only view records. You cannot change them.</p>
      <ul class="govuk-list govuk-!-margin-bottom-7">
        <%- @lead_partners.each do |lead_partner| -%>
          <li class="govuk-!-margin-bottom-2">
            <%= govuk_link_to lead_partner.name,
              organisation_path(id: lead_partner.id, type: "LeadPartner"),
              class: "training-partner-link govuk-!-font-size-24 govuk-!-font-weight-bold govuk-link govuk-link--no-visited-state" %>
          </li>
        <%- end -%>
      </ul>
      <p class="govuk-body">
        If you need to access a different organisation’s records, contact us at <%= support_email %>
      </p>
    <%- end -%>

    <%- if current_user.no_organisation? -%>
      <%= render("no_organisation") %>
    <%- end -%>
  </div>
</div>
