<%= render PageTitle::View.new(
  text: "Review errors for #{pluralize(error_rows_count, "trainee")} in the CSV file you uploaded",
  has_errors: @recommendations_upload_form.errors.present?,
  ) %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(text: "Back", href: bulk_update_recommendations_upload_summary_path(recommendations_upload)) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop" >
    <%= register_form_with(model: @recommendations_upload_form,
                           url: bulk_update_recommendations_upload_recommendations_errors_path(recommendations_upload)) do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Bulk select</span>
        Review errors for <%= pluralize(error_rows_count, "trainee") %> in the
        CSV file you uploaded
      </h1>

      <p class="govuk-body">
        You cannot select a trainee that now holds
        <%= qts_or_eyts(recommendations_upload.error_rows) %> if there’s an
        error in their row in the CSV file. You need to fix the errors if you want to select them.
      </p>

      <ol class="govuk-list govuk-list--number">
        <li>
          <%= govuk_link_to(
            "Download your CSV file with errors indicated",
            bulk_update_recommendations_upload_recommendations_errors_path(recommendations_upload, format: :csv),
            class: "download-errors"
            ) %>.
        </li>
        <li>
          Fix the errors. If you cannot fix an error, you can delete the row and the trainee will not be selected as holding QTS or EYTS.
        </li>
        <li>
          Upload the CSV file.
          <%= f.govuk_file_field :file, label: { hidden: true } %>
        </li>
      </ol>

      <%= f.govuk_submit "Upload file and check who you've selected" %>
    <% end %>

    <% if awardable_rows_count.positive? %>
      <p class="govuk-body">
        <%= govuk_link_to(
          "Skip trainees with errors and check who you'll select",
          bulk_update_recommendations_upload_recommendations_checks_path(recommendations_upload)
          ) %>
      </p>
    <% end %>

    <p class="govuk-body">
      <%= govuk_link_to("Cancel bulk selecting trainees that now hold QTS or EYTS ", cancel_bulk_update_recommendations_upload_path(recommendations_upload))%>
    </p>
  </div>
</div>
