<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m" >
        <%= t("funding.trainee_summary.table_headings.scholarships.title")%>
      </caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-third">
            <%= t("funding.trainee_summary.column_headings.route_and_course")%>
          </th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-third">
            <%= t("funding.trainee_summary.column_headings.training_partner")%>
          </th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">
            <%= t("funding.trainee_summary.column_headings.trainees")%>
          </th>
          <th nowrap scope="col" class="govuk-table__header govuk-table__header--numeric">
            <%= t("funding.trainee_summary.column_headings.amount_per_trainee")%>
          </th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">
            <%= t("funding.trainee_summary.column_headings.total")%>
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <%- @trainee_summary_view.scholarship_breakdown_rows.each do |scholarship_row| %>
          <% next if scholarship_row[:total] == "—" %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><%= scholarship_row[:route] %><br><%= scholarship_row[:subject] %></td>
            <td class="govuk-table__cell"><%= scholarship_row[:training_partner] %></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= scholarship_row[:trainees] %></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= scholarship_row[:amount_per_trainee] %></td>
            <td class="govuk-table__cell govuk-table__cell--numeric no-wrap"><%= scholarship_row[:total] %></td>
          </tr>
        <%- end -%>
      </tbody>
    </table>
  </div>
</div>
