<%= render PageTitle::View.new(text: t("components.page_titles.funding.trainee_summary", start_year: @start_year, end_year: @end_year)) %>

<%= render "funding/navigation" %>

<h2 class="govuk-heading-l">
  <%= t("funding.trainee_summary.heading", start_year: @start_year, end_year: @end_year)%>
</h2>

<% if @trainee_summary_view.empty? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop" >
      <p class="govuk-body">
        <%= t("funding.trainee_summary.organisation.no_funding") %>
      </p>
      <p class="govuk-body">
        <%= t("funding.trainee_summary.email_line_one") %>
        <%= govuk_mail_to(
          Settings.support_email,
          Settings.support_email,
          subject: t("funding.trainee_summary.email_subject")
        ) %>
        <%= t("funding.trainee_summary.email_line_two") %>
      </p>
    </div>
  </div>
<% else %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <p class="govuk-body"><%= t('funding.trainee_summary.last_updated_at', date: @trainee_summary_view&.last_updated_at) %></p>
      <p class="govuk-body app-export-link-container">
        <span class="app-nowrap">
          <%= govuk_link_to(
                I18n.t('funding.trainee_summary.export_label', start_year: @start_year, end_year: @end_year),
                funding_csv_export_path(:trainee_summary, @organisation),
                class: "app-trainee-export govuk-link--no-visited-state",
                ) %>
        </span>
      </p>
    </div>
  </div>

  <%= render "funding/trainee_summaries/summary" %>

  <%= render "funding/trainee_summaries/bursaries" if @trainee_summary_view.bursary_breakdown_rows.any? %>

  <%= render "funding/trainee_summaries/scholarships" if @trainee_summary_view.scholarship_breakdown_rows.any? %>

  <%= render "funding/trainee_summaries/tiered_bursaries" if @trainee_summary_view.tiered_bursary_breakdown_rows.any? %>

  <%= render "funding/trainee_summaries/grants" if @trainee_summary_view.grant_breakdown_rows.any? %>
<% end %>
