<section class="app-summary-card govuk-!-margin-bottom-6">
  <header class="app-summary-card__header">
    <h<%= heading_level %> class="app-summary-card__title">
      <%= title %>
    </h<%= heading_level %>>
    
    <% if header_actions %>
      <div class="app-summary-card__actions">
        <%= header_actions %>
      </div>      
    <% end %>
  </header>
  <div class="app-summary-card__body">
    <%= render_component GovukComponent::SummaryList.new do |component| %>
      <% rows.each do |row| %>
        <% component.slot(
             :row,
             key: row[:key],
             value: row[:value],
             action: row[:action],
             classes: row[:key].to_s.downcase.gsub(/ /, "-"),
             ) %>
      <% end %>
    <% end %>
  </div>
</section>
