<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop" >
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-xl"><%= organisation_name %></span>
      Your new trainees have been registered
    </h1>

    <table class="govuk-table">
      <tbody class="govuk-table__body"><tr class="govuk-table__row">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Submitted by</th>
          <td class="govuk-table__cell">
            <%= upload.submitted_by.name %>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Date and time</th>
          <td class="govuk-table__cell">
            <%= upload.submitted_at.to_fs(:govuk_date_and_time) %>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Number of registered trainees</th>
          <td class="govuk-table__cell">
            <%= upload.number_of_trainees %>
          </td>
        </tr>
      </tbody>
    </table>

    <p class="govuk-body">
      See the <%= govuk_link_to("status of all your uploaded files", bulk_update_add_trainees_uploads_path) %>.
    </p>
  </div>
</div>
