<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= trainee_draft_title(trainee) %>

    <%= render RouteIndicator::View.new(trainee: @trainee) %>

    <h2 class="govuk-heading-m">
      <%= t("components.heading.draft.#{@trainee.requires_degree? ? "personal_details_and_education" : "personal_details"}") %>
    </h2>

    <%= render TaskList::View.new do |component|
      component.with_row(**row_helper(@trainee, :personal_details))
      component.with_row(**row_helper(@trainee, :contact_details))
      component.with_row(**row_helper(@trainee, :diversity_information))

      if @trainee.requires_degree?
        component.with_row(**row_helper(@trainee, :degree))
      end
    end %>

    <h2 class="govuk-heading-m"><%= t("components.heading.draft.about_their_teaching_training") %></h2>

    <%= render TaskList::View.new do |component|
      if show_publish_courses?(@trainee)
        component.with_row(**row_helper(@trainee, :publish_course_details))
      else
        component.with_row(**row_helper(@trainee, :course_details))
      end

      if @trainee.requires_placements?
        component.with_row(**row_helper(@trainee, :placement_details))
      end

      component.with_row(**row_helper(@trainee, :training_details).except(:hint_text))

      if @trainee.requires_lead_partner?
        component.with_row(**row_helper(@trainee, :training_partner_and_employing_school_details))
      end

      if @trainee.requires_funding?
        component.with_row(**row_helper(@trainee, funding_options(@trainee)))
      end

      if @trainee.requires_iqts_country?
        component.with_row(**row_helper(@trainee, :iqts_country_details))
      end
    end %>
  </div>
</div>
