<%= register_form_with model: [@trainee, @degree_form], local: true do |f| %>
  <%= f.hidden_field :locale_code, value: "non_uk" %>
  <%= f.govuk_error_summary %>
 
  <%= render InformationSummary::View.new(renderable: @trainee.invalid_apply_data? ) do |component| %>
    <% component.header  do %>
      <%= @apply_invalid_data_view.summary_content %>
    <% end %>

    <%= @apply_invalid_data_view.summary_items_content %>
  <% end %>
  

  <h1 class="govuk-heading-l">Non-UK degree details</h1>

  <%= render FormComponents::CountryAutocomplete::View.new(
    form_field: f.govuk_collection_select(:country, 
                                          countries_options,
                                          :value,
                                          :text,
                                          form_group: { class: invalid_data_message("country", @trainee) ? "govuk-form-group govuk-inset-text app-inset-text--narrow-border app-inset-text--important" : "govuk-form-group" },
                                          label: { text: "In which country is the degree institution based?", size: "s", id: "degrees-country-label" }) do 
      render InvalidDataText::View.new(trainee: @trainee, form_section: :country)
    end,
  ) %>

  <%= render FormComponents::Autocomplete::View.new(
    f,
    attribute_name: :subject,
    form_field: f.govuk_select(
      :subject, 
      options_for_select(subjects_options, @degree_form.degree.subject),
      form_group: { 
        class: invalid_data_message("subject", @trainee) ? "govuk-form-group govuk-inset-text app-inset-text--narrow-border app-inset-text--important" : "govuk-form-group"
      },
      label: { text: "Degree subject", size: "s", id: "degrees-subject-label" },
      hint: -> do %>
        <p class="govuk-body govuk-hint"> <%= "Search for the closest matching subject"  %></p> 
        <%= tag.div(invalid_data_message("subject", @trainee), class: "app-inset-text__title govuk-!-margin-bottom-3") %>
      <% end %> 
    <% ),
  ) %>

  <div class="govuk-form-group">
    <%= f.govuk_radio_buttons_fieldset(:non_uk_degree, legend: { text: "Select the UK ENIC comparable degree", size: "s", id: "degrees-non-uk-label" },  
        form_group: { class: invalid_data_message("non_uk_degree", @trainee) ? "govuk-form-group govuk-inset-text app-inset-text--narrow-border app-inset-text--important" : "govuk-form-group" },
        hint: -> do %>
          <%= tag.div(invalid_data_message("non_uk_degree", @trainee), class: "app-inset-text__title govuk-!-margin-bottom-3") %>
        <% end, %>
        <% ) do %>
      <% ENIC_NON_UK.each do |name| %>
        <%= f.govuk_radio_button :non_uk_degree, name, label: { text: name }, link_errors: true %>
      <% end %>
      <%= f.govuk_radio_divider %>
      <%= f.govuk_radio_button :non_uk_degree, :non_enic, label: { text: "UK ENIC not provided" } %>
    <% end %>
  </div>

  <%= f.govuk_text_field :graduation_year,
                         form_group: { class: invalid_data_message("graduation_year", @trainee) ? "govuk-form-group govuk-inset-text app-inset-text--narrow-border app-inset-text--important" : "govuk-form-group" },
                         width: "one-quarter",
                         autocomplete: :disabled, 
                         label: { text: "Graduation year", size: "s", id: "degrees-graduation-year-label", } do 
                            render InvalidDataText::View.new(trainee: @trainee, form_section: :graduation_year, hint: "")
                          end %>

  <%= f.govuk_submit %>
<% end %>
