<%= register_form_with model: [@trainee, @degree_form], local: true do |f| %>
  <%= f.hidden_field :locale_code, value: "non_uk" %>

  <% if f.govuk_error_summary.present? %>
    <%= f.govuk_error_summary %>
  <% else %>
    <%= render ReviewSummary::View.new(form: @degree_form, invalid_data_view: ApplyInvalidDataView.new(@trainee.apply_application)) %>
  <% end %>

  <h1 class="govuk-heading-l">Non-UK degree details</h1>

  <%= render FormComponents::CountryAutocomplete::View.new(
    attribute_name: :country,
    form_field: f.govuk_collection_select(:country, 
                                          countries_options,
                                          :value,
                                          :text,
                                          form_group: { class: invalid_data_message("country", @degree_form.degree) ? "govuk-form-group govuk-inset-text app-inset-text--narrow-border app-inset-text--important" : "govuk-form-group" },
                                          label: { text: "In which country is the degree institution based?", size: "s" }) do
      render InvalidDataText::View.new(degree: @degree_form.degree, form_section: :country)
    end,
  ) %>

  <%= render FormComponents::Autocomplete::View.new(
    f,
    attribute_name: :subject,
    form_field: f.govuk_select(
      :subject, 
      options_for_select(subjects_options, @degree_form.degree.subject),
      form_group: { 
        class: invalid_data_message("subject", @degree_form.degree) ? "govuk-form-group govuk-inset-text app-inset-text--narrow-border app-inset-text--important" : "govuk-form-group"
      },
      label: { text: "Degree subject", size: "s" },
      hint: -> { render InvalidDataText::View.new(degree: @degree_form.degree, form_section: :subject, hint: 'Search for the closest matching subject') }),
  ) %>

  <div class="govuk-form-group" id="non_uk_degree">
    <%= f.govuk_radio_buttons_fieldset(:non_uk_degree, legend: { text: "Select the UK ENIC comparable degree", size: "s" },
        form_group: { class: invalid_data_message("non_uk_degree", @degree_form.degree) ? "govuk-form-group govuk-inset-text app-inset-text--narrow-border app-inset-text--important" : "govuk-form-group" },
        hint: -> {  render InvalidDataText::View.new(degree: @degree_form.degree, form_section: :non_uk_degree)  },
        ) do %>
      <% ENIC_NON_UK.each do |name| %>
        <%= f.govuk_radio_button :non_uk_degree, name, label: { text: name }, link_errors: true %>
      <% end %>
      <%= f.govuk_radio_divider %>
      <%= f.govuk_radio_button :non_uk_degree, :non_enic, label: { text: "UK ENIC not provided" } %>
    <% end %>
  </div>

  <%= f.govuk_text_field :graduation_year,
                         form_group: { class: invalid_data_message("graduation_year", @degree_form.degree) ? "govuk-form-group govuk-inset-text app-inset-text--narrow-border app-inset-text--important" : "govuk-form-group", id: :graduation_year },
                         width: "one-quarter",
                         autocomplete: :disabled, 
                         label: { text: "Graduation year", size: "s" } do
                            render InvalidDataText::View.new(degree: @degree_form.degree, form_section: :graduation_year)
                          end %>

  <%= f.govuk_submit %>
<% end %>
