<%= form_with model: [ @trainee, @degree ], local: true do |f| %>
	<%= f.hidden_field :locale_code, value: "uk" %>

  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-l">Degree Details</h1>

  <%= render_component FormComponents::Autocomplete::View.new(
    form_field: f.govuk_collection_select(:subject, subjects_options,
                                          :name, :name, label: { text: 'Degree subject', size: 's' },
                                          hint: { text: 'Search for the closest matching subject' }),
    html_attributes: {
      "data-show-all-values" => true,
    }
  )%>

  <%= render_component FormComponents::Autocomplete::View.new(
    form_field: f.govuk_collection_select(:uk_degree, hesa_degree_types_options, :name,
                                          :name, label: { text: "Type of degree", size: 's'},
                                          hint: { text: "For example, BA, BSc or other (please specify)" } ),
    html_attributes: {
      "data-show-all-values"=> true,
    }
  ) %>

  <%= render_component FormComponents::Autocomplete::View.new(
    form_field: f.govuk_collection_select(:institution, institutions_options, :name,
                                          :name, label: { text: "Institution", size: 's' },
                                          ),
    html_attributes: {
      "data-show-all-values" => true,
    }
  ) %>

  <%= f.govuk_text_field :graduation_year,
        label: { text: "Graduation year", size: 's' },
        width: "one-quarter"  %>

  <%= f.govuk_radio_buttons_fieldset(:grade,
        legend: { text: "Degree grade", size: 's' },
        classes: "degree-grade" ) do %>

    <% grades.map do |name| %>
      <%= f.govuk_radio_button :grade, name, label: { text: name }, link_errors: true %>
    <% end %>
  <% end %>
  <%= f.govuk_submit %>
<% end %>
