<%= register_form_with model: [@trainee, @degree_form], local: true do |f| %>
  <%= f.hidden_field :locale_code, value: "uk" %>

  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-l">UK degree details</h1>

  <%= render FormComponents::Autocomplete::View.new(
    f,
    attribute_name: :institution,
    form_field: f.govuk_collection_select(:institution, institutions_options, :name,
                                          :name, label: { text: "Institution", size: "s" }),
  ) %>

  <%= render FormComponents::Autocomplete::View.new(
    f,
    attribute_name: :subject,
    form_field: f.govuk_collection_select(:subject, subjects_options,
                                          :name, :name, label: { text: "Degree subject", size: "s" },
                                                        hint: { text: 'Search for the closest matching subject.
                                                         You can start typing to narrow down your search.' }),
  ) %>

  <%= render FormComponents::Autocomplete::View.new(
    f,
    attribute_name: :uk_degree,
    form_field: f.govuk_select(:uk_degree, options_for_select(degree_options, @degree_form.degree.uk_degree), label: { text: "Type of degree", size: "s" }, hint: { text: "For example, BA, BSc or other (please specify)" })
  ) %>

  <%= f.govuk_radio_buttons_fieldset(:grade,
        legend: { text: "Degree grade", size: "s" },
        classes: "degree-grade") do %>

    <% grades.each_with_index do |name, index| %>
      <% if name != "Other" %>
        <%= f.govuk_radio_button :grade, name, label: { text: name }, link_errors: index.zero? %>
      <% else %>
        <%= f.govuk_radio_button :grade, name, label: { text: name } do %>
          <%= f.govuk_text_field :other_grade, label: { text: "Enter the degree grade" }, width: "two-thirds" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= f.govuk_text_field :graduation_year,
        label: { text: "Graduation year", size: "s" },
        width: "one-quarter" %>

  <%= f.govuk_submit %>
<% end %>
