<%= register_form_with model: [@trainee, @degree_form], local: true do |f| %>
  <%= f.hidden_field :locale_code, value: "uk" %>

  <% if f.govuk_error_summary.present? %>
    <%= f.govuk_error_summary %>
  <% else %>
    <%= render ReviewSummary::View.new(form: @degree_form, invalid_data_view: ApplyInvalidDataView.new(@trainee.apply_application)) %>
  <% end %>

  <h1 class="govuk-heading-l">UK degree details</h1>

  <%= render FormComponents::Autocomplete::View.new(
    f,
    attribute_name: :institution,
    form_field: f.govuk_select(:institution, 
                                options_for_select(institutions_options, @degree_form.degree.institution),
                                form_group: {
                                  class: invalid_data_message("institution", @degree_form.degree) ? "govuk-form-group govuk-inset-text app-inset-text--narrow-border app-inset-text--important" : "govuk-form-group"
                                },
                                label: { text: "Institution",
                                  size: "s",
                                },
                                hint: -> { render InvalidDataText::View.new(degree: @degree_form.degree, form_section: :institution) }),
  ) %>

  <%= render FormComponents::Autocomplete::View.new(
    f,
    attribute_name: :subject,
    form_field: f.govuk_select(
      :subject,
      options_for_select(subjects_options, @degree_form.degree.subject),
      form_group: { class: invalid_data_message("subject", @degree_form.degree) ? "govuk-form-group govuk-inset-text app-inset-text--narrow-border app-inset-text--important" : "govuk-form-group" },
      label: { text: "Degree subject", size: "s" },
      hint: -> { render InvalidDataText::View.new(degree: @degree_form.degree, form_section: :subject, hint: 'Search for the closest matching subject') }),
  ) %>

  <%= render FormComponents::Autocomplete::View.new(
    f,
    attribute_name: :uk_degree,
    form_field: f.govuk_select(
      :uk_degree, 
      options_for_select(degree_type_options, @degree_form.degree.uk_degree), 
      form_group: { class: invalid_data_message("uk_degree", @degree_form.degree) ? "govuk-form-group govuk-inset-text app-inset-text--narrow-border app-inset-text--important" : "govuk-form-group" },
      label: { text: "Type of degree", size: "s" },
      hint: -> { render InvalidDataText::View.new(degree: @degree_form.degree, form_section: :uk_degree, hint: 'For example, BA, BSc or other (please specify)') }),
    ) %>

  <%= f.govuk_radio_buttons_fieldset(:grade,
        legend: { text: "Degree grade", size: "s" },
        form_group: { class: invalid_data_message("grade", @degree_form.degree) ? "govuk-form-group govuk-inset-text app-inset-text--narrow-border app-inset-text--important" : "govuk-form-group", id: :grade },
        hint: -> { render InvalidDataText::View.new(degree: @degree_form.degree, form_section: :grade) },
        classes: "degree-grade") do %>

    <% grades.each_with_index do |name, index| %>
      <% if name != "Other" %>
        <%= f.govuk_radio_button :grade, name, label: { text: name }, link_errors: index.zero? %>
      <% else %>
        <%= f.govuk_radio_button :grade, name, label: { text: name } do %>
          <%= f.govuk_text_field :other_grade, label: { text: "Enter the degree grade" }, width: "two-thirds" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= f.govuk_text_field :graduation_year,
        width: "one-quarter",
        form_group: { class: invalid_data_message("graduation_year", @degree_form.degree) ? "govuk-form-group govuk-inset-text app-inset-text--narrow-border app-inset-text--important" : "govuk-form-group", id: :graduation_year },
        label: { text: "Graduation year", size: "s" } do
          render InvalidDataText::View.new(degree: @degree_form.degree, form_section: :graduation_year, hint: "" )
        end %>

  <%= f.govuk_submit %>
<% end %>
