<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <%= form_with model: [@trainee, @degree], local: true do |f| %>
        <%= f.govuk_error_summary %>

          <h2 class="govuk-heading-l">Add undergraduate degree</h2>

          <p class="govuk-body govuk-form-group">
            If the trainee has any other degrees, you can add them next.
          </p>


          <%= f.govuk_radio_buttons_fieldset(:locale_code, legend: { text: "Is this a UK degree?", size: 's' } ) do %>
            <%= f.govuk_radio_button :locale_code, :uk, label: { text: "Yes" }  %>

            <%= f.govuk_radio_button :locale_code, :non_uk, label: { text: "No" }  %>

          <% end %>

        <%= f.govuk_submit("Continue") %>

      <% end %>
  </div>
</div>
