<%= render PageTitle::View.new(title: t("views.forms.training_details.title")) %>

<%= content_for(:breadcrumbs) do %>
  <%= render DynamicBackLink::View.new(@trainee, text: t(:back)) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_for(@training_details_form, url: trainee_training_details_path(@trainee), local: true) do |f| %>
      <h1 class="govuk-heading-l"><%= t("views.forms.training_details.title") %></h1>

      <%= f.govuk_date_field :commencement_date, legend: {
        text: t("views.forms.training_details.commencement_date.label"), size: "s"
      }, hint: { text: t("views.forms.training_details.commencement_date.hint_html", year: Time.zone.now.year) } %>

      <%= f.govuk_text_field :trainee_id, label: {
        text: t("views.forms.training_details.trainee_id.label"), size: "s"
      }, hint: { text: t("views.forms.training_details.trainee_id.hint").html_safe }, width: 20, autocomplete: :off %>

      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
