<%= render PageTitle::View.new(text: t("views.forms.training_details.title"), has_errors: @training_details_form.errors.present?) %>

<%= content_for(:breadcrumbs) do %>
  <%= render DynamicBackLink::View.new(@trainee, text: t(:back)) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= register_form_with(model: @training_details_form, url: trainee_training_details_path(@trainee), method: :put, local: true) do |f| %>
      <%= f.govuk_error_summary %>

      <%= render TraineeName::View.new(@trainee) %>

      <%= f.govuk_text_field :trainee_id, label: {
        text: t("views.forms.training_details.trainee_id.label"), tag: "h1", size: "l"
      }, hint: { text: t("views.forms.training_details.trainee_id.hint").html_safe }, width: 20, autocomplete: :disabled %>

      <%= f.govuk_submit t(:continue) %>
    <% end %>
  </div>
</div>

<p class="govuk-body"><%= govuk_link_to(t("views.forms.common.cancel_and_return_to_record"), trainee_path(@trainee)) %></p>
