<%= render PageTitle::View.new(text: "Export new trainee data for census sign off for the #{@current_academic_cycle_label} academic year") %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: "Reports",
    href: reports_path,
    ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Export new trainee data for census sign off for the <%= @current_academic_cycle_label %> academic year</h1>
    <p class="govuk-body">This export will show the new trainee data you’ve provided to the DfE for trainees who’ve started their initial teacher training (ITT) in the <%= @current_academic_cycle_label %> academic year, and have a trainee start date on or before the second Wednesday of October (sometimes called the ITT census date).</p>
    <p class="govuk-body">For the <%= @current_academic_cycle_label %> academic year, the ITT census date is Wednesday <%= @census_date.strftime(Date::DATE_FORMATS[:govuk]) %>.
    </p>
    <h2 class="govuk-heading-m">What you must do to sign off your new trainee data</h2>
    <p class="govuk-body">Use this export to check you’ve provided accurate data for all your new trainees. You should check for any errors or missing trainees.</p>
    <p class="govuk-body">You must sign off your data by <%= @current_academic_cycle.itt_census_end_date.strftime(Date::DATE_FORMATS[:govuk]) %>. Not submitting and signing off new trainee data by this date will mean that we (the DfE) do not have accurate data on your trainees and they may be excluded from the ITT census publication</p>
    <h2 class="govuk-heading-m">How new trainee data relates to the ITT census publication</h2>
    <p class="govuk-body">After signing off your new trainee data, it gets analysed and filtered for the ITT census publication.</p>
    <p class="govuk-body">Not all your new trainees in this export will be included in the ITT census publication. To understand what data will be used, read the The ITT census is put together using the <a href="https://explore-education-statistics.service.gov.uk/methodology/initial-teacher-training-census-methodology" class="govuk-link" rel="noreferrer noopener" target="_blank">Initial Teacher Training Census methodology (opens in a new tab)</a>.</p>
    <h2 class="govuk-heading-m">New trainees without a start date</h2>
    <p class="govuk-body">Any new trainee who has a course start date on or before <%= @census_date.strftime(Date::DATE_FORMATS[:govuk]) %>, but does not have a trainee start date, will be included in this export.</p>
    <p class="govuk-body">If a new trainee starts their course on or before <%= @census_date.strftime(Date::DATE_FORMATS[:govuk]) %>, you should add their trainee start date as soon as possible (if you’re registering trainees manually in the Register service). Not adding this means we will not know if the trainee has started their course, which could affect funding payments, if the trainee is eligible for funding.</p>
    <h2 class="govuk-heading-m">About this export</h2>
    <p class="govuk-body">This export includes all trainees:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        with their academic start year in <%= @current_academic_cycle_label %>
      </li>
      <li>
        with an ITT course start date on or before the ITT census date
      </li>
      <li>
        with a trainee start date on or before the ITT census date
      </li>
    </ul>
    <p class="govuk-body">If a trainee does not have a trainee start date, they will also be included in this export.</p>
    <p class="govuk-body">This export will not include trainees on the Assessment Only (AO) route or trainees who started training but then withdrew before the ITT census date.</p>

    <%= render ExportWithCountLink::View.new(link_text: "Export #{@current_academic_cycle_label} trainee data", count: itt_new_starter_trainees_count, count_label: "trainee", href: reports_censuses_path(:csv)) do |component| %>
      <% component.no_record_text do %>
        <p>You have no trainees available to export. Check you have registered new trainees for the <%= @current_academic_cycle_label %> academic year.</p>
      <% end %>
    <% end %>

    <h2 class="govuk-heading-m">Sign off your new trainee data</h2>
    <p class="govuk-body">If you have checked your data.</p>

    <%= govuk_button_link_to("Continue to census sign off", new_reports_censuse_path)%>
  </div>
</div>
