<%= f.govuk_error_summary %>

<h1 class="govuk-heading-l govuk-!-margin-bottom-1">
  <%= t("components.page_titles.trainees.lead_schools.index") %>
</h1>

<% if query.present? %>
  <div class="govuk-hint">
    <%= t("components.page_titles.search_schools.sub_text_results") %> ‘<%= query %>’
  </div>
<% end %>


<%= f.hidden_field :lead_school_id, value: nil %>

<%= f.govuk_radio_buttons_fieldset :lead_school_id, legend: nil do %>
  <%= f.hidden_field :school_value, value: "true" %>

    <% @schools.each_with_index do |school, index| %>
      <%= f.govuk_radio_button :lead_school_id, school.id,
                              checked: false,
                              label: { text: school.name },
                              link_errors: index.zero?,
                              hint: { text: school_urn_and_location(school) } %>
    <% end %>

  <%= f.govuk_radio_divider %>
  
  <%= f.govuk_radio_button :lead_school_id,
                          :results_search_again,
                          label: { text: t("components.page_titles.search_schools.search_button") } do %>
    <%= f.govuk_text_field :results_search_again_query,
                          label: { text: t("components.page_titles.search_schools.search_hint") },
                          width: "three-quarters" %>
  <% end %>
<% end %>

<%= render SchoolResultNotice::View.new(
  search_query: query, 
  search_limit: SchoolSearch::DEFAULT_LIMIT, 
  search_count: @schools.unscope(:limit).count
) %>

<%= f.govuk_submit %>
