<h1 class="govuk-heading-l">Lead school</h1>

<%= register_form_with model: @trainee_lead_school_form, url: trainee_lead_schools_path(@trainee), local: true, html: { data: { module: "app-schools-autocomplete" } } do |f| %>
  <div class="govuk-form-group">
    <span class="govuk-hint">Search for a school by it's unique reference number (URN), name or postcode</span>
    <div id="schools-autocomplete-element" class="app-!-autocomplete--max-width-two-thirds"></div>
    <%= f.hidden_field :lead_school_id, id: "lead-school-id" %>
    <noscript>
      <%= f.govuk_text_field :'input-autocomplete', name: "input-autocomplete", label: nil %>
    </noscript>
  </div>
  <%= f.govuk_submit "Continue" %>
<% end %>

<p class="govuk-body"><%= govuk_link_to(t("views.forms.common.cancel_and_return_to_record"), trainee_path(@trainee)) %></p>
