<%= register_form_with(model: @bursary_form, url: trainee_funding_bursary_path(@trainee), method: :put, local: true) do |f| %>
  <%= f.govuk_error_summary %>

  <%= render TraineeName::View.new(@trainee) %>
  <h1 class="govuk-heading-l"><%= t("components.page_titles.trainees.funding.bursaries.edit") %></h1>
  <p class="govuk-body"><%= t("views.forms.funding.bursaries.tiered.description") %></p>

  <p class="govuk-body">
    You can
    <%= govuk_link_to(
      t("views.forms.funding.bursaries.guidance_link_text"),
      t("views.forms.funding.bursaries.guidance_url") + @bursary_form.funding_guidance_url,
      { target: "_blank", rel: "noreferrer noopener" }
    ) %>.
  </p>

<%= f.govuk_radio_buttons_fieldset(:custom_applying_for_grant, legend: { text: "Should the provider be awarded a grant?", size: "m" }) do %>
      <%= f.govuk_radio_button(
        :custom_applying_for_grant,
        "yes",
        label: { text: "Yes" },
        link_errors: true,
      ) %>

      <%= f.govuk_radio_button(
        :custom_applying_for_grant,
        "no",
        label: { text: "No" },
      ) %>
  <% end %>

  <%= f.govuk_radio_buttons_fieldset(:custom_bursary_tier, legend: { text: "Do you want to apply for a bursary for this trainee?", size: "m" }) do %>

    <% Trainee.bursary_tiers.keys.each do |tier_key| %>
      <%= f.govuk_radio_button(
        :custom_bursary_tier,
        tier_key,
        label: { text: t("views.forms.funding.bursaries.tiered.#{tier_key}.label") },
        hint: { text: t("views.forms.funding.bursaries.tiered.#{tier_key}.hint") },
        link_errors: true,
      ) %>
    <% end %>

    <%= f.govuk_radio_divider %>

    <%= f.govuk_radio_button(
      :custom_bursary_tier,
      f.object.class::NONE_TYPE,
      ** {
        label: { text: t("views.forms.funding.funding_type.bursary.none.label") },
      }.merge(@trainee.applying_for_bursary.nil? ? { checked: false } : {}),
    ) %>
  <% end %>

  <%= f.govuk_submit %>
<% end %>
