<%= register_form_with(model: @bursary_form, url: trainee_funding_bursary_path(@trainee), method: :put, local: true) do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-l"><%= t("components.page_titles.trainees.funding.bursaries.edit") %></h1>
  <p class="govuk-body">
    <%= t(
      (@trainee.early_years_route? ? "views.forms.funding.bursaries.non_tiered.early_years_description" : "views.forms.funding.bursaries.non_tiered.description"),
      amount: format_currency(@amount),
      subject: @subject,
      training_route: t("activerecord.attributes.trainee.training_routes.#{@trainee.training_route}"),
    ) %>
  </p>

  <p class="govuk-body">
    <%= govuk_link_to(
      t("views.forms.funding.bursaries.#{@trainee.early_years_route? ? 'early_years_guidance_link_text' : 'guidance_link_text'}"),
      t("views.forms.funding.bursaries.#{@trainee.early_years_route? ? 'early_years_guidance_url' : 'guidance_url'}"),
      { target: "_blank", rel: "noreferrer noopener" }
    ) %>
  </p>

  <%= f.govuk_radio_buttons_fieldset(:funding_type, legend: { text: t("views.forms.funding.bursaries.title"), size: "m" }) do %>
      <%= f.govuk_radio_button(
        :funding_type,
        FUNDING_TYPE_ENUMS[:bursary],
        label: { text: t("views.forms.funding.funding_type.bursary.label") },
        link_errors: true,
      ) %>

      <% if @bursary_form.can_apply_for_scholarship? %>
        <div class="govuk-radios__divider">or</div>

        <%= f.govuk_radio_button(
          :funding_type,
          FUNDING_TYPE_ENUMS[:scholarship],
          hint: { text: t("views.forms.funding.funding_type.scholarship.hint", amount: format_currency(@bursary_form.scholarship_amount)) },
          label: { text: t("views.forms.funding.funding_type.scholarship.label") },
        ) %>
      <% end %>

      <%= f.govuk_radio_button(
        :funding_type,
        f.object.class::NONE_TYPE,
        hint: { text: t("views.forms.funding.funding_type.none.hint") },
        label: { text: t("views.forms.funding.funding_type.none.label") },
      ) %>
  <% end %>

  <%= f.govuk_submit %>
<% end %>
