<%= register_form_with(model: @bursary_form, url: trainee_funding_bursary_path(@trainee), method: :put, local: true) do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-l"><%= t("components.page_titles.trainees.funding.bursaries.edit") %></h1>
  <p class="govuk-body"><%= t("views.forms.funding.bursaries.tiered.description") %></p>

  <p class="govuk-body">
    <%= govuk_link_to(
      t("views.forms.funding.bursaries.guidance_link_text"),
      t("views.forms.funding.bursaries.guidance_url"),
      { target: "_blank", rel: "noreferrer noopener" }
    ) %>
  </p>

  <%= f.govuk_radio_buttons_fieldset(:funding_type, legend: { text: t("views.forms.funding.bursaries.title"), size: "m" }) do %>

    <% Trainee.bursary_tiers.keys.each do |tier_key| %>
      <%= f.govuk_radio_button(
        :funding_type,
        tier_key,
        label: { text: t("views.forms.funding.bursaries.tiered.#{tier_key}.label") },
        hint: { text: t("views.forms.funding.bursaries.tiered.#{tier_key}.hint") },
        link_errors: true,
      ) %>
    <% end %>

    <%= f.govuk_radio_divider %>

    <%= f.govuk_radio_button(
      :funding_type,
      f.object.class::NONE_TYPE,
      {
        hint: { text: t("views.forms.funding.funding_type.none.hint") },
        label: { text: t("views.forms.funding.funding_type.none.label") },
      }.merge(@trainee.applying_for_bursary.nil? ? { checked: false } : {} )
    ) %>
  <% end %>

  <%= f.govuk_submit %>
<% end %>
