<p class="govuk-body">
  It included:
</p>

<ul class="govuk-list govuk-list--bullet">
  <% if awardable_rows_count.positive? %>
    <li>
      <%= pluralize(awardable_rows_count, "trainee") %> with <%= qts_or_eyts(recommendations_upload.awardable_rows) %> who will be selected.
    </li>
  <% end %>

  <% if missing_date_rows_count.positive? %>
    <li>
      <%= pluralize(missing_date_rows_count, "trainee") %>  who will not be
      selected, as you did not give a date when they met the
      <%= qts_or_eyts(recommendations_upload.awardable_rows) %> standards
    </li>
  <% end %>

  <% if error_rows_count.positive? %>
    <li>
      <%= pluralize(error_rows_count, "trainee") %> with errors
    </li>
  <% end %>
</ul>

<% if error_rows_count.positive? %>
  <p class="govuk-body">
    You need to review the errors before you can bulk select trainees.
  </p>

  <%= govuk_link_to("Review errors", bulk_update_recommendations_upload_recommendations_errors_path(recommendations_upload), class: "govuk-button") %>
<% else %>
  <%= govuk_link_to("Check who you've selected", bulk_update_recommendations_upload_recommendations_checks_path(recommendations_upload), class: "govuk-button") %>
<% end %>
