<%= render PageTitle::View.new(text: "Check who you’ll recommend for QTS or EYTS") %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(text: "Home", href: root_path) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop" >
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-xl"><%= current_user.organisation.name %></span>
      Check who you’ll recommend for QTS or EYTS
    </h1>

    <%= register_form_with url: bulk_update_recommendations_upload_recommendations_path, method: :post, local: true do |f| %>
      <%= f.govuk_submit("Recommend {COUNT} trainees for QTS or EYTS", id: "recommend") %>
    <% end %>
  </div>
</div>