<%= render PageTitle::View.new(text: "Change which trainees’ status is changing QTS or EYTS") %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(text: "Back", href: bulk_update_recommendations_upload_recommendations_checks_path(recommendations_upload)) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop" >
    <%= register_form_with(model: @recommendations_upload_form, url: bulk_update_recommendations_upload_path(params[:id]), method: :patch) do |f| %>
      <%= f.govuk_error_summary(presenter: ErrorSummaryShowAllMessagesPresenter) %>

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Bulk recommend</span>
        Change which trainees’ status is changing QTS or EYTS
      </h1>

      <p class="govuk-body">
        You can edit your CSV file to change which trainees are changing status.
      </p>

      <ol class="govuk-list govuk-list--number">
        <li>
          To change a trainee's status, add the date when they gained QTS or EYTS.
          If you remove the date then the trainee's status will not change.
        </li>
        <li>
          Upload the CSV file.
          <%= f.govuk_file_field :file, label: { hidden: true } %>
        </li>
      </ol>

      <%= f.govuk_submit "Upload file and check whose status has changed" %>
    <% end %>

    <p class="govuk-body">
      <%= govuk_link_to("Return to check whose status is changing without making changes", bulk_update_recommendations_upload_recommendations_checks_path(recommendations_upload)) %>
    </p>
  </div>
</div>
