<%= render PageTitle::View.new(
  text: "Bulk select trainees that now hold QTS or EYTS",
  has_errors: @recommendations_upload_form.errors.present?,
  ) %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(text: "Back", href: bulk_update_path) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <%= register_form_with(model: @recommendations_upload_form, url: bulk_update_recommendations_uploads_path) do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl"><%= organisation_name %></span>
        Bulk select trainees that now hold QTS or EYTS
      </h1>

      <p class="govuk-body"> You have <%= pluralize(bulk_recommend_count, "trainee")  %> that can be selected to hold QTS or EYTS.</p>

      <p class="govuk-body">After the trainees are selected, we will update our records to show they hold QTS or EYTS (where appropriate) within <span class="app-nowrap">3 working days</span>.</p>

      <h2 class="govuk-heading-l">How to select trainees that now hold QTS or EYTS</h2>

      <h3 class="govuk-heading-m">
        1. Choose a file to download
      </h3>

      <p class="govuk-body">
        Download and add trainee information to one of these files.
      </p>

      <h4 class="govuk-heading-m">Prepopulated file</h4>

      <p class="govuk-body">
        This file contains all <%= pluralize(bulk_recommend_count, "trainee")  %> that now hold QTS or EYTS.
      </p>

      <p class="govuk-body">
        Delete any trainees that do not hold QTS or EYTS.
      </p>

      <p class="govuk-body">
        <%= govuk_link_to("Download a prepopulated file to select trainees that now hold QTS or EYTS", bulk_recommend_export_reports_path(:csv), class: "govuk-link--no-visited-state") %>
      </p>

      <p class="govuk-body">
        File name: <span class="app-nowrap"><%= organisation_filename_prepopulated %></span>
      </p>

      <h4 class="govuk-heading-m">Empty template file</h4>

      <p class="govuk-body">
        This file has the column headings ‘TRN’, ‘Provider trainee ID’ and ‘Date QTS or EYTS requirement met’.
      </p>

      <p class="govuk-body">
        Add the trainees you want to select to hold QTS or EYTS.
      </p>

      <p class="govuk-body">
        <%= govuk_link_to("Download an empty template file to select trainees for QTS or EYTS", bulk_recommend_empty_export_reports_path(:csv), class: "govuk-link--no-visited-state") %>
      </p>

      <p class="govuk-body">
        File name: <span class="app-nowrap"><%= organisation_filename_empty %></span>
      </p>

      <h3 class="govuk-heading-m">
        2. Add the date each trainee met QTS or EYTS
      </h3>

      <p class="govuk-body">
        Open the file in <span class="app-nowrap">spreadsheet software</span> (for example, <span class="app-nowrap">Microsoft Excel</span>).
      </p>

      <p class="govuk-body">In the column ‘Date requirement met’ add the date the trainee met QTS or EYTS standards.</p>

      <p class="govuk-body">
        The date must be written in the format <span class="app-nowrap">‘DD/MM/YYYY’</span>.
        For example, if the trainee met the standard on <span class="app-nowrap">20 June 2023</span>, write <span class="app-nowrap">‘20/06/2023’</span>.
      </p>

      <h3 class="govuk-heading-m">
        3. Upload the trainee record file
      </h3>

      <p class="govuk-body">
        You will be able to check the trainee’s details after uploading the file.
      </p>

      <%= f.govuk_file_field(:file, label: {  text: "Upload a file" }, hint: { text: "File type must be ‘csv’"}, accept: ".csv") %>

      <%= f.govuk_submit("Upload file and check who you've selected") %>

    <% end %>
  </div>
</div>
