<%= render PageTitle::View.new(
  text: "Bulk recommend trainees for QTS or EYTS",
  has_errors: @recommendations_upload_form.errors.present?,
  ) %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(text: "Back", href: bulk_update_path) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <%= register_form_with(model: @recommendations_upload_form, url: bulk_update_recommendations_uploads_path) do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl"><%= @navigation_view.organisation_name %></span>
        Bulk recommend trainees for QTS or EYTS
      </h1>

      <p class="govuk-body"> You have <%= pluralize(bulk_recommend_count, "trainee")  %> that you can recommend for QTS or EYTS.</p>

      <p class="govuk-body">After you recommend trainees for QTS or EYTS, the DfE will award QTS or EYTS (where appropriate) within <span class="app-nowrap">3 working days</span>.</p>

      <h2 class="govuk-heading-l">How to recommend trainees</h2>

      <h3 class="govuk-heading-m">
        1. Export a template file
      </h3>

      <p class="govuk-body">This file contains all <%= pluralize(bulk_recommend_count, "trainee")  %> that can be recommended for QTS or EYTS.</p>

      <p class="govuk-body">Delete any trainees you do not want to recommened.</p>

      <p class="govuk-body">
        <%= govuk_link_to("Download a prepopulated file to recommend trainees for QTS or EYTS", bulk_recommend_export_reports_path(:csv), class: "govuk-link--no-visited-state") %>
      </p>

      <p class="govuk-hint govuk-!-margin-bottom-4">File name: <span class="app-nowrap"><%= organisation_filename_prepopulated %></span></p>

      <h3 class="govuk-heading-m">
        2. Add the date each trainee met QTS or EYTS
      </h3>

      <p class="govuk-body">
        Open the file in <span class="app-nowrap">spreadsheet software</span> (for example, <span class="app-nowrap">Microsoft Excel</span>).
      </p>

      <p class="govuk-body">In the column ‘Date standards met’ add the date the trainee met QTS or EYTS standards.</p>

      <p class="govuk-body">
        The date must be written in the format <span class="app-nowrap">‘DD/MM/YYYY’</span>.
        For example, if the trainee met the standard on <span class="app-nowrap">20 June 2023</span>, write <span class="app-nowrap">‘20/07/2023’</span>.
      </p>

      <h3 class="govuk-heading-m">
        3. Upload the trainee record file
      </h3>

      <p class="govuk-body">
        You will be able to check the trainee’s details after uploading the file.
      </p>

      <%= f.govuk_file_field(:file, label: {  text: "Upload a file" }, hint: { text: "File type must be ‘csv’"}, accept: ".csv") %>

      <%= f.govuk_submit("Upload file and check who you’ll recommend") %>

    <% end %>
  </div>
</div>
