<%= render PageTitle::View.new(
  text: "Bulk change trainee statuses with QTS or EYTS",
  has_errors: @recommendations_upload_form.errors.present?,
  ) %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(text: "Back", href: bulk_update_path) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <%= register_form_with(model: @recommendations_upload_form, url: bulk_update_recommendations_uploads_path) do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl"><%= organisation_name %></span>
        Bulk change trainee statuses with QTS or EYTS
      </h1>

      <p class="govuk-body"> You can update the status of <%= pluralize(1, "trainee record") %> with QTS or EYTS. Trainee statuses will be updated within 3 days.</p>



      <h2 class="govuk-heading-l">How to change trainee statuses:</h2>

      <h3 class="govuk-heading-m">
        1. Choose a file to download
      </h3>

      <p class="govuk-body">
        Download and add trainee information to one of these files.
      </p>

      <h4 class="govuk-heading-m">Prepopulated file</h4>

      <p class="govuk-body">
        This file contains all <%= pluralize(bulk_recommend_count, "trainee")  %> that can have their QTS or EYTS status updated.
      </p>

      <p class="govuk-body">
        Delete any trainees whose status will not change.
      </p>

      <p class="govuk-body">
        <%= govuk_link_to("Download a prepopulated file", bulk_recommend_export_reports_path(:csv), class: "govuk-link--no-visited-state") %>
      </p>

      <h4 class="govuk-heading-m">Empty template file</h4>

      <p class="govuk-body">
        This file has the column headings ‘TRN’, ‘Provider trainee ID’ and ‘Date QTS or EYTS standards met’.
      </p>

      <p class="govuk-body">
        Add the trainees whose status will change.
      </p>

      <p class="govuk-body">
        <%= govuk_link_to("Download an empty template", bulk_recommend_empty_export_reports_path(:csv), class: "govuk-link--no-visited-state") %>
      </p>

      <h3 class="govuk-heading-m">
        2. Add the date each trainee’s status changed

      </h3>

      <p class="govuk-body">
        Open the file in <span class="app-nowrap">spreadsheet software</span> (for example, <span class="app-nowrap">Microsoft Excel</span>).
      </p>

      <p class="govuk-body">In the column ‘Date of status change’ add the date the trainee's QTS or EYTS status changed.</p>

      <p class="govuk-body">
        The date must be written in the format <span class="app-nowrap">‘DD/MM/YYYY’</span>.

      </p>

      <h3 class="govuk-heading-m">
        3. Upload the file you have updated

      </h3>

      <p class="govuk-body">
        You will be able to check the trainee’s details after uploading the file.
      </p>

      <%= f.govuk_file_field(:file, label: {  text: "Upload a file" }, hint: { text: "File type must be ‘csv’"}, accept: ".csv") %>

      <%= f.govuk_submit("Upload file") %>

    <% end %>
  </div>
</div>
