<%= render PageTitle::View.new(text: "Upload summary") %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(text: "Back", href: new_bulk_update_recommendations_upload_path) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop" >
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-xl">Bulk select</span>
      Upload summary
    </h1>

    <p class="govuk-body">
      You uploaded a CSV file with details of
      <%= pluralize(total_rows_count, "trainee") %>.
    </p>

    <% if awardable_rows_count == total_rows_count %>
      <%= render("summary_all_dates") %>
    <% elsif error_rows_count == total_rows_count %>
      <%= render("summary_all_errors") %>
    <% else %>
      <%= render("summary_bullets") %>
    <% end %>

    <p class="govuk-body">
      <%= govuk_link_to("Cancel bulk selecting trainees", cancel_bulk_update_recommendations_upload_path(recommendations_upload))%>
    </p>
  </div>
</div>
