<div class="app-summary-card__body">
  <dl class="govuk-summary-list" style="overflow:hidden;">
    <% if dqt_data.present? %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          <%= dqt_data["name"] %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          <%= date_of_birth %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          ITT result
        </dt>
        <dd class="govuk-summary-list__value">
          <%= itt_result %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          QTS date
        </dt>
        <dd class="govuk-summary-list__value">
          <%= qts_date %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Full API response
        </dt>
        <dd class="govuk-summary-list__value">
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                <%= date %>
              </span>
            </summary>
            <div class="govuk-details__text">
              <h3 class="govuk-heading-m">General</h3>
              <%= govuk_summary_list(rows: general) %>

              <h3 class="govuk-heading-m govuk-!-margin-top-6">Qualified teacher status</h3>

              <% if qualified_teacher_status.present? %>
                <%= govuk_summary_list(rows: qualified_teacher_status) %>
              <% else %>
                No data
              <% end %>

              <h3 class="govuk-heading-m govuk-!-margin-top-6">Induction</h3>

              <% if induction.present? %>
                <%= govuk_summary_list(rows: induction) %>
              <% else %>
                No data
              <% end %>

              <h3 class="govuk-heading-m govuk-!-margin-top-6">Initial teacher training</h3>

              <% if initial_teacher_training.present? %>
                <%= govuk_summary_list(rows: initial_teacher_training) %>
              <% else %>
                No data
              <% end %>

              <h3 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-4"><%= "Qualification".pluralize(qualification_count) %></h3>

              <% if qualifications.present? %>
                <%= govuk_summary_list(rows: qualifications) %>
              <% else %>
                No data
              <% end %>

            </div>
          </details>
        </dd>
      </div>
    <% else %>
      <p class="govuk-body">
        Data not available
      </p>
    <% end %>
  </dl>
</div>
