<div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    <%= "Select lead school to add to #{@user.name}" %>
  </label>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <%= register_form_with model: [@user, School.new], url: user_lead_schools_path(@user), local: true do |f| %>

        <%= f.govuk_error_summary %>

        <h1 class="govuk-heading-l">
          Add a lead school for <%= @user.name %>
        </h1>

        <p><%= f.govuk_select(:lead_school, @lead_schools.map(&:name), label: { text: "Add lead school", size: "s" }, width: 20, autocomplete: :enabled, class: 'lead-school-select') %></p>

        <%= f.govuk_submit %>
      <% end %>
    </div>
  </div>
</div>
