<div class="govuk-form-group">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <%= register_form_with model: @lead_school_form, url: user_lead_schools_path(@user), local: true,
                             html: { data: { module: "app-schools-autocomplete" } } do |f| %>
        <%= f.govuk_error_summary %>
        <%= f.hidden_field :lead_school_id, id: "school-id" %>

        <%= f.govuk_text_field(
          :query,
          label: { text: "Add a lead school for #{@user.name}", size: "l", tag: "h1" },
          hint: { text: "Search for a school by its unique reference number (URN), name or postcode" },
          value: params[:query],
          "data-field" => "schools-autocomplete",
          width: "three-quarters",
        ) %>

        <div id="schools-autocomplete-element" class="govuk-!-width-three-quarters" data-only-lead-schools=true
            data-default-value="<%= params[:query] %>" data-field-name="system_admin_user_lead_schools_form[query]"></div>

        <%= f.govuk_submit %>
      <% end %>
    </div>
  </div>
</div>
