<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-l"><%= persona.name %><%= ' (System Admin)' if persona.system_admin? %></h2>

<div>
  <p class="govuk-body">
    Belongs to <strong><%= persona.provider.name %></strong> and is responsible for managing users.
  </p>
</div>

<%= form_with url: "/auth/developer/callback" do |f| %>
  <%= hidden_field_tag "email", persona.email %>
  <%= hidden_field_tag "first_name", persona.first_name %>
  <%= hidden_field_tag "last_name", persona.last_name %>
  <%= f.submit "Login as " + persona.name, class: "govuk-button govuk-!-margin-bottom-2" %>
<% end %>
