<h2 class="govuk-heading-m">
  Your 2020 to 2021 trainees
</h2>

<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-one-third">
    <%= render TraineeStatusCard::View.new(state: :draft, target: trainees_path("state[]": "draft"), user: current_user) %>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render TraineeStatusCard::View.new(state: :submitted_for_trn, target: trainees_path("state[]": "submitted_for_trn"), user: current_user) %>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render TraineeStatusCard::View.new(state: :trn_received, target: trainees_path("state[]": "trn_received"),user: current_user) %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter"> 
    <%= render TraineeStatusCard::View.new(state: :recommended_for_qts, target: trainees_path("state[]": "recommended_for_qts"), user: current_user) %>
  </div>
  <div class="govuk-grid-column-one-quarter"> 
    <%= render TraineeStatusCard::View.new(state: :qts_awarded, target: trainees_path("state[]": "qts_awarded"), user: current_user) %>
  </div>
  <div class="govuk-grid-column-one-quarter"> 
    <%= render TraineeStatusCard::View.new(state: :deferred, target: trainees_path("state[]": "deferred"), user: current_user) %>
  </div>
  <div class="govuk-grid-column-one-quarter"> 
    <%= render TraineeStatusCard::View.new(state: :withdrawn, target: trainees_path("state[]": "withdrawn"), user: current_user) %>
  </div>
</div>
