<%= render_component PageTitle::View.new(title: "pages.accessibility") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Accessibility statement for <%= I18n.t('service_name') %></h1>

    <p class="govuk-body">This service is run by the Becoming a Teacher team at the Department for Education.
      We want as many people as possible to be able to use the service. For example, that means users should be able to:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>change colours, contrast levels and fonts</li>
      <li>zoom in up to 300% without the text spilling off the screen</li>
      <li>navigate most of the service using just a keyboard</li>
      <li>navigate most of the service using speech recognition software</li>
      <li>
        listen to most of the content on the service using a screen reader (including the most recent versions of JAWS,
        NVDA and VoiceOver)
      </li>
    </ul>

    <p class="govuk-body">We’ve also made the text on the service as simple as possible to understand.</p>

    <p class="govuk-body">
      <%= govuk_link_to "AbilityNet", "https://mcmw.abilitynet.org.uk/" %> has advice on making your device easier to
      use if you have a disability.
    </p>

    <h2 class="govuk-heading-m">Technical information about this service’s accessibility</h2>

    <p class="govuk-body">
      The Becoming a Teacher team (DfE) is committed to making <%= I18n.t('service_name') %> accessible,
      in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility
      Regulations 2018.
    </p>

    <p class="govuk-body">
      The service was designed using the <%= govuk_link_to "GOV.UK Design System", "https://design-system.service.gov.uk/accessibility/" %>,
      which conforms to the WCAG 2.1 AA standard. To ensure the service fully meets the WCAG 2.1 AA standard,
      we are currently arranging an accessibility audit. We will update this page following the audit,
      and publish details of any accessibility issues identified.
    </p>

    <h2 class="govuk-heading-m">
      Reporting accessibility problems with <%= I18n.t('service_name') %>
    </h2>

    <p class="govuk-body">
      If you think we’re not meeting accessibility requirements, or you’d like to access any information in a
      different format (such as accessible PDF, large print, easy read, audio recording or braille), contact
      <%= govuk_mail_to 'registerateacher@digital.education.gov.uk', 'registerateacher@digital.education.gov.uk' %>.
      Include ‘Accessibility issues’ in the subject line of your email.
    </p>

    <h2 class="govuk-heading-m">Enforcement procedure</h2>

    <p class="govuk-body">
      The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies
      (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).
      If you’re not happy with how we respond to your complaint,
      <%= govuk_link_to "contact the Equality Advisory and Support Service (EASS)", "https://www.equalityadvisoryservice.com/" %>.
    </p>

    <p class="govuk-body">
      This statement was prepared on 17 November 2019.
    </p>
  </div>
</div>
