<%= render PageTitle::View.new(i18n_key: "pages.dttp_replaced") %>

<div class="govuk-grid-row govuk-main-wrapper--auto-spacing">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l"><%= t(".heading") %></h1>

    <p class="govuk-body"><%= t(".use_register") %></p>

    <%= govuk_link_to t(".button_text"), root_path, class: "govuk-button" %>

    <p class="govuk-body"><%= t(".support") %>
      <%= govuk_mail_to(Settings.support_email, Settings.support_email, subject: t("pages.request_an_account.email_subject")) %>
    </p>
  </div>
</div>
