<%= render PageTitle::View.new(title: "pages.home") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l"><%= t(".heading") %></h1>

    <p class="govuk-body-l"> <%= t(".body.1") %></p>

    <% unless current_user.system_admin? %>
      <p class="govuk-body govuk-!-margin-bottom-0">
        <%= render GovukComponent::StartNowButton.new(
          text: t(".new_trainee_link"),
          href: new_trainee_path,
        ) %>
      </p>
    <% end %>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">
      <%= govuk_link_to t(".trainees_link"), trainees_path, { class: "govuk-link govuk-link--no-visited-state" } %>
    </h2>
    <p class="govuk-body"><%= t(".trainees_link_desc") %></p>
  </div>

  <% if FeatureService.enabled?("enable_feedback_link") %>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        <%= govuk_link_to t(".give_feedback_link"), Settings.feedback_link_url, { class: "govuk-link govuk-link--no-visited-state" } %>
      </h2>
      <p class="govuk-body"><%= t(".give_feedback_link_desc") %></p>
    </div>
  <% end %>

  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">
      <%= govuk_link_to t(".guidance_link"), guidance_path, { class: "govuk-link govuk-link--no-visited-state" } %>
    </h2>
    <p class="govuk-body"><%= t(".guidance_link_desc") %></p>
  </div>
</div>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <%= render "badges" %>
