<%= render PageTitle::View.new(title: "pages.privacy_policy") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <span class="govuk-caption-l">Privacy policy</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-9"><%= t("components.page_titles.pages.privacy_policy") %></h1>

    <p class="govuk-body">
      This service allows you to share trainee data with the Department for Education (DfE).
    </p>

    <p class="govuk-body">
      However, by using the service, you’ll also be sharing some information about you.
    </p>

    <p class="govuk-inset-text">
      This privacy policy is about your personal data, as opposed to your trainee data.
    </p>

    <p class="govuk-body">
      With regard to your trainee data, remember to meet your obligations under the General
      Data Protection Legislation (GDPR) as a data controller for their information.
    </p>

    <p class="govuk-body govuk-!-margin-bottom-7">
      You can
      <%= govuk_link_to "read about your data protection obligations by visiting the Information Commissioner’s Office (ICO) website",
                        "https://ico.org.uk/for-organisations/" %>.
    </p>

    <h2 class="govuk-heading-m">
      In this privacy policy
    </h2>

    <ul class="govuk-list app-list--dash govuk-!-margin-bottom-8">
      <li>
        <%= govuk_link_to "What personal data we collect and why", "#what-personal-data-we-collect-and-why"  %>
      </li>
      <li>
        <%= govuk_link_to "Our lawful basis for processing your personal data", "#our-lawful-basis-for-processing-your-personal-data"  %>
      </li>
      <li>
        <%= govuk_link_to "How we use third parties to process your data", "#how-we-use-third-parties-to-process-your-data" %>
      </li>
      <li>
        <%= govuk_link_to "How long we keep your personal data", "#how-long-we-keep-your-personal-data" %>
      </li>
      <li>
        <%= govuk_link_to "Raise a concern", "#raise-a-concern" %>
      </li>
      <li>
        <%= govuk_link_to "Keep up to date", "#keep-up-to-date" %>
      </li>
    </ul>

    <h2 class="govuk-heading-m" id="what-personal-data-we-collect-and-why">
      What personal data we collect and why
    </h2>

    <p class="govuk-body">
      We (DfE) use your personal data to run and improve Register trainee teachers.
    </p>

    <p class="govuk-body">
      We collect your name and email address so that we can:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>enable you to access Register trainee teachers</li>
      <li>validate your role in your organisation</li>
      <li>send important updates about the service</li>
      <li>get in touch with you about any queries you raise</li>
      <li>ask if you would like to take part in user research</li>
      <li>record a timeline of your activity so that you can review trainee progress</li>
      <li>create log files of your activity and any error messages you come across</li>
    </ul>

    <p class="govuk-body govuk-!-margin-bottom-7">
      If you take part in user research, you may choose to share additional information about you.
    </p>

    <h2 class="govuk-heading-m" id="our-lawful-basis-for-processing-your-personal-data">
      Our lawful basis for processing your personal data
    </h2>

    <p class="govuk-body">
      Running and improving the service is a public task, as defined in data protection law. However, we ask
      for your consent to take part in user research.
    </p>

    <p class="govuk-body govuk-!-margin-bottom-7">
      <%= govuk_link_to "Read about consent and public task on the Information Commissioner’s Office (ICO) website",
                        "https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/lawful-basis-for-processing/" %>
    </p>

    <h2 class="govuk-heading-m" id="how-we-use-third-parties-to-process-your-data">
      How we use third parties to process your data
    </h2>

    <p class="govuk-body">
      Some of your personal information is processed by other types of services, listed below. They allow us
      to run and improve Register trainee teachers.
    </p>

    <p class="govuk-body">
      As the data controller for your information, we take responsibility for choosing third party data processors
      who have the necessary safeguards in place to keep your personal data safe.
    </p>

    <h3 class="govuk-heading-s">
      Customer service management systems
    </h3>

    <p class="govuk-body">We use Zendesk to manage and respond to your queries.</p>

    <p class="govuk-body">
      <%= govuk_link_to "Visit the Zendesk website to find out how they use and look after your data (“service data”)",
                        "https://www.zendesk.co.uk/company/privacy-and-data-protection/#faq-general-1" %>
    </p>

    <h3 class="govuk-heading-s">Website hosting services</h3>

    <p class="govuk-body">We use GOV.UK PaaS to enable us to run the service.</p>

    <p class="govuk-body">
      <%= govuk_link_to "Visit the GOV.UK PaaS website to find out how they use and look after your data (“end user data”)",
                        "https://www.cloud.service.gov.uk/privacy-notice/#what-data-we-collect-from-end-users" %>
    </p>

    <h3 class="govuk-heading-s">Error and activity logging services</h3>

    <p class="govuk-body">
      We need to keep some records so that we can identify and fix problems with the service. We use Sentry to
      monitor errors and Logit to keep activity logs.
    </p>

    <p class="govuk-body">
      We do not identify you from these records unless needed - for example, to investigate an issue you raise.
    </p>

    <p class="govuk-body">
      <%= govuk_link_to "Visit the Sentry website to read about their security practices", "https://sentry.io/security/" %>
    </p>

    <p class="govuk-body">
      <%= govuk_link_to "Visit the Logit website to read about their security practices", "https://logit.io/security" %>
    </p>

    <h3 class="govuk-heading-s">User research tools</h3>

    <p class="govuk-body">
      If you agree to take part in user research, we’ll ask if you consent to use Lookback to carry out and
      record a video session with you.</p>

    <p class="govuk-body govuk-!-margin-bottom-7">
      <%= govuk_link_to "Visit Lookback’s website to read about how they use your data (as a “participant”)", "https://lookback.io/privacy/" %>
    </p>

    <h2 class="govuk-heading-m" id="how-long-we-keep-your-personal-data">How long we keep your personal data</h2>

    <p class="govuk-body">We keep your personal data for as long as you use the service.</p>

    <p class="govuk-body">
      We may also keep it for some time after you stop using the service. This is so that we can analyse any
      feedback you provided to improve the service.
    </p>

    <p class="govuk-body govuk-!-margin-bottom-7">
      We’ll keep your data for no longer than 7 years after you stop using the service.
    </p>

    <h2 class="govuk-heading-m" id="raise-a-concern">Raise a concern</h2>

    <p class="govuk-body">
      You have rights under the Data Protection Act 2018, such as the right to ask for your data to be erased.
    </p>

    <p class="govuk-body">
      <%= govuk_link_to "Find out about your rights by visiting the Information Commissioner’s Office (ICO) website", "https://ico.org.uk/" %>
    </p>

    <p class="govuk-body">
      Contact the <%= t('service_name') %> team at
      <%= support_email subject: "My personal data" %>
      if you have any concerns about your personal data.
    </p>

    <p class="govuk-body">
      You can also
      <%= govuk_link_to "get in touch with the Department for Education’s data protection officer through the online contact form",
                        "https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-f1453496-7d8a-463f-9f33-1da2ac47ed76/AF-Stage-1e64d4cc-25fb-499a-a8d7-74e98203ac00/definition.json&redirectlink=%2Fen&cancelRedirectLink=%2Fen" %>.
    </p>

    <p class="govuk-body govuk-!-margin-bottom-7">
      <%= govuk_link_to "Refer to the Department for Education’s personal information charter to read more about the standards you can expect from us when we look after your personal data",
                        "https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter" %>
    </p>

    <h2 class="govuk-heading-m" id="keep-up-to-date">Keep up to date</h2>

    <p class="govuk-body">
      We periodically review this policy. We’ll notify you if we change how we use your personal data.
    </p>

    <p class="govuk-body govuk-!-margin-bottom-7">It was last updated on 17 November 2020.</p>

  </div>
</div>
