<%= render_component PageTitle::View.new %>

<%= content_for :start_page_banner do %>
  <%= render_component StartPageBanner::View.new %>
<% end %>

<div class="govuk-grid-row govuk-main-wrapper--auto-spacing">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <p class="govuk-body">Use this service to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>upload Assessment Only (AO) candidate data</li>
      <li>get a Teacher Reference Number (TRN) for AO candidates</li>
      <li>recommend candidates for Qualified Teacher Status (QTS)</li>
      <li>check and update your AO candidate data</li>
    </ul>

    <p class="govuk-body">
      If you are a Higher Education Institute (HEI), you must submit your AO data using the Register trainee teachers
      service. You do not submit it via the Higher Education Statistics Agency (HESA).
    </p>
    <p class="govuk-body">
      You can only register trainee teachers for the current academic year. If you need to register a trainee teacher
      within a different academic year, contact
      <a class="govuk-link" href="mailto:itt.datamanagement@education.gov.uk">itt.datamanagement@education.gov.uk</a>.
    </p>

    <h2 class="govuk-heading-m">Assessment Only guidance</h2>

    <p class="govuk-body">
      To find out about the AO route and timelines involved you can <%= govuk_link_to 'view AO guidance', '#' %>.
    </p>

    <h2 class="govuk-heading-m">Assessment Only data requirements</h2>

    <p class="govuk-body">
      To help you collect and prepare your data you can <%= govuk_link_to 'view the AO data requirements' , '#' %>.
    </p>
  </div>
</div>
