<%= render PageTitle::View.new(text: "Bulk add placement details to trainee records") %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(text: "Back", href: bulk_update_path) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <%= register_form_with(model: @placements_form, url: bulk_update_placements_path) do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl"><%= organisation_name %></span>
        Bulk add placement details to trainee records
      </h1>

      <p class="govuk-body">
        You’ll be asked to include placement data as part of performance profile sign off for registered trainees with a course outcome in the previous academic year.
      </p>

      <p class="govuk-body">
        You have
        <%= pluralize(bulk_placements_count, "trainee record") %>
        who do not have at least two placements
      </p>

      <h2 class="govuk-heading-m">
        1. Export a template file
      </h2>

      <p class="govuk-body">
        <%= govuk_link_to("Bulk add placements prepopulated", new_bulk_update_placements_path(format: :csv), class: "govuk-link--no-visited-state") %>
      </p>

      <p class="govuk-hint">File name: <span class="app-nowrap"><%= prepopulated_template_filename %></span></p>

      <p class="govuk-body">
        <%= govuk_link_to("Bulk add placements blank", new_bulk_update_placements_path(format: :csv, blank: true), class: "govuk-link--no-visited-state") %>
      </p>

      <p class="govuk-hint">File name: <span class="app-nowrap"><%= blank_template_filename %></span></p>

      <h2 class="govuk-heading-m">
        2. Add missing details
      </h2>

      <p class="govuk-body">
        Open as a CSV file and add the missing information.
      </p>

      <p class="govuk-body">
        You can leave rows or cells empty if you do not want to update those trainee records.
      </p>

      <h3 class="govuk-heading-s">Placement schools</h3>

      <p class="govuk-body">
        You can add a maximum of 5 placements per trainee. Enter the placement's URN in the placement columns.
      </p>

      <p class="govuk-body">
        You can add or change trainees placement details by adding them to the end of the CSV file. Adding or changing any information in the CSV will over-write placements that are associated to a school in the Register service. If you leave a space blank in the CSV it will over-write any existing information you have entered
      </p>

      <p class="govuk-body">
        You can find the URNs using <a href="https://www.get-information-schools.service.gov.uk/Search" class="govuk-link" rel="noreferrer noopener" target="_blank">Get information about schools (opens in a new tab)</a>.
      </p>

      <p class="govuk-body">
        You cannot add information in bulk if the school or setting does not have a URN. Add those placements to the trainee record manually.
      </p>

      <p class="govuk-body">
        If you do not have the information for a placement, leave the cell empty.
      </p>

      <h2 class="govuk-heading-m">
        3. Upload your trainee records
      </h2>

      <label class="govuk-label" for="file-upload-1">
        Upload a file
      </label>
      <div id="file-upload-1-hint" class="govuk-hint">
        File type must be ‘CSV’.
      </div>

      <%= f.govuk_file_field(:file, label: { hidden: true }, accept: ".csv") %>
      <%= f.govuk_submit("Upload records") %>
    <% end %>
  </div>
</div>
