<%= render PageTitle::View.new(title: (@trainee.degrees.size > 1 ? "Add another degree" : "Add undergraduate degree"), has_errors: @degree.errors.present?) %>

<%= content_for(:breadcrumbs) do %>
  <%= render DynamicBackLink::View.new(@trainee, text: t(:back), last_origin_page: true) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(model: @degree, url: trainee_degrees_new_type_path, local: true) do |f| %>
      <%= f.govuk_error_summary %>

      <% if @trainee.degrees.size > 1 %>
        <h1 class="govuk-heading-l">Add another degree</h1>
      <% else %>
        <h1 class="govuk-heading-l">Add undergraduate degree</h1>

        <p class="govuk-body">
          If the trainee has any other degrees, you can add them next.
        </p>
      <% end %>

      <% question = [
           OpenStruct.new(name: "UK degree", value: "uk"),
           OpenStruct.new(name: "Non-UK degree", value: "non_uk"),
         ] %>

      <%= f.govuk_collection_radio_buttons :locale_code,
                                           question,
                                           :value,
                                           :name,
                                           legend: { text: "Is this a UK degree?" } %>

      <%= f.govuk_submit("Continue") %>

    <% end %>
  </div>
</div>
