<%= render PageTitle::View.new(title: I18n.t("components.confirmation.heading", section_title: 'trainee ID')) %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLink.new(
    text: 'Back',
    href: edit_trainee_trainee_id_path(@trainee)
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l"><%= I18n.t("components.confirmation.heading", section_title: 'trainee ID') %></h1>
    <%= render Trainees::Confirmation::TraineeId::View.new(trainee: @trainee) %>
    <%= govuk_link_to "Update record", edit_trainee_path(@trainee), class: "govuk-button" %>
  </div>
</div>
