<%= extends_layout :error do %>
  <%= render PageTitle::View.new(i18n_key: "pages.not_found") %>

  <h1 class="govuk-heading-l"><%= t(".heading") %></h1>

  <p class="govuk-body"><%= t(".body") %></p>

  <p class="govuk-body"><%= t(".support_message_html", link: support_email) %></p>
<% end %>
