<%= render PageTitle::View.new(text: current_user.organisation.name) %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: "Back",
    href: root_path,
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l"><%= current_user.organisation.name %></h1>
    <h2 class="govuk-heading-m">About your organisation</h2>

    <%= govuk_summary_list(actions: false, html_attributes: { class: "govuk-!-margin-bottom-9" }) do |summary_list|
      summary_list.with_row do |row|
        row.with_key(text: "Organisation type")
        row.with_value(text: current_user.organisation.model_name.human)
      end

      summary_list.with_row do |row|
        row.with_key(text: "Accreditation ID")
        row.with_value(text: current_user.organisation.try(:accreditation_id))
      end
    end %>

    <% if FeatureService.enabled?(:token_management) && policy(AuthenticationToken).index? %>
      <h2 class="govuk-heading-m">Register API Tokens</h2>

      <p class="govuk-body">
        You need an API token if you want to use the Register API to send your trainee data from your students record system directly to the Register service.
      </p>

      <p class="govuk-body">
        The API token is unique to your organisation and is a code that authenticates the transfer of your trainee data from your student record system directly into the Register service.
      </p>

      <p class="govuk-body">
        Your token is needed by the developers who are managing your Register API integration.
      </p>

      <p class="govuk-body">
        <%= link_to "You can view and use the Register API technical documentation (opens in new tab).", api_docs_reference_path, target: "_blank" %>
      </p>

      <h4 class="govuk-heading-s">How to manage your API token</h4>

      <p class="govuk-body">
        The Register API is used to make trainee data transfer quicker and easier.
      </p>

      <p class="govuk-body">
        You must make sure the token is securely sent to the developers managing your Register API integration.
      </p>

      <p class="govuk-body">
        In the 'Manage your API token' screen, you can:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>view a list of tokens, their description, expiry date, date last used</li>
        <li>generate a new token and give it a name, a description (optional) and set an expiry date (optional) revoke a token</li>
      </ul>

      <p class="govuk-body govuk-!-margin-bottom-9">
        <%= govuk_link_to "Manage your tokens", authentication_tokens_path %>
      </p>
    <% end %>

    <h2 class="govuk-heading-m">Team members</h2>

    <%= govuk_list(
      current_user.organisation.users.kept.map do |user|
        content_tag("div", class: "govuk-!-margin-bottom-6") do
          content_tag(:h3, class: "govuk-heading-s") do
            raw(
              "#{user.name} #{'(you)' if user == current_user.user} #{content_tag(:span, "– #{user.email}", class: "govuk-!-font-weight-regular")}"
            )
          end
        end
      end
    )%>

    <p class="govuk-body">
      If you need to add or remove team members, contact us at <a href="mailto:becomingateacher@digital.education.gov.uk?subject=Add or remove team members from Register trainee teachers" <%= support_email(subject: "Get access to Register trainee teachers") %>.
    </p>
  </div>
</div>
