# <%= type.fetch("display_name") %>

<% if defined?(show_preview_warning) && show_preview_warning %>
<%= partial "partials/preview_warning", locals: { version: version } %>
<% end %>

<%= link_to "Download entries as a CSV file", "/reference-data/#{version}/#{name}/download" %>

## Overview

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Label
    </dt>
    <dd class="govuk-summary-list__value">
      <%= type.fetch("display_name") %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Name
    </dt>
    <dd class="govuk-summary-list__value">
      <%= type.fetch("name") %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Description
    </dt>
    <dd class="govuk-summary-list__value">
      <%= type.fetch("description", nil) %>
    </dd>
  </div>
</dl>

## Reference data

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">HESA code</th>
      <th scope="col" class="govuk-table__header">Label</th>
      <th scope="col" class="govuk-table__header">Register ID</th>
      <th scope="col" class="govuk-table__header">Register name</th>
      <% if values.any? { |value| value.start_year.present? || value.end_year.present? } %>
        <th scope="col" class="govuk-table__header">Start year</th>
        <th scope="col" class="govuk-table__header">End year</th>
      <% end %>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% values.each do |value| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= value.hesa_code %></td>
        <td class="govuk-table__cell"><%= value.display_name %></td>
        <td class="govuk-table__cell"><%= value.id %></td>
        <td class="govuk-table__cell"><%= value.name %></td>
        <% if values.any? { |value| value.start_year.present? || value.end_year.present? } %>
          <td class="govuk-table__cell"><%= value.start_year %></td>
          <td class="govuk-table__cell"><%= value.end_year %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
