# <%= field.fetch("field_name") %>

## Overview

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      CSV field name
    </dt>
    <dd class="govuk-summary-list__value">
      <%= field.fetch("field_name") %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      API field name
    </dt>
    <dd class="govuk-summary-list__value">
      <%= field.fetch("technical") %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      HESA alignment
    </dt>
    <dd class="govuk-summary-list__value">
      <%= field.fetch("hesa_alignment") %>
    </dd>
  </div>
</dl>

## Reference data

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Code</th>
      <th scope="col" class="govuk-table__header">Label</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% values.each do |code, label| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= code %></td>
        <td class="govuk-table__cell"><%= label %></td>
      </tr>
    <% end %>
  </tbody>
</table>
