<%= render PageTitle::View.new(text: "Bulk updates") %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(text: "Home", href: root_path) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop" >
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-xl"><%= organisation_name %></span>
      Bulk updates
    </h1>

    <% if FeatureService.enabled?(:bulk_add_trainees) && policy(BulkUpdate::TraineeUpload).new? %>
      <p class="govuk-body">
        Make changes to multiple trainee records at the same time. You can:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>add new trainees</li>
        <li>add missing placement data</li>
        <li>choose trainees to gain QTS</li>
      </ul>

      <h2 class="govuk-heading-m">
        Add new trainees
      </h2>

      <p class="govuk-body">You can bulk add new trainees.</p>

      <p class="govuk-body">
        <%= govuk_link_to("Bulk add new trainees", new_bulk_update_add_trainees_upload_path) %>
      </p>

      <p class="govuk-body">
        <%= govuk_link_to("View status of previously uploaded new trainee files", bulk_update_add_trainees_uploads_path) %>
      </p>
    <% else %>
      <p class="govuk-body">
        Make changes to multiple trainee records at the same time.
      </p>
    <% end %>

    <% if bulk_placements_count.positive?  %>
      <h2 class="govuk-heading-m">
        Add missing placement data
      </h2>

      <p class="govuk-body">
        You can bulk add missing placement data to <%= pluralize(bulk_placements_count, "trainee record") %>. Add school placement URNs for 2 to 5 school or setting placements.
      </p>

      <p class="govuk-body">
        <%= govuk_link_to("Bulk add missing placement data to trainee records", new_bulk_update_placements_path) %>
      </p>

      <p class="govuk-body">
        You’ll be asked to include placement data as part of performance profile sign off for registered trainees with a course outcome in the previous academic year.
      </p>
    <% end %>

    <% if can_bulk_recommend? %>
      <h2 class="govuk-heading-m">
        Choose trainees to gain QTS or EYTS
      </h2>

      <% if bulk_recommend_count.positive?  %>
        <p class="govuk-body">
          You can update the status of <%= pluralize(bulk_recommend_count, 'trainee') %>. trainees for QTS or EYTS.
          Trainee statuses will be updated within <span class="app-nowrap">3 working days</span>.
        </p>

        <p class="govuk-body">
          <%= govuk_link_to("Change trainee status in bulk", new_bulk_update_recommendations_upload_path) %>
        </p>
      <% else %>
        <%= render("no_trainees") %>
      <% end %>
    <% end %>
  </div>
</div>
