<%= render PageTitle::View.new(i18n_key: "duplicate_hesa_trainees.index") %>

<div class="govuk-grid-row">
  <div class ="govuk-grid-column-full">
    <%= render "system_admin/tab_nav" %>

    <h1 class="govuk-heading-l" aria-live="polite">
      Duplicate HESA trainees <span class="govuk-!-font-weight-regular">(<span id="js-trainee-count"><%= duplicate_trainees_count %></span><span class="govuk-visually-hidden"> <%="record".pluralize(duplicate_trainees_count)%></span>)</span>
    </h1>

    <% @potential_duplicate_trainees.each do |group| %>
    <div class="govuk-!-margin-bottom-8">
      <% group[:trainee_ids].map { |id| @trainee_lookup[id] }.each do |trainee| %>
        <%= render(
          ApplicationRecordCard::View.new(
            record: trainee,
            current_user: current_user,
          ),
        ) %>
      <% end %>
    </div>
    <% end %>

    <%= render Paginator::View.new(scope: @potential_duplicate_trainees) %>
  </div>
</div>
