<%= render PageTitle::View.new(title: "trainees.outcome_details.confirm") %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLink.new(text: t(:back_to_record), href: trainee_path(@trainee)) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <span class="govuk-caption-l">
      <%= trainee_name(@trainee) %>
    </span>
    <h1 class="govuk-heading-l">Check QTS details</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render Trainees::OutcomeDetails::View.new(@outcome) %>

    <%= register_form_with url: trainee_qts_recommendations_path, method: :post, local: true do |f| %>
      <%= hidden_field_tag :trainee_id, @trainee.slug %>
      <%= f.govuk_submit "Recommend trainee for QTS" %>
    <%- end -%>
  </div>
</div>

<p class="govuk-body"><%= govuk_link_to("Cancel and return to record", trainee_path(@trainee), class: "qa-cancel-link") %></p>
