<%= render PageTitle::View.new(title: "trainees.outcome_details.recommended_#{@trainee.award_type.downcase}") %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLink.new(text: t(:back_to_record), href: trainee_path(@trainee)) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <div class="govuk-panel govuk-panel--confirmation qts-submission-success-panel govuk-!-margin-bottom-6">
      <h1 class="govuk-panel__title">
        <%= trainee_name(@trainee) %> recommended for <%= @trainee.award_type %>
      </h1>
    </div>
    <h2 class="govuk-heading-m">Getting <%= @trainee.award_type %> status</h2>
    <p class="govuk-body">
      The Department for Education will award <%= @trainee.award_type %> where appropriate within 3
      working days.
    </p>
  </div>
</div>

<%= render FeedbackLink::View.new(
  enabled: Settings.features.enable_feedback_link,
  feedback_link_url: Settings.recommended_for_award_feedback_url,
  feedback_type_text: "recommending a trainee for #{@trainee.award_type}",
) %>

<h2 class="govuk-heading-m">Next steps</h2>

<ul class="govuk-list govuk-list--bullet">
  <li><%= govuk_link_to("view #{trainee_name(@trainee)}’s record", trainee_path(@trainee)) %></li>
  <li><%= govuk_link_to("view all your records", trainees_path) %></li>
</ul>  
