<%= render PageTitle::View.new(text: t(".heading")) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <% if current_user.organisation %>
      <span class="govuk-caption-l"><%= current_user.organisation.name_and_code %></span>
    <% end %>
    <h1 class="govuk-heading-xl"><%= t(".heading") %></h1>
  </div>
</div>

<% unless training_partner_user? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h2 class="govuk-heading-l"><%= t(".draft_heading") %></h2>
      <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-0">
        <% if @home_view.draft_trainees_count > @home_view.draft_apply_trainees_count %>
          <li>
            <%= govuk_link_to(
              t(".draft_trainees_link", count: @home_view.draft_trainees_count),
              drafts_path,
              no_visited_state: true,
            )%>
          </li>
        <% end %>
        <% if @home_view.draft_apply_trainees_count > 0 %>
          <li>
            <%= govuk_link_to(
              @home_view.apply_drafts_link_text,
              drafts_path("record_source[]": :apply),
              no_visited_state: true,
            )%>
          </li>
        <% end %>
        <% if policy(Trainee).new? %>
          <li class="govuk-!-margin-bottom-0">
            <%= govuk_link_to(
              t(".new_trainee_link"),
              new_trainee_path,
              no_visited_state: true,
            ) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h2 class="govuk-heading-l"><%= t(".registered_heading") %></h2>
  </div>
  <%= render "badges" %>
</div>

<% if policy(User).bulk_recommend? %>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h2 class="govuk-heading-l">
      <%= t(".available_to_do_heading") %>
    </h2>
  </div>
  <%= render "action_badges" %>
</div>

<% end %>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h2 class="govuk-heading-l">How to use this service</h2>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to(
          "View all guidance for Register trainee teachers",
          guidance_path,
          no_visited_state: true,
        )%>
      </li>
      <li>
        <%= govuk_link_to(
          "Dates and deadlines for training providers",
          dates_and_deadlines_guidance_path,
          no_visited_state: true,
        )%>
      </li>
      <li>
        <%= govuk_link_to(
          "Register trainees manually in this service",
          manually_registering_trainees_guidance_path,
          no_visited_state: true,
        )%>
      </li>
      <li>
        <%= govuk_link_to(
          "Uploading trainees with API/CSV",
          registering_trainees_through_api_or_csv_guidance_path,
          no_visited_state: true,
        )%>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">News and feedback</h2>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to("View news and updates",
          service_updates_path,
          no_visited_state: true,
        )%>
      </li>
      <li>
        <%= govuk_link_to(
          t(".data_sharing_agreement_link"),
          data_sharing_agreement_path,
          no_visited_state: true,
        )%>
      </li>
      <% if FeatureService.enabled?("enable_feedback_link") %>
        <li>
          <%= govuk_link_to(
            t(".give_feedback_link"),
            Settings.feedback_link_url,
            no_visited_state: true,
          )%>
        </li>
      <% end%>
    </ul>
  </div>
</div>
