<%= render PageTitle::View.new(text: "Upload summary") %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(text: "Home", href: root_path) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <% if @bulk_update_trainee_upload.pending? %>
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl"><%= organisation_name %></span>
        Your file is being processed
      </h1>

      <p class="govuk-body">
        We're currently processing <%= @bulk_update_trainee_upload.filename %>.
      </p>

      <p class="govuk-body">
        This is taking longer than usual
      </p>

      <p class="govuk-body">
        You'll receive and email to tell you when this is complete.
      </p>

      <p class="govuk-body">
        You can also check the <%= link_to "status of new trainee files" %>.
      </p>

      <p class="govuk-body">
        <%= link_to "Back to bulk updates page", bulk_update_path %>
      </p>
    <% else %>
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl"><%= organisation_name %></span>
        Upload Summary
      </h1>

      <p class="govuk-body">
        You uploaded a CSV file with details of <%= pluralize(@bulk_update_trainee_upload.number_of_trainees, "trainee") %>.
      </p>

      <p class="govuk-body">
        It included:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <% if @bulk_update_trainee_upload.trainee_upload_rows.without_errors.present? %>
          <li>
            <%= pluralize(@bulk_update_trainee_upload.trainee_upload_rows.without_errors.size, "trainee") %> who can be added
          </li>
        <% end %>

        <% if @bulk_update_trainee_upload.row_errors.duplicate.present? %>
          <li>
            <%= pluralize(@bulk_update_trainee_upload.row_errors.duplicate.size, "trainee") %>
            who will not be added, as they already exist in Register
          </li>
        <% end %>

        <% if @bulk_update_trainee_upload.row_errors.validation.present? %>
          <li>
            <%= pluralize(@bulk_update_trainee_upload.row_errors.validation.size, "trainee") %>
            with errors in their details
          </li>
        <% end %>
      </ul>
      <% if @bulk_update_trainee_upload.row_errors.present? %>
        <p class="govuk-body">You need to review the errors before you can add new trainees</p>

        <%= govuk_button_to(
          "Review errors",
          bulk_update_trainees_review_error_path(id: @bulk_update_trainee_upload.id),
          method: :get,
        ) %>
      <% else %>
        <%= register_form_with(
          model: @bulk_update_trainee_upload,
          url: bulk_update_trainees_submissions_path(@bulk_update_trainee_upload),
          method: :post
        ) do |f| %>
          <%= f.govuk_submit("Submit") %>
      <% end %>
    <% end %>
      <p class="govuk-body">
        <%= register_form_with(
          model: @bulk_update_trainee_upload,
          url: bulk_update_trainees_upload_path(@bulk_update_trainee_upload),
          method: :delete
        ) do |f| %>
          <%= f.submit "Cancel bulk updates to records", class: "govuk-link app-button--link govuk-body" %>
        <% end %>
      </p>
  <% end %>
  </div>
</div>
