<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-xl"><%= organisation_name %></span>
      Your file has been approved
    </h1>

    <% if upload.trainee_upload_rows.with_errors.blank? %>
      <h2 class="govuk-heading-l">
        File validation passed
      </h2>
    <% end %>

    <p class="govuk-body">
      Your file has <%= pluralize(upload.number_of_trainees, "trainee") %> that can now be submitted and added to the Register service.
    </p>

    <p class="govuk-body">
      Once a trainee has been registered, a TRN is created for each trainee record.
    </p>

    <%= register_form_with(
      model: upload,
      url: bulk_update_add_trainees_submission_path(upload),
      method: :post,
      builder: GOVUKDesignSystemFormBuilder::FormBuilder,
    ) do |f| %>
      <%= f.govuk_submit("Submit trainees to Register") %>
    <% end %>
    <p class="govuk-body">
      <%= register_form_with(
        model: upload,
        url: bulk_update_add_trainees_upload_path(upload),
        method: :delete
      ) do |f| %>
        <%= f.submit "Cancel trainee submission to Register", class: "govuk-link app-button--link govuk-body" %>
      <% end %>
    </p>
  </div>
</div>
