<%= render PageTitle::View.new(title: "dttp_providers.index") %>

<h1 class="govuk-heading-l">Dttp Providers</h1>

<%= render "system_admin/menu" %>

<%= render Dttp::Providers::Collection::View.new(filters: @filter_params, collection: @providers) do %>
  <table class="govuk-table" summary="DTTP Providers list">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-half">Provider name</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-half">DTTP Id</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-half">UKPRN</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-half">Actions</th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      <% @providers.each do |provider| %>
        <tr class="govuk-table__row qa-provider_row">
          <td class="govuk-table__cell">
            <span class="govuk-!-display-block govuk-!-margin-bottom-1">
              <%= provider.name %>
            </span>
          </td>

          <td class="govuk-table__cell">
            <span class="govuk-!-display-block govuk-!-margin-bottom-1">
              <%= provider.dttp_id %>
            </span>
          </td>

          <td class="govuk-table__cell">
            <span class="govuk-!-display-block govuk-!-margin-bottom-1">
              <%= provider.ukprn %>
            </span>
          </td>
          <td class="govuk-table__cell">
            <% if provider.provider.blank? %>
              <%= govuk_button_to(
                    "Create",
                    dttp_providers_path,
                    params: { dttp_provider_id: provider },
                    class: "govuk-button--secondary",
                  ) %>
            <% else %>
              <%= govuk_link_to 'View', provider_path(provider.provider) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
