<%= render PageTitle::View.new(title: "trainees.diversity.disabilities.edit",
                               has_errors: @disability_detail_form.errors.present?) %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLink.new(
    text: "Back",
    href: edit_trainee_diversity_disability_disclosure_path(@trainee),
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= register_form_with(model: @disability_detail_form, url: trainee_diversity_disability_detail_path(@trainee),
                           method: :put, local: true) do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_check_boxes_fieldset :disability_ids,
          legend: { text: t("components.page_titles.trainees.diversity.disabilities.edit"), tag: "h1", size: "l" },
          hint: { text: "Select all that apply" },
          classes: "disability" do %>

        <% @disabilities.each_with_index do |disability, index| %>
          <% if disability.name != Diversities::OTHER %>
            <%= f.govuk_check_box :disability_ids, disability.id, label: { text: disability.name, size: "s" },
                                                                  hint: { text: disability.description }, link_errors: index.zero? %>
          <% else %>
            <%= f.govuk_check_box :disability_ids, disability.id, label: { text: disability.name, size: "s" },
                                                                  link_errors: index.zero? do %>
              <%= f.govuk_text_field :additional_disability,
                                     label: { text: "Describe their disability (optional)" },
                                     width: "two-thirds",
                                     autocomplete: :disabled %>
            <% end %>
          <% end %>

        <% end %>
      <% end %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
