<h2 class="govuk-heading-m">
  Registration data from Apply
</h2>

<%= render Sections::View.new(trainee: @trainee, form: @form, section: :course_details) %>

<%= render Sections::View.new(trainee: @trainee, form: @form, section: :trainee_data) %>

<h2 class="govuk-heading-m">
  About their teacher training
</h2>

<%= render Sections::View.new(trainee: @trainee, form: @form, section: :training_details) %>

<% if @trainee.requires_schools? %>
  <%= render Sections::View.new(trainee: @trainee, form: @form, section: :schools) %>
<% end %>

<%= render Sections::View.new(trainee: @trainee, form: @form, section: :funding) %>
