<h2 class="govuk-heading-m">
  Registration data from Apply
</h2>

<%= render Sections::View.new(trainee: @trainee, form: @form, section: :course_details, editable: @editable) %>

<%= render Sections::View.new(trainee: @trainee, form: @form, section: :trainee_data, editable: @editable) %>

<h2 class="govuk-heading-m">
  About their teacher training
</h2>

<%= render Sections::View.new(trainee: @trainee, form: @form, section: :training_details, editable: @editable) %>

<% if @trainee.requires_schools? %>
  <%= render Sections::View.new(trainee: @trainee, form: @form, section: :schools, editable: @editable) %>
<% end %>

<%= render Sections::View.new(trainee: @trainee, form: @form, section: :funding, editable: @editable) %>
