<h2 class="govuk-heading-m">
  <%= t("components.heading.draft.#{@trainee.requires_degree? ? "personal_details_and_education" : "personal_details"}") %>
</h2>

<%= render Sections::View.new(trainee: @trainee, form: @form, section: :personal_details) %>

<%= render Sections::View.new(trainee: @trainee, form: @form, section: :contact_details) %>

<%= render Sections::View.new(trainee: @trainee, form: @form, section: :diversity) %>

<% if @trainee.requires_degree? %>
  <%= render Sections::View.new(trainee: @trainee, form: @form, section: :degrees) %>
<% end %>

<h2 class="govuk-heading-m">
  About their teacher training
</h2>

<%= render Sections::View.new(trainee: @trainee, form: @form, section: :course_details) %>

<%= render Sections::View.new(trainee: @trainee, form: @form, section: :training_details) %>

<% if @trainee.requires_schools? %>
  <%= render Sections::View.new(trainee: @trainee, form: @form, section: :schools) %>
<% end %>

<% if FeatureService.enabled?(:show_funding) %>
  <%= render Sections::View.new(trainee: @trainee, form: @form, section: :funding) %>
<% end %>
