<%= render PageTitle::View.new(title: "check_details.show") %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLink.new(
    text: 'Back to draft record',
    href: review_draft_trainee_path(@trainee),
    html_attributes:{
      id: "back-to-draft-record"
    }
  ) %>
<% end %>

<h1 class="govuk-heading-l">
  <span class="govuk-caption-l">
    Draft record for <%= trainee_name(@trainee)  %>
  </span>
  Review trainee record
</h1>

<h2 class="govuk-heading-m">
  Personal details and education
</h2>

<%= render Trainees::Confirmation::PersonalDetails::View.new(trainee: @trainee) %>
<%= render Trainees::Confirmation::ContactDetails::View.new(trainee: @trainee) %>
<%= render Trainees::Confirmation::Diversity::View.new(trainee: @trainee) %>
<%= render Trainees::Confirmation::Degrees::View.new(trainee: @trainee, show_add_another_degree_button: false, show_delete_button: true) %>


<h2 class="govuk-heading-m">
  About their training
</h2>
<%= render Trainees::Confirmation::Record::View.new(trainee: @trainee) %>
<%= render Trainees::Confirmation::ProgrammeDetails::View.new(trainee: @trainee) %>

<%= form_with url: trn_submissions_path, method: :post, local: true do |f| %>
  <%= hidden_field_tag :trainee_id, @trainee.slug %>
  <%= f.govuk_submit "Submit record and request TRN" %>
<%- end -%>

<p class="govuk-body"><%= govuk_link_to("Return to this draft record later", trainees_path, { id: "return-to-draft-later" }) %></p>
