<h1 class="govuk-heading-l">
  <span class="govuk-caption-l">
    Draft record for ...
  </span>
  Review trainee record
</h1>

<h2 class="govuk-heading-m">
  Training details
</h2>
<%= render_component Trainees::Confirmation::ProgrammeDetails::View.new(trainee: @trainee) %>

<h2 class="govuk-heading-m">
  About the trainee
</h2>
<%= render_component Trainees::Confirmation::PersonalDetails::View.new(trainee: @trainee) %>
<%= render_component Trainees::Confirmation::ContactDetails::View.new(trainee: @trainee) %>
<%= render_component Trainees::Confirmation::Diversity::View.new(trainee: @trainee) %>
<%= render_component Trainees::Confirmation::Degrees::View.new(trainee: @trainee) %>


<%= form_with url: trn_submissions_path, method: :post, local: true do |f| %>
  <%= hidden_field_tag :trainee_id, @trainee.id %>
  <%= f.govuk_submit "Submit record and request TRN" %>
<%- end -%>
