<%= render PageTitle::View.new(title: "check_details.show") %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLink.new(
    text: "Back to draft record",
    href: review_draft_trainee_path(@trainee),
    html_attributes: {
      id: "back-to-draft-record",
    },
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <% if @trn_submission_form.errors.any? %>
      <%= render "trainees/check_details/error_summary" %>
    <% end %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-8">
          <span class="govuk-caption-l">
            Draft record <%= "for #{trainee_name(@trainee)}" if trainee_name(@trainee).present? %>
          </span>
          Review trainee record
        </h1>

        <% unless @trn_submission_form.all_sections_complete? %>
          <div class="govuk-inset-text">
            <p class="govuk-body">
              This record is not complete and cannot be submitted for TRN. If you do not
              have all the required information now, you can
              <%= govuk_link_to " return to this draft record later", trainees_path %>.
            </p>
          </div>
        <% end %>

        <%= render Trainees::RouteIndicator::View.new(trainee: @trainee) %>

      </div>
    </div>

    <h2 class="govuk-heading-m">
      Personal details and education
    </h2>

    <%= render Trainees::Sections::View.new(trainee: @trainee, trn_submission_form: @trn_submission_form, section: :personal_details) %>

    <%= render Trainees::Sections::View.new(trainee: @trainee, trn_submission_form: @trn_submission_form, section: :contact_details) %>

    <%= render Trainees::Sections::View.new(trainee: @trainee, trn_submission_form: @trn_submission_form, section: :diversity) %>

    <%= render Trainees::Sections::View.new(trainee: @trainee, trn_submission_form: @trn_submission_form, section: :degrees) %>

    <h2 class="govuk-heading-m">
      About their teacher training
    </h2>

    <%= render Trainees::Sections::View.new(trainee: @trainee, trn_submission_form: @trn_submission_form, section: :training_details) %>

    <%= render Trainees::Sections::View.new(trainee: @trainee, trn_submission_form: @trn_submission_form, section: :course_details) %>

    <%- if @trainee.requires_schools? %>
      <%= render Trainees::Sections::View.new(trainee: @trainee, trn_submission_form: @trn_submission_form, section: :schools) %>
    <%- end -%>

    <%= register_form_with(model: @trn_submission_form, url: trn_submissions_path, method: :post, local: true) do |f| %>
      <%= hidden_field_tag :trainee_id, @trainee.slug %>
      <%= f.govuk_submit "Submit record and request TRN" %>
    <% end %>
  </div>
</div>

<p class="govuk-body"><%= govuk_link_to("Return to this draft record later", trainees_path, { id: "return-to-draft-later" }) %></p>
