<%= render PageTitle::View.new(i18n_key: "check_details.show") %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLink.new(
    text: "Back to draft record",
    href: review_draft_trainee_path(@trainee),
    html_attributes: {
      id: "back-to-draft-record",
    },
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <%= render ErrorSummary::View.new(has_errors: @form.errors.any?) do %>
          <% @form.errors.messages.map do |_, messages| %>
            <%= tag.li(messages.first) %>
          <% end %>
        <% end %>

        <h1 class="govuk-heading-l govuk-!-margin-bottom-8">
          <span class="govuk-caption-l">
            Draft record <%= "for #{trainee_name(@trainee)}" if trainee_name(@trainee).present? %>
          </span>
          Check trainee record
        </h1>

        <% unless @form.all_sections_complete? %>
          <div class="govuk-inset-text">
            <p class="govuk-body">
              This record is not complete and cannot be submitted for TRN. If you do not
              have all the required information now, you can
              <%= govuk_link_to " return to this draft record later", trainees_path %>.
            </p>
          </div>
        <% end %>

        <%= render RouteIndicator::View.new(trainee: @trainee) %>

      </div>
    </div>

    <% if @trainee.apply_application? %>
      <%= render "trainees/check_details/apply_draft_trainee_check_details" %>
    <% else %>
      <%= render "trainees/check_details/draft_trainee_check_details" %>
    <% end %>

    <%= register_form_with(model: @form, url: trn_submissions_path, method: :post, local: true) do |f| %>
      <%= hidden_field_tag :trainee_id, @trainee.slug %>
      <%= f.govuk_submit "Register trainee and request TRN" %>
    <% end %>
  </div>
</div>

<p class="govuk-body"><%= govuk_link_to("Return to this draft record later", trainees_path, { id: "return-to-draft-later" }) %></p>
