<%= render PageTitle::View.new(title: "trainees.course_details.edit", has_errors: @course_details_form.errors.present?) %>

<%= content_for(:breadcrumbs) do %>
  <%= render DynamicBackLink::View.new(@trainee, text: t(:back)) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <%= register_form_with(model: @course_details_form, url: trainee_course_details_path(@trainee), method: :put, local: true) do |f| %>

      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">Course details</h1>

      <%= render FormComponents::Autocomplete::View.new(
        f,
        attribute_name: :subject,
        form_field: f.govuk_collection_select(:subject, course_subjects_options,
                                              :name, :name, label: { text: "Subject", size: "s" },
                                                            hint: { text: "Search for the closest matching subject" }),
        html_attributes: { "data-show-all-values" => true },
      ) %>

      <%= f.govuk_radio_buttons_fieldset(:main_age_range, legend: { text: "Age range", size: "s" }, classes: "age_range") do %>
        <% main_age_ranges_options.each_with_index do |age_range, index| %>
          <%= f.govuk_radio_button(:main_age_range, age_range,
                                   label: { text: age_range },
                                   link_errors: index.zero?) %>
        <% end %>

        <%= f.govuk_radio_divider %>

        <%= f.govuk_radio_button(:main_age_range,
                                 :other,
                                 label: { text: "Other age range" }) do %>
          <%= render FormComponents::Autocomplete::View.new(
            f,
            attribute_name: :additional_age_range,
            form_field: f.govuk_collection_select(:additional_age_range, additional_age_ranges_options,
                                                  :name,
                                                  :name,
                                                  label: { text: "Other age range", size: "s" }),
            html_attributes: { "data-show-all-values" => true },
          ) %>

        <% end %>
      <% end %>

      <%= f.govuk_date_field(:course_start_date,
                             date_of_birth: false,
                             legend: { text: "Course start date", size: "s" },
                             hint: { text: I18n.t("activemodel.errors.models.course_details_form.attributes.course_start_date.hint_html", year: Time.zone.now.year) }) %>

       <%= f.govuk_date_field(:course_end_date,
                              date_of_birth: false,
                              legend: { text: "Course end date", size: "s" },
                              hint: { text: I18n.t("activemodel.errors.models.course_details_form.attributes.course_end_date.hint_html", year: Time.zone.now.next_year.year) }) %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>

<%= render(CancelLink::View.new(@trainee)) %>
