<%= render PageTitle::View.new(text: ".heading", has_errors: @course_details_form.errors.present?) %>

<%= content_for(:breadcrumbs) do %>
  <%= render DynamicBackLink::View.new(@trainee, text: t(:back)) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <%= register_form_with(model: @course_details_form, url: trainee_course_details_path(@trainee), method: :put, local: true) do |f| %>

      <%= f.govuk_error_summary %>

      <%= render TraineeName::View.new(@trainee) %>
      <h1 class="govuk-heading-l"><%= t(".heading") %></h1>

      <% if f.object.primary_phase? %>
        <%= render "primary_phase", f: f %>
      <% else %>
        <%= render "secondary_phase", f: f %>
      <% end %>

      <% if f.object.require_age_range? %>
        <%= f.govuk_radio_buttons_fieldset(:main_age_range,
                                           legend: { text: t(".age_range_label"), size: "s" },
                                           class: "age_range") do %>

          <% main_age_ranges_options(level: @course_details_form.course_education_phase).each_with_index do |age_range, index| %>
            <%= f.govuk_radio_button(:main_age_range, age_range,
                                     label: { text: age_range },
                                     link_errors: index.zero?) %>
          <% end %>

          <%= f.govuk_radio_divider %>

          <%= f.govuk_radio_button(:main_age_range,
                                   :other,
                                   label: { text: t(".other_age_range_label") }) do %>

            <%= f.govuk_collection_select(:additional_age_range,
                                          additional_age_ranges_options(level: @course_details_form.course_education_phase),
                                          :value,
                                          :text,
                                          label: { text: t(".additional_age_range_label") }) %>

          <% end %>
        <% end %>
      <% end %>

      <% if f.object.requires_study_mode? %>
        <%= f.govuk_radio_buttons_fieldset(:study_mode, legend: { text: t(".study_mode_label"), size: "s" }) do %>
          <%= f.govuk_radio_button :study_mode, COURSE_STUDY_MODES[:full_time], label: { text: t(".study_mode_full_time") }, link_errors: true %>
          <%= f.govuk_radio_button :study_mode, COURSE_STUDY_MODES[:part_time], label: { text: t(".study_mode_part_time") } %>
        <% end %>
      <% end %>

      <%= f.govuk_date_field(:itt_start_date,
                             date_of_birth: false,
                             legend: { text: t("publish_course_details.view.itt_start_date").html_safe, size: "s" },
                             hint: { text: t("activemodel.errors.models.course_details_form.attributes.itt_start_date.hint_html", year: Time.zone.now.year) }) %>

      <%= f.govuk_date_field(:itt_end_date,
                            date_of_birth: false,
                            legend: { text: t("publish_course_details.view.itt_end_date").html_safe, size: "s" },
                            hint: { text: t("activemodel.errors.models.course_details_form.attributes.itt_end_date.hint_html", year: Time.zone.now.next_year.year) }) %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>

<%= render(CancelLink::View.new(@trainee)) %>


