<%= render PageTitle::View.new(i18n_key: "trainees.course_details.edit", has_errors: @course_details_form.errors.present?) %>

<%= content_for(:breadcrumbs) do %>
  <%= render DynamicBackLink::View.new(@trainee, text: t(:back)) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <%= register_form_with(model: @course_details_form, url: trainee_course_details_path(@trainee), method: :put, local: true) do |f| %>

      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">Course details</h1>

      <% if f.object.require_subject? %>
        <%= render FormComponents::Autocomplete::View.new(
          f,
          attribute_name: :course_subject_one,
          form_field: f.govuk_collection_select(
            :course_subject_one,
            course_subjects_options,
            :value,
            :text,
            label: { text: "Subject", size: "s" },
            hint: { text: t(".subject_hint") },
          ),
        ) %>

        <%= render "additional_subjects", f: f %>
      <% end %>

      <% if f.object.require_age_range? %>
        <%= f.govuk_radio_buttons_fieldset(:main_age_range, legend: { text: "Age range", size: "s" }, classes: "age_range") do %>
          <% main_age_ranges_options.each_with_index do |age_range, index| %>
            <%= f.govuk_radio_button(:main_age_range, age_range,
                                     label: { text: age_range },
                                     link_errors: index.zero?) %>
          <% end %>

          <%= f.govuk_radio_divider %>

          <%= f.govuk_radio_button(:main_age_range,
                                   :other,
                                   label: { text: "Other age range" }) do %>
            <%= render FormComponents::Autocomplete::View.new(
              f,
              attribute_name: :additional_age_range,
              form_field: f.govuk_collection_select(:additional_age_range, additional_age_ranges_options,
                                                    :value,
                                                    :text,
                                                    label: { text: "Other age range", size: "s" }),
            ) %>

          <% end %>
        <% end %>
      <% end %>

      <% if f.object.requires_study_mode? %>
        <%= f.govuk_radio_buttons_fieldset(:study_mode, legend: { text: t(".study_mode_label"), size: "s" }) do %>
          <%= f.govuk_radio_button :study_mode, COURSE_STUDY_MODES[:full_time], label: { text: t(".study_mode_full_time") }, link_errors: true %>
          <%= f.govuk_radio_button :study_mode, COURSE_STUDY_MODES[:part_time], label: { text: t(".study_mode_part_time") } %>
        <% end %>
      <% end %>

      <%= f.govuk_date_field(f.object.course_start_date_attribute_name,
                             date_of_birth: false,
                             legend: { text: CourseDetailsForm.human_attribute_name(f.object.course_start_date_attribute_name), size: "s" },
                             hint: { text: t("activemodel.errors.models.course_details_form.attributes.#{f.object.course_start_date_attribute_name}.hint_html", year: Time.zone.now.year) }) %>

       <%= f.govuk_date_field(f.object.course_end_date_attribute_name,
                              date_of_birth: false,
                              legend: { text: CourseDetailsForm.human_attribute_name(f.object.course_end_date_attribute_name), size: "s" },
                              hint: { text: t("activemodel.errors.models.course_details_form.attributes.#{f.object.course_end_date_attribute_name}.hint_html", year: Time.zone.now.next_year.year) }) %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>

<%= render(CancelLink::View.new(@trainee)) %>


