<%= render PageTitle::View.new(text: "Are you sure you want to remove this placement?") %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: t(:back),
    href: @page_tracker.last_origin_page_path.presence || trainee_path(@trainee),
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <span class="govuk-caption-l">
      <%= trainee_name(@placements_form.trainee) %>
    </span>
    <h1 class="govuk-heading-l">Are you sure you want to remove this placement?</h1>

    <div class="govuk-body">
      <p class="govuk-body govuk-!-margin-bottom-2"><%= @placement_form.placement&.name %></p>
      <div class="govuk-hint"><%= @placement_form.placement&.full_address %></div>
    </div>

    <div class="govuk-body">
      <%= govuk_button_to(
        "Yes I’m sure — remove this placement",
        trainee_placement_path(
          trainee_id: @placements_form.trainee.slug,
          id: @placement_form.slug,
        ),
        method: :delete,
        class: "govuk-button--warning",
      ) %>
    </div>

    <%= govuk_link_to(
      "Cancel",
      trainee_placements_confirm_path(trainee_id: @placements_form.trainee.slug),
    ) %>
  </div>
</div>
