<form method="get" id="js-live-filter" data-search-endpoint="<%= search_path %>">
  <%= submit_tag "Apply filters", class: "govuk-button", id: "js-submit" %>
  <%= hidden_field_tag :sort_by, params[:sort_by] %>

  <div class="govuk-form-group">
    <%= label_tag "text_search", t("views.trainees.index.filters.search"), class: "govuk-label govuk-label--s" %>
    <%= text_field_tag "text_search", (filters[:text_search] if filters), spellcheck: false, class: "govuk-input" %>
  </div>

  <% if current_user.system_admin? %>
    <%= render AdminFeature::View.new(classes: "app-status-box--filter-outdent") do %>
      <div class="govuk-form-group">
        <%= label_tag "provider", t("views.trainees.index.filters.provider"), class: "govuk-label govuk-label--s" %>
        <%= select_tag(
          :provider,
          options_from_collection_for_select(providers, :id, :name_and_code),
          include_blank: "All providers",
          class: "govuk-select"
        ) %>
      </div>
    <% end %>
  <% end %>

  <% if trainee_search_path?(search_path) %>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <%= t("views.trainees.index.filters.status") %>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small">
          <% TraineeFilter::STATUSES.each do |status, _| %>
            <% unless status == "course_not_yet_started" && all_trainees_started? %>
              <div class="govuk-checkboxes__item">
                <%= check_box_tag "status[]", status, checked?(filters, :status, status), id: "status-#{status}", class: "govuk-checkboxes__input" %>
                <%= label_tag "status-#{status}", label_for("status", status), class: "govuk-label govuk-checkboxes__label" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </fieldset>
    </div>

    <%= render "trainees/academic_year_filter" %>
  <% end %>

  <% [:start_year, :end_year].each do |field| %>
    <div class="govuk-form-group">
      <%= label_tag field, t("views.trainees.index.filters.#{field}"), class: "govuk-label govuk-label--s" %>
      <%= select_tag field, options_from_collection_for_select(
        filter_year_options(current_user, field),
        :value,
        :text,
        ->(object) { object.text == filters[field] if filters },
        ), class: "govuk-select" %>
    </div>
  <% end %>

  <%= render "trainees/record_completion_filter", search_path: search_path %>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <%= t("views.trainees.index.filters.study_mode") %>
      </legend>
      <div class="govuk-checkboxes govuk-checkboxes--small">
        <% [:full_time, :part_time].map do |study_mode| %>
          <div class="govuk-checkboxes__item">
            <%= check_box_tag "study_mode[]",
                              study_mode,
                              checked?(filters, :study_mode, study_mode.to_s),
                              id: "study_mode-#{study_mode}",
                              class: "govuk-checkboxes__input" %>
            <%= label_tag "study_mode-#{study_mode}",
                          label_for("study_mode", study_mode),
                          class: "govuk-label govuk-checkboxes__label" %>
          </div>
        <% end %>
      </div>
    </fieldset>
  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <%= t("views.trainees.index.filters.level") %>
      </legend>
      <div class="govuk-checkboxes govuk-checkboxes--small">
        <% DfE::ReferenceData::AgeRanges::COURSE_LEVELS.keys.map do |level| %>
          <div class="govuk-checkboxes__item">
            <%= check_box_tag "level[]", level, checked?(filters, :level, level.to_s), id: "level-#{level}", class: "govuk-checkboxes__input" %>
            <%= label_tag "level-#{level}", label_for("level", level), class: "govuk-label govuk-checkboxes__label" %>
          </div>
        <% end %>
      </div>
    </fieldset>
  </div>

  <div class="govuk-form-group">
    <%= label_tag "subject", t("views.trainees.index.filters.subject"), class: "govuk-label govuk-label--s" %>
    <%= select_tag :subject, options_from_collection_for_select(
      filter_course_subjects_options,
      :value,
      :text,
      ->(object) { object.text.downcase == filters[:subject] if filters },
    ), class: "govuk-select" %>
  </div>

  <% unless training_routes.count < 2 %>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <%= t("views.trainees.index.filters.type_of_training") %>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small">
          <% training_routes.sort_by { |training_route, _| label_for("training_route", training_route) }.each do |training_route, _| %>
            <div class="govuk-checkboxes__item">
              <%= check_box_tag "training_route[]", training_route, checked?(filters, :training_route, training_route), id: "training_route-#{training_route}", class: "govuk-checkboxes__input" %>
              <%= label_tag "training_route-#{training_route}", label_for("training_route", training_route), class: "govuk-label govuk-checkboxes__label" %>
            </div>
          <% end %>
        </div>
      </fieldset>
    </div>
  <% end %>

  <%= render "trainees/record_source_filter" %>
</form>
