<% if paginated_trainees.any? %>
  <% if search_primary_result_set.any? %>
    <div class="govuk-!-margin-bottom-8">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m"><%= search_primary_result_title %></h2>
        </div>
      </div>
      <%= render ApplicationRecordCard::View.with_collection(search_primary_result_set, system_admin: @current_user.system_admin?) %>
    </div>
  <% end %>

  <% if search_secondary_result_set.any? %>
    <div class="govuk-!-margin-bottom-8">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m"><%= search_secondary_result_title %></h2>
        </div>
      </div>
      <%= render ApplicationRecordCard::View.with_collection(search_secondary_result_set, system_admin: @current_user.system_admin?) %>
    </div>
  <% end %>

<% elsif filters %>
  <h2 class="govuk-heading-m">No records found</h2>
  <p class="govuk-body">
    Try
    <%= govuk_link_to "clearing your search and filters", search_path %>.
  </p>

<% else %>
  <h2 class="govuk-heading-m">
    <%= t("views.trainees.index.no_records") %>
  </h2>
<% end %>

<%= render Paginator::View.new(scope: paginated_trainees) %>