<%= render PageTitle::View.new(text: trainees_page_title(@paginated_trainees, @total_trainees_count)) %>

<% if @paginated_trainees.current_page > 1 %>
  <span class="govuk-caption-xl">
    Page <%= @paginated_trainees.current_page %> of <%= @paginated_trainees.total_pages %>
  </span>
<% end %>

<h1 class="govuk-heading-xl" aria-live="polite">
  Trainee records (<span id="js-trainee-count"><%= @total_trainees_count %></span><span class="govuk-visually-hidden"> <%= "record".pluralize(@total_trainees_count) %></span>)
</h1>

<% unless current_user.system_admin? %>
  <p class="govuk-body">
    <%= render GovukComponent::StartNowButton.new(
    text: "Add a trainee",
    href: new_trainee_path,
  ) %>
  </p>
<% end %>

<div class='moj-filter-layout'>
  <div class="moj-filter-layout__filter-wrapper app-filter">
    <div class="moj-filter-layout__filter">
      <div class="moj-filter">
        <div class="moj-filter__header">
          <div class="moj-filter__header-title">
            <h2 class="govuk-heading-m"><%= t("components.filter.title")%></h2>
          </div>
          <div class="moj-filter__header-action">
          </div>
        </div>

        <!-- Div made focusable to 'catch' focus from filters. see https://github.com/DFE-Digital/apply-for-teacher-training/pull/2640 -->
        <div class="moj-filter__content" tabindex="-1">
          <div id='js-selected-filters'>
            <%= render "trainees/selected_filters", filters: @filters %>
          </div>
          <div class="moj-filter__options">
            <%= render "trainees/filters",
              filters: @filters,
              training_routes: @training_routes
            %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='moj-filter-layout__content'>
    <div class="app-records-actions">
      <div class="app-records-actions-text-links" id="js-action-bar">
        <%= render "trainees/action_bar", paginated_trainees: @paginated_trainees %>
      </div>
      <div class="moj-action-bar">
        <div class="moj-action-bar__filter"></div>
      </div>
    </div>

    <div id='js-results'>
      <%= render "trainees/results",
        paginated_trainees: @paginated_trainees,
        draft_trainees: @draft_trainees,
        completed_trainees: @completed_trainees,
        filters: @filters
      %>
    </div>
  </div>
</div>
