<%= render PageTitle::View.new(title: trainees_page_title(@paginated_trainees, @total_trainees_count)) %>

<% if @paginated_trainees.current_page > 1 %>
  <span class="govuk-caption-xl">Page <%= @paginated_trainees.current_page %> of <%= @paginated_trainees.total_pages %></span>
<% end %>
<h1 class="govuk-heading-xl">Trainee records (<%= @total_trainees_count %><span class="govuk-visually-hidden"> <%= "record".pluralize(@total_trainees_count) %></span>)</h1>

<% unless current_user.system_admin? %>
  <p class="govuk-body">
    <%= render GovukComponent::StartNowButton.new(
    text: "Add a trainee",
    href: new_trainee_path,
  ) %>
  </p>
<% end %>

<%= render PaginatedFilter::View.new(filters: @filters, collection: @paginated_trainees, filter_params: filter_params) do |component| %>
  <% if @paginated_trainees.any? %>
    <% if @draft_trainees.any? %>
      <div class="govuk-!-margin-bottom-8 app-draft-records">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m">Draft records</h2>
          </div>
        </div>
        <%= render ApplicationRecordCard::View.with_collection(@draft_trainees) %>
      </div>
    <% end %>

    <% if @completed_trainees.any? %>
      <div class="govuk-!-margin-bottom-8 app-non-draft-records">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m">Records</h2>
          </div>
        </div>
        <%= render ApplicationRecordCard::View.with_collection(@completed_trainees) %>
      </div>
    <% end %>

  <% elsif @filters %>
    <h2 class="govuk-heading-m">No records found</h2>
    <p class="govuk-body">
      Try
      <%= govuk_link_to "clearing your search and filters", trainees_path %>.
    </p>

  <% else %>
    <h2 class="govuk-heading-m">
      <%= t("views.trainees.index.no_records") %>
    </h2>
  <% end %>

  <% component.filter_option do %>
    <div class="govuk-form-group">
      <%= label_tag "text_search", "Search records", class: "govuk-label govuk-label--s" %>
      <%= text_field_tag "text_search", (@filters[:text_search] if @filters), spellcheck: false, class: "govuk-input" %>
    </div>
  <% end %>

  <% unless @training_routes.count < 2 %>
    <% component.filter_option do %>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Type of training
          </legend>
          <div class="govuk-checkboxes govuk-checkboxes--small">
            <% @training_routes.map do |training_route, _| %>
              <div class="govuk-checkboxes__item">
                <%= check_box_tag "training_route[]", training_route, checked?(@filters, :training_route, training_route), id: "training_route-#{training_route}", class: "govuk-checkboxes__input" %>
                <%= label_tag "training_route-#{training_route}", label_for("training_route", training_route), class: "govuk-label govuk-checkboxes__label" %>
              </div>
            <% end %>
          </div>
        </fieldset>
      </div>
    <% end %>
  <% end %>

  <% component.filter_option do %>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          Status
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small">
          <% TraineeFilter::STATES.map do |state, _| %>
            <div class="govuk-checkboxes__item">
              <%= check_box_tag "state[]", state, checked?(@filters, :state, state), id: "state-#{state}", class: "govuk-checkboxes__input" %>
              <%= label_tag "state-#{state}", label_for("state", state), class: "govuk-label govuk-checkboxes__label" %>
            </div>
          <% end %>
        </div>
      </fieldset>
    </div>
  <% end %>

  <% component.filter_option do %>
    <div class="govuk-form-group">
      <%= label_tag "subject", "Subject", class: "govuk-label govuk-label--s" %>
      <%= select_tag :subject, options_from_collection_for_select(filter_course_subjects_options, :name, :name, (@filters[:subject] if @filters)), class: "govuk-select" %>
    </div>
  <% end %>
<% end %>
