<%= render PageTitle::View.new(title: "trainees.index") %>

<h1 class="govuk-heading-xl">Trainee records</h1>

<p class="govuk-body">
  <%= render GovukComponent::StartNowButton.new(
  text: "Add a trainee",
  href: new_trainee_path ) %>
</p>

<%= render Trainees::Filters::View.new(@filters) do %>
  <% if @draft_trainees.any? || @trainees.any? %>
    <% if @draft_trainees.any? %>
      <div class="govuk-!-margin-bottom-8 app-draft-records">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m">Draft records (<%= @draft_trainees.count %>)</h2>
          </div>
        </div>
        <%= render ApplicationRecordCard::View.with_collection(@draft_trainees) %>
      </div>
    <% end %>
    <% if @trainees.any? %>
      <div class="govuk-!-margin-bottom-8 app-non-draft-records">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m">Records (<%= @trainees.count %>)</h2>
          </div>
        </div>
        <%= render ApplicationRecordCard::View.with_collection(@trainees) %>
      </div>
    <% end %>
  <% elsif !@filters.empty? %>
    <h2 class="govuk-heading-m">No records found.</h2>
    <p class="govuk-body">
      Try
      <%= govuk_link_to "clearing your search and filters", trainees_path %>.
    </p>
  <% else %>
    <h2 class="govuk-heading-m">You do not have any records yet.</h2>
  <% end %>
<% end %>
