<h2 class="govuk-heading-l">Personal details</h2>

<p>
  <%= link_to "Update", personal_details_trainee_path(@trainee), class: "govuk-link" %>
</p>

<div class="personal-details">
  <%= render_component(SummaryTable::Component.new(content_hash: TraineePersonalDetails.new(@trainee).call)) %>
</div>

<h2 class="govuk-heading-l"><%= t('views.trainee_summary.contact_details.heading') %></h2>

<p>
  <%= link_to "Update", contact_details_trainee_path(@trainee), class: "govuk-link" %>
</p>

<div class="contact-details">
  <%= render_component(SummaryTable::Component.new(content_hash: TraineeContactDetails.new(@trainee).call)) %>
</div>

<h2 class="govuk-heading-l">Previous education</h2>

<p>
  <%= link_to "Update", previous_education_trainee_path(@trainee), class: "govuk-link" %>
</p>

<%= render_component(SummaryTable::Component.new(content_hash: TraineePreviousEducation.new(@trainee).call)) %>

<h2 class="govuk-heading-l">Course details</h2>

<p>
  <%= link_to "Update", course_details_trainee_path(@trainee), class: "govuk-link" %>
</p>

<div class="course-details">
  <%= render_component(SummaryTable::Component.new(content_hash: TraineeCourseDetails.new(@trainee).call)) %>
</div>
<h2 class="govuk-heading-l">Training details</h2>

<p>
  <%= link_to "Update", training_details_trainee_path(@trainee), class: "govuk-link" %>
</p>

<div class="training-details">
  <%= render_component(SummaryTable::Component.new(content_hash: TraineeTrainingDetails.new(@trainee).call)) %>
</div>
