<%= render_component PageTitle::View.new(title: "trainees.show",
                                           errors: @trainee.errors) %>

<%= content_for(:breadcrumbs) do %>
  <%= render_component GovukComponent::BackLink.new(
    text: 'All records',
    href: trainees_path
  ) %>
<% end %>

<h1 class="govuk-heading-l">
  Add a trainee
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h2 class="govuk-heading-m">Training details</h2>

    <%= render_component TaskList::View.new(classes: "record-setup") do |component|
      component.slot(
        :row,
        task_name: 'Training details',
        path: training_details_trainee_path(@trainee),
        status: 'completed'
      )

      component.slot(
        :row,
        task_name: 'Programme details',
        path: edit_trainee_programme_details_path(@trainee),
        confirm_path: trainee_programme_details_confirm_path(@trainee),
        classes: "programme-details",
        status: ProgressService.call(
          validator: ProgrammeDetail.new(@trainee),
          progress_value: @trainee.progress.programme_details
        ).status
      )

    end %>

    <h2 class="govuk-heading-m">About the trainee</h2>

    <%= render_component TaskList::View.new do |component|
      component.slot(
        :row,
        task_name: 'Personal details',
        path: edit_trainee_personal_details_path(@trainee),
        confirm_path: trainee_personal_details_confirm_path(@trainee),
        classes: "personal-details",
        status: ProgressService.call(
          validator: PersonalDetail.new(@trainee),
          progress_value: @trainee.progress.personal_details
        ).status
      )

      component.slot(
        :row,
        task_name: 'Contact details',
        path: edit_trainee_contact_details_path(@trainee),
        confirm_path: trainee_contact_details_confirm_path(@trainee),
        status: ProgressService.call(
          validator: ContactDetail.new(@trainee),
          progress_value: @trainee.progress.contact_details
        ).status
      )

      component.slot(
        :row,
        task_name: 'Diversity information',
        path: edit_trainee_diversity_disclosure_path(@trainee),
        confirm_path: trainee_diversity_disclosure_confirm_path(@trainee),
        classes: "diversity-details",
        status: ProgressService.call(
          validator: Diversities::DiversityFlow.new(@trainee),
          progress_value: @trainee.progress.diversity
        ).status
      )

      component.slot(
        :row,
        task_name: 'Degree',
        path: trainee_degrees_new_type_path(@trainee),
        confirm_path: trainee_degrees_confirm_path(@trainee),
        status: ProgressService.call(
          validator: DegreeDetail.new(@trainee),
          progress_value: @trainee.progress.degrees
        ).status,
        classes: 'degree-details'
      )
    end %>
  </div>
</div>

<% if @pre_submission_checker.successful? %>
  <h2 class="govuk-heading-m">Review and submit</h2>

  <%= govuk_link_to "Review this record", check_details_trainee_path(@trainee), {class: "govuk-button", id: "check-details"} %>
<% end %>

<p class="govuk-body"><%= govuk_link_to("Return to this draft record later", trainees_path) %></p>
