<%= form_with url: trn_submissions_path, method: :post, local: true do |f| %>
  <%= hidden_field_tag :trainee_id, @trainee.id %>
  <%= f.govuk_submit "Submit for TRN" %>
<%- end -%>

<h2 class="govuk-heading-l">Personal details</h2>

<p class="govuk-body">
  <%= govuk_link_to "Update", personal_details_trainee_path(@trainee) %>
</p>

<div class="personal-details">
  <%= render_component(SummaryCard::View.new(title: "Personal details",
                                             rows: View::TraineePersonalDetailsPresenter.new(@trainee).call))  %>
</div>

<h2 class="govuk-heading-l"><%= t('views.trainee_summary.contact_details.heading') %></h2>

<p class="govuk-body">
  <%= govuk_link_to "Update", contact_details_trainee_path(@trainee) %>
</p>

<div class="contact-details">
  <%= render_component(SummaryCard::View.new(title: "Contact details",
                                             rows: View::TraineeContactDetailsPresenter.new(@trainee).call)) %>
</div>

<h2 class="govuk-heading-l">Previous education</h2>

<p class="govuk-body">
  <%= govuk_link_to "Update", previous_education_trainee_path(@trainee) %>
</p>

<div class="previous-education">
  <%= render_component(SummaryCard::View.new(title: "Previous education",
                                             rows:  View::TraineePreviousEducationPresenter.new(@trainee).call)) %>
</div>

<h2 class="govuk-heading-l">Course details</h2>

<p class="govuk-body">
  <%= govuk_link_to "Update", course_details_trainee_path(@trainee) %>
</p>

<div class="course-details">
  <%= render_component(SummaryCard::View.new(title: "Course details",
                                             rows:  View::TraineeCourseDetailsPresenter.new(@trainee).call)) %>
</div>

<h2 class="govuk-heading-l">Training details</h2>

<p class="govuk-body">
  <%= govuk_link_to "Update", training_details_trainee_path(@trainee) %>
</p>

<div class="training-details">
  <%= render_component(SummaryCard::View.new(title: "Training details",
                                             rows: View::TraineeTrainingDetailsPresenter.new(@trainee).call)) %>
</div>
