<%= render_component PageTitle::View.new(title: "trainees.show",
                                           errors: @trainee.errors) %>

<%= content_for(:breadcrumbs) do %>
  <%= render_component GovukComponent::BackLink.new(
    text: 'All records',
    href: trainees_path
  ) %>
<% end %>

<h1 class="govuk-heading-l">
  Add a trainee
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h2 class="govuk-heading-m">Route into teaching</h2>

    <%= render_component TaskList::View.new(classes: "record-setup") do |component|
      component.slot(
        :row,
        task_name: 'Type of training',
        path: "",
        status: 'completed'
      )

      component.slot(
        :row,
        task_name: 'Programme details',
        path: edit_trainee_programme_details_path(@trainee),
        status: 'in progress'
      )

    end %>

    <h2 class="govuk-heading-m">Trainee details</h2>

    <%= render_component TaskList::View.new(classes: "personal-details") do |component|
      component.slot(
        :row,
        task_name: 'Personal details',
        path: edit_trainee_personal_details_path(@trainee),
        status: 'completed'
      )

      component.slot(
        :row,
        task_name: 'Contact details',
        path: edit_trainee_contact_details_path(@trainee),
        status: 'in progress'
      )

      component.slot(
        :row,
        task_name: 'Diversity information',
        path: edit_trainee_diversity_disclosure_path(@trainee),
        status: 'not started'
      )
    end %>

    <h2 class="govuk-heading-m">Education</h2>

    <%= render_component TaskList::View.new(classes: "education") do |component|

      component.slot(
        :row,
        task_name: 'Degree',
        path: @trainee.degrees.present?  ? trainee_degrees_confirm_path(@trainee) : trainee_degrees_new_type_path(@trainee),
        status: 'in progress',
        classes: 'degree-link'
      )
    end %>
  </div>
</div>

<h2 class="govuk-heading-m">Check and submit</h2>

<%= form_with url: trn_submissions_path, method: :post, local: true do |f| %>
  <%= hidden_field_tag :trainee_id, @trainee.id %>
  <%= f.govuk_submit "Review this record" %>
<%- end -%>

<p class="govuk-body"><%= govuk_link_to("Return to this draft record later", "#") %></p>
