<div class="record-outcome-action-bar">
  <%= render RecordActions::View.new(@trainee) %>
</div>

<div class="record-details">
  <%= render RecordDetails::View.new(trainee: @trainee, last_updated_event: @trainee.timeline.first) %>
</div>

<div class="course-details">
  <%= render Confirmation::CourseDetails::View.new(data_model: @trainee) %>
</div>

<% if @trainee.requires_schools? %>
  <div class="school-details">
    <%= render SchoolDetails::View.new(@trainee) %>
  </div>
<% end %>

<% if @trainee.requires_placement_details? %>
  <div class="placement-details">
    <%= render Confirmation::PlacementDetails::View.new(trainee: @trainee) %>
  </div>
<% end %>

<% if FeatureService.enabled?(:show_funding) %>
  <div class="funding">
    <%= render Confirmation::Funding::View.new(data_model: @trainee) %>
  </div>
<% end %>
