<h1 class="govuk-heading-l govuk-!-margin-bottom-1">
  <%= t("components.page_titles.trainees.employing_schools.index") %>
</h1>

<% if query.present? %>
  <div class="govuk-hint">
    <%= t("components.page_titles.search_schools.sub_text_results") %> ‘<%= query %>’
  </div>
<% end %>

<%= f.govuk_error_summary %>

<%= f.govuk_radio_buttons_fieldset :employing_school_id, legend: nil do %>
    <% @schools.each_with_index do |school, index| %>
      <%= f.govuk_radio_button :employing_school_id, school.id,
                              label: { text: school.name },
                              link_errors: index.zero?,
                              hint: { text: school_urn_and_location(school) } %>
    <% end %>

  <%= f.govuk_radio_divider %>

  <%= f.govuk_radio_button :employing_school_id,
                          :results_search_again,
                          label: { text: t("components.page_titles.search_schools.search_button") } do %>
    <%= f.govuk_text_field :results_search_again_query,
                          label: { text: t("components.page_titles.search_schools.search_hint") },
                          width: "three-quarters" %>
  <% end %>
<% end %>

<%= f.govuk_submit %>
