<%= render PageTitle::View.new(text: "Upload summary") %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(text: "Home", href: root_path) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop" >
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-xl"><%= current_user.organisation.name %></span>
      Upload summary
    </h1>

    <p class="govuk-body">
      You uploaded a CSV file with details of {COUNT} trainees.
    </p>

    <p class="govuk-body">
      It included:
    </p>

    <ul class="govuk-list govuk-list--number">
      <li>
        {COUNT} trainees who will be recommended for QTS or EYTS
      </li>
      <li>
        {COUNT} trainees who will not be recommended, as you did not give a date
        when they met the QTS or EYTS standards
      </li>
    </ul>

    <%= govuk_link_to("Check who you’ll recommend", bulk_update_recommendation_upload_check_path(1), class: "govuk-button") %>
  </div>
</div>