<%= render PageTitle::View.new(i18n_key: "trainees.delete") %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(text: I18n.t("back_to_draft"), href: trainee_path(@trainee)) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <% if @trainee.draft? %>
      <span class="govuk-caption-l">
        <%= t("views.confirm_delete.caption") %> <%= trainee_name(@trainee) if trainee_name(@trainee).present? %>
      </span>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-8">
        <%= t("views.confirm_delete.heading", record_type: t(:draft)) %>
      </h1>
    <% else %>
      <span class="govuk-caption-l"><%= trainee_name(@trainee) %></span>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-8"><%= t("views.confirm_delete.heading", record_type: t(:record)) %></h1>
      <%= render GovukComponent::WarningTextComponent.new(text: t("views.confirm_delete.warning")) %>
    <% end %>
  </div>
</div>

<%= govuk_button_to t("views.confirm_delete.delete_button", record_type: @trainee.draft? ? t(:draft) : t(:record)),
                    trainee_path(@trainee),
                    method: :delete,
                    class: "govuk-button govuk-button--warning" %>

<p class="govuk-body"><%= govuk_link_to(t("views.forms.common.cancel_and_return_to_record"), trainee_path(@trainee)) %></p>
