<h1 class="govuk-heading-l"><%= heading %></h1>
<p class="govuk-body"><%= heading_text %></p>

<%= render GovukComponent::DetailsComponent.new(summary_text: t(".incorrect_details_title")) do %>
  <%= simple_format t(".incorrect_details_text"), class: "govuk-body" %>
<% end %>

<section class="app-summary-card govuk-!-margin-bottom-6">
  <header class="app-summary-card__header">
    <h2 class="app-summary-card__title">
      <%= summary_title %>
    </h2>
  </header>
  <div class="app-summary-card__body">
    <%= render GovukComponent::SummaryListComponent.new do |summary_list| %>
      <% summary_rows.each do |summary_row| %>
        <% summary_list.row(classes: summary_row[:key].to_s.downcase.gsub(/ /, "-")) do |row|
          row.key(text: summary_row[:key])
          row.value(text: summary_row[:value])
          row.action(text: t(".change_course"), href: summary_row[:action])
        end %>
      <% end %>
    <% end %>
  </div>
</section>
