<%= render PageTitle::View.new(title: "trainees.diversity.disclosures.edit",
                               has_errors: @disclosure_form.errors.present?) %>

<%= content_for(:breadcrumbs) do %>
  <%= render DynamicBackLink::View.new(@trainee, text: t(:back)) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= register_form_with(model: @disclosure_form, url: trainee_diversity_disclosure_path(@trainee),
                           method: :put, local: true) do |f| %>
      <%= f.govuk_error_summary %>

        <%= f.govuk_collection_radio_buttons(
          :diversity_disclosure,
          Diversities::DIVERSITY_DISCLOSURE_ENUMS.values,
          ->(value) { value },
          ->(label) { I18n.t("views.forms.diversity_disclosures.label_names.#{label}") },
          legend: { text: "Has the trainee shared diversity information?", tag: "h1", size: "l" },
          hint: { text: "Includes ethnicity and disabilities" },
        ) %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
