<%= render PageTitle::View.new(
  text: t('.placement_details_title'),
  has_errors: @placement_detail_form.errors.present?,
) %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(text: t(:back), href: trainee_path(@trainee)) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= register_form_with(model: @placement_detail_form, url: trainee_placements_details_path(@trainee), method: :put, local: true) do |f| %>
      <%= f.govuk_error_summary %>

      <%= render TraineeName::View.new(@trainee) %>
      <h1 class="govuk-heading-l"><%= t('.placement_details_title') %></h1>

      <p class="govuk-body">
        You need to add the details of at least 2 schools. These can be added at any time.
      </p>

      <p class="govuk-body">
        <%= govuk_link_to("Read DfE guidance about school placements", "https://www.gov.uk/government/publications/initial-teacher-training-criteria/initial-teacher-training-itt-criteria-and-supporting-advice#c23-training-in-schools") %>.
      </p>

      <%= f.govuk_collection_radio_buttons(
        :placement_detail,
        PLACEMENT_DETAIL_ENUMS.values,
        ->(value) { value },
        ->(label) { I18n.t("views.forms.placement_details.label_names.#{label}") },
        legend: { text: "Do you have any of the trainee’s placement details?", tag: "h2" },
      ) %>

      <%= f.govuk_submit("Continue") %>
    <% end %>
  </div>
</div>
