<div class="govuk-grid-row">
  <div class ="govuk-grid-column-two-thirds-from-desktop">
    <%= render PageTitle::View.new(i18n_key: "uploads.index") %>

    <h1 class="govuk-heading-l">Uploads</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class ="govuk-grid-column-full">
    <%= render "system_admin/tab_nav" %>

    <p class="govuk-body">
      <%= render GovukComponent::StartButtonComponent.new(
      text: "Upload File",
      href: new_upload_path,
    ) %>
    </p>

    <div class="govuk-grid-row">
      <div class ="govuk-grid-column-full">
        <%= register_form_with url: uploads_path, method: :get do |f| %>
          <%= f.govuk_text_field :search,
                                 label: { text: "Search for an upload"},
                                 value: params[:search],
                                 width: "two-thirds" %>
          <%= f.govuk_submit "Search", class: "submit-search" %>
        <% end %>
      </div>
    </div>

  <table class="govuk-table" summary="Users list">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-fifth no-wrap">File name</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-fifth no-wrap">Uploaded by</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-fifth no-wrap">Upload ID</th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      <% @uploads.each do |upload| %>
        <tr class="govuk-table__row upload-row">

          <td class="govuk-table__cell">
            <span class="govuk-!-display-block govuk-!-margin-bottom-1">
              <%= govuk_link_to upload.name, upload, class: "upload-link" %>
            </span>
          </td>

          <td class="govuk-table__cell">
            <span class="govuk-!-display-block govuk-!-margin-bottom-1">
              <%= upload.user.name %>
            </span>
          </td>


          <td class="govuk-table__cell">
            <span class="govuk-!-display-block govuk-!-margin-bottom-1">
              <%= upload.id %>
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>


