<%= render PageTitle::View.new(text: @upload.name) %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(text: t(:back), href: uploads_path) %>
<% end %>

<h1 class="govuk-heading-l"> Upload </h1>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">File name</dt>
    <dd class="govuk-summary-list__value"><%= @upload.name %></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Uploaded by</dt>
    <dd class="govuk-summary-list__value"><%= @upload.user.name %></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Upload ID</dt>
    <dd class="govuk-summary-list__value"><%= @upload.id %></dd>
  </div>
</dl>

<p class="govuk-body">
  <%= govuk_link_to "Download", rails_blob_path(@upload.file.blob, disposition: "attachment"), class: "govuk-button govuk-!-margin-bottom-2" %>

  <%= govuk_button_to "Permanently delete file",
                      upload_path(@upload),
                      method: :delete,
                      class: "govuk-button govuk-button--warning" %>
</p>
