<%= render PageTitle::View.new(text: @upload_view.name) %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(text: t(:back), href: uploads_path) %>
<% end %>

<h1 class="govuk-heading-l"> Upload </h1>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">File name</dt>
    <dd class="govuk-summary-list__value"><%= @upload_view.name %></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Uploaded by</dt>
    <dd class="govuk-summary-list__value"><%= @upload_view.user.name %></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Upload ID</dt>
    <dd class="govuk-summary-list__value"><%= @upload_view.id %></dd>
  </div>
</dl>

<p class="govuk-body">
  <% if @upload_view.upload.scan_result_clean? %>
    <%= govuk_link_to "Download", rails_blob_path(@upload_view.file.blob, disposition: "attachment"), class: "govuk-button govuk-!-margin-bottom-2" %>
  <% else %>
    <p class="govuk-body">
      Upload has not been flagged as clean.
    </p>
  <% end %>

  <%= govuk_button_to "Permanently delete file",
                      upload_path(@upload_view.upload),
                      method: :delete,
                      class: "govuk-button govuk-button--warning" %>
</p>
