<% text = I18n.t("components.page_titles.trainees.itt_start_date.edit") %>

<%= render PageTitle::View.new(text: text, has_errors: @start_form.errors.present?) %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLink.new(
    text: "Back",
    href: trainee_path(@trainee),
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= register_form_with(model: @start_form, 
                           url: trainee_course_details_itt_start_date_path(@trainee), 
                           local: true) do |f| %>
      <%= f.govuk_error_summary %>
        <%= f.govuk_fieldset(legend: { text: text, tag: "h1", size: "l" }) do %>
            <%= f.govuk_date_field :date, legend: { text: "" }, 
            hint: -> do %>
              <p class="govuk-body govuk-hint"> <%= t("components.itt_start_date.hint") %> </p>
              <p class="govuk-body govuk-hint"> <%= "#{t('views.forms.common.for_example')}, 26 7 2021" %> </p>
            <% end %>
          <div>
        <% end %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
