<%= content_for(:breadcrumbs) do %>
  <%= render_component GovukComponent::BackLink.new(
    text: 'Back',
    href: trainee_path(@trainee)
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_for(@personal_detail, url: trainee_personal_details_path(@trainee), method: :put, local: true) do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">Trainee personal details</h1>
      
      <%= f.govuk_text_field :first_names, label: { text: 'First names', size: 's' }, hint: { text: 'Or given names' }, width: 'three-quarters' %>

      <%= f.govuk_text_field :middle_names, label: { text: 'Middle names', size: 's' }, width: 'three-quarters' %>

      <%= f.govuk_text_field :last_name, label: { text: 'Last name', size: 's' }, width: 'three-quarters' %>

      <%= f.govuk_date_field :date_of_birth, date_of_birth: true, legend: { text: 'Date of birth', size: 's' }, hint: { text: 'For example, 31 3 1980' } %>

      <% genders = [OpenStruct.new(id: 1, name: 'Male'), OpenStruct.new(id: 2, name: 'Female'), OpenStruct.new(id: 3, name: 'Other')]%>
      <%= f.govuk_collection_radio_buttons :gender, genders, :id, :name, legend: { text: 'Gender', size: 's' }, classes: "gender" %>

      <%= f.govuk_collection_check_boxes :nationality_ids, 
          format_default_nationalities(@nationalities), 
          :id, 
          :name, 
          :description, 
          legend: { text: "Nationality", size: 's' }, 
          hint: { text: 'Select all that apply' },
          classes: "nationality" %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>

<p class="govuk-body"><%= govuk_link_to("Cancel", trainee_path(@trainee)) %></p>