<%= render PageTitle::View.new(text: "Bulk add new trainees") %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: t(:back),
    href: (
      request.referrer.present? && request.referrer.match?(/#{bulk_update_add_trainees_uploads_path}\/\d+$/)) ?
        request.referrer : bulk_update_path
    )
  %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-xl"><%= organisation_name %></span>
      Status of new trainee files
    </h1>

    <p class="govuk-body">
      View the status of recently uploaded files containing new trainees.<br>
      This will list all successful new trainee uploads for the current academic year.<br>
      Failed uploads will be removed after 30 days.
    </p>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-visually-hidden">Trainee uploads</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">Submitted</th>
          <th class="govuk-table__header">Filename</th>
          <th class="govuk-table__header">Validation status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body"><tr class="govuk-table__row">
        <% @bulk_update_trainee_uploads.each do |bulk_update_trainee_upload| %>
          <%= render(BulkUpdate::TraineeUploads::Row::View.new(upload: bulk_update_trainee_upload)) %>
        <% end %>
      </tbody>
    </table>

    <p class="govuk-body">
      <%= govuk_link_to "Cancel reviewing uploads", root_path %>
    </p>
  </div>
</div>
