<%= render PageTitle::View.new(text: "Bulk add new trainees") %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(text: "Home", href: root_path) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= register_form_with(model: @bulk_add_trainee_upload_form, url: bulk_update_add_trainees_uploads_path) do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl"><%= organisation_name %></span>
        Bulk add new trainees
      </h1>

      <p class="govuk-body">
        You can register new trainees in bulk with a CSV file. <%= govuk_link_to(
          "This is the template CSV file to add new trainees.",
          bulk_update_add_trainees_empty_template_path(format: :csv),
        ) %>
      </p>

      <p class="govuk-body">
        You can leave non mandatory fields empty if you do not want to upload those fields.
      </p>

      <p class="govuk-body">
        You can also add trainee data directly from your student record system.
      </p>

      <p class="govuk-body">Check
        <%= govuk_link_to(
          "guidance on how add trainee information to the CSV template (opens in new tab)",
          csv_docs_home_path,
          target: "_blank",
        ) %>.
      </p>

      <h2 class="govuk-heading-m">
        Checking your trainee records before adding to Register
      </h2>

      <p class="govuk-body">
        Uploaded CSVs are checked for errors before the final submission stage.
      </p>

      <p class="govuk-inset-text">
        These tests can also be used as a tool to check your file is valid without having to submit it.
      </p>

      <p class="govuk-body">
        We will send you an email to tell you if the file is valid and ready for final submission. At this point trainees can be added to the database.
      </p>

      <h2 class="govuk-heading-m">
        Upload your trainee records
      </h2>

      <label class="govuk-label" for="file-upload-1">
        Upload a file
      </label>
      <div id="file-upload-1-hint" class="govuk-hint">
        File type must be ‘CSV’.
      </div>

      <%= f.govuk_file_field(:file, label: { hidden: true }, accept: ".csv") %>

      <%= render(BulkUpdate::TraineeUploads::HelpWithCsv::View.new) %>

      <%= f.govuk_submit("Upload CSV") %>
    <% end %>
  </div>
</div>
