<%= render PageTitle::View.new(text: "Upload summary") %>

<%= content_for(:breadcrumbs) do %>
  <% if request.referrer.present? && request.referrer.match?(/#{bulk_update_add_trainees_uploads_path}$/) %>
    <%= render GovukComponent::BackLinkComponent.new(text: "Back", href: bulk_update_add_trainees_uploads_path) %>
  <% else %>
    <%= render GovukComponent::BackLinkComponent.new(text: "Home", href: root_path) %>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= govuk_panel(
      title_text: "Trainees submitted",
      classes: "govuk-!-margin-bottom-7"
    ) %>

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-xl"><%= organisation_name %></span>
      Your file is being processed
    </h1>

    <p class="govuk-body">
      We're currently processing <%= @bulk_update_trainee_upload.filename %>.
    </p>

    <p class="govuk-body">
      This could take several minutes if there are a large number of trainees.
    </p>

    <p class="govuk-body">
      You'll receive an email to tell you when this is complete.
    </p>

    <p class="govuk-body">
      You can also check the <%= govuk_link_to "status of new trainee files", bulk_update_add_trainees_uploads_path %>.
    </p>

    <p class="govuk-body">
      <%= link_to "Back to bulk updates page", bulk_update_path %>
    </p>
  </div>
</div>
