<%= render PageTitle::View.new(text: "Upload summary") %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: "Back",
    href: bulk_update_add_trainees_uploads_path
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-xl"><%= organisation_name %></span>
      Upload Summary
    </h1>

    <p class="govuk-body">
      You uploaded a CSV file with details of <%= pluralize(@bulk_update_trainee_upload.number_of_trainees, "trainee") %>.
    </p>

    <p class="govuk-body">
      It included:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <% if @bulk_update_trainee_upload.trainee_upload_rows.without_errors.present? %>
        <li>
          <%= pluralize(@bulk_update_trainee_upload.trainee_upload_rows.without_errors.size, "trainee") %> who can be added
        </li>
      <% end %>

      <% if @bulk_update_trainee_upload.row_errors.duplicate.present? %>
        <li>
          <%= pluralize(@bulk_update_trainee_upload.trainee_upload_rows.with_duplicate_errors.size, "trainee") %>
          who will not be added, as they already exist in Register
        </li>
      <% end %>

      <% if @bulk_update_trainee_upload.row_errors.validation.present? %>
        <li>
          <%= pluralize(@bulk_update_trainee_upload.trainee_upload_rows.with_validation_errors.size, "trainee") %>
          with errors in their details
        </li>
      <% end %>
    </ul>
    <% if @bulk_update_trainee_upload.row_errors.present? %>
      <p class="govuk-body">You need to review the errors before you can add new trainees</p>

      <%= render GovukButtonLinkTo::View.new(
        body: "Review errors",
        url: bulk_update_add_trainees_review_error_path(@bulk_update_trainee_upload),
        class_option: "govuk-button"
      ) %>
    <% else %>
      <%= register_form_with(
        model: @bulk_update_trainee_upload,
        url: bulk_update_add_trainees_submission_path(@bulk_update_trainee_upload),
        method: :post
      ) do |f| %>
          <%= f.govuk_submit("Submit") %>
      <% end %>
    <% end %>
    <p class="govuk-body">
      <%= register_form_with(
        model: @bulk_update_trainee_upload,
        url: bulk_update_add_trainees_upload_path(@bulk_update_trainee_upload),
        method: :delete
      ) do |f| %>
        <%= f.submit "Cancel bulk updates to records", class: "govuk-link app-button--link govuk-body" %>
      <% end %>
    </p>
  </div>
</div>
