<%= render PageTitle::View.new(text: current_user.organisation.name) %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: "Back",
    href: organisation_settings_path,
  ) %>
<% end %>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Manage your API tokens</h1>


    <p class="govuk-body">
      You can:
    <p>

    <ul class="govuk-list govuk-list--bullet">
      <li>view a list of tokens, their name, expiry date and date last used</li>
      <li>generate a new token, give it a name, set an expiry date (optional) and revoke a token</li>
    </ul>

    <p class="govuk-body">
      These API tokens are unique to your organisation.
    </p>

    <p class="govuk-body">
      Your token will need to be set up in the student record system which is connecting to the Register API. Contact your student record system provider about this.
    </p>

    <p class="govuk-body">
      You must make sure the token is securely sent to those responsible for managing your Register API integration.
    </p>

    <h3 class="govuk-heading-m">Revoking a token</h3>

    <p class="govuk-body">
      Revoking a token removes access to the Register API. You may want to revoke a token:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>for security reasons, for example, when a person leaves a provider organisation who’s had access to the Register API</li>
      <li>If you change your student record system</li>
    </ul>

    <p class="govuk-body">
      Before revoking a current token, you should generate a new token if you want to continue transferring your trainee data to Register via the API.
    </p>

    <div class="govuk-button-group">
      <%= govuk_link_to "Generate a new token", new_authentication_token_path, class: "govuk-button" %>
      <%= govuk_link_to "Cancel", organisation_settings_path %>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-from-desktop">
    <h3 class="govuk-heading-m govuk-!-margin-top-5">Previously created tokens</h3>

    <% @tokens.each do |token| %>
      <%= render AuthenticationTokens::Details::View.new(token) %>
    <% end %>
  </div>
</div>
