<%= render PageTitle::View.new(text: current_user.organisation.name) %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: "Back",
    href: organisation_settings_path,
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= render AuthenticationTokens::Manage::View.new(
      tokens: @tokens,
      current_user: @current_user_session,
    ) %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-from-desktop">
    <h3 class="govuk-heading-m govuk-!-margin-top-5">Previously created tokens</h3>

    <% @tokens.each do |token| %>
      <%= render AuthenticationTokens::Details::View.new(token) %>
    <% end %>
  </div>
</div>
