<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(text: "Back", href: authentication_tokens_path) %>
<% end %>

<%= render PageTitle::View.new(
  text: "Organisation – #{current_user.organisation.name}",
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= govuk_panel(
      title_text: "Token generated",
      classes: "govuk-panel govuk-panel--confirmation app-authentication-token-success-panel",
    ) do %>
      <% if flash[:token].present? %>
        <p>
          Your API token is
          <br/>
          <strong id="token-text"><%= flash[:token] %></strong>
        </p>
      <% end %>
    <% end %>

    <% if flash[:token].present? %>
      <p class="govuk-body">Make sure to copy your API token now as you will not be able to see it again.</p>

      <p class="govuk-body">You must make sure the token is securely sent to those responsible for managing your Register API integration.</p>

      <button id="copy-to-clipboard-button" class="govuk-button govuk-visually-hidden">
        Copy token
      </button>
    <% else %>
      <p class="govuk-body">
        Your API token has already been displayed and cannot be shown again.
      </p>
      <p class="govuk-body">
        If you did not copy it, you can start again and generate a new token.
      </p>
    <% end %>

    <p class="govuk-body">
      <%= govuk_link_to "Continue to manage tokens", authentication_tokens_path %>
    </p>
  </div>
</div>
