<%= render PageTitle::View.new(text: t("components.page_titles.funding.payment_schedule", start_year: @start_year, end_year: @end_year)) %>

<%= render "funding/navigation" %>

<%- if @payment_schedule_view.any? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-margin-bottom-3">
      <h1 class="govuk-heading-m"><%= t('funding.payment_schedule.heading', start_year: @start_year, end_year: @end_year) %></h1>
      <p class="govuk-body"><%= t('funding.payment_schedule.last_updated_at', date: @payment_schedule_view.last_updated_at) %></p>
      <p class="govuk-body app-export-link-container">
        <span class="no-wrap">
          <%= govuk_link_to(
            I18n.t('funding.payment_schedule.export_label', start_year: @start_year, end_year: @end_year),
            funding_csv_export_path(:payment_schedule),
            class: "app-trainee-export govuk-link--no-visited-state",
          ) %>
        </span>
      </p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <table id="payments" class="govuk-table">
        <caption class="govuk-table__caption govuk-caption-s govuk-!-margin-bottom-3">
          <%= t('funding.payment_schedule.payments_table_caption', month_and_year: Time.zone.now.strftime("%B %Y")) %>
        </caption>
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"><%= t('funding.payment_schedule.month') %></th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric"><%= t('funding.payment_schedule.total') %></th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric"><%= t('funding.payment_schedule.running_total') %></th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        <%- @payment_schedule_view.actual_payments.each do |actual_payment| -%>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><%= actual_payment[:month] %></td>
            <td class="govuk-table__cell govuk-table__cell--numeric no-wrap"><%= actual_payment[:total] %></td>
            <td class="govuk-table__cell govuk-table__cell--numeric no-wrap"><%= actual_payment[:running_total] %></td>
          </tr>
        <%- end -%>
        </tbody>
      </table>
      <%- if @payment_schedule_view.predicted_payments.any? %>
        <table id="predicted-payments" class="govuk-table">
          <caption class="govuk-table__caption govuk-caption-s govuk-!-margin-bottom-3">
            <%= t('funding.payment_schedule.predicted_payments_table_caption') %>
          </caption>
          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"><%= t('funding.payment_schedule.month') %></th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric"><%= t('funding.payment_schedule.total') %></th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric"><%= t('funding.payment_schedule.running_total') %></th>
          </tr>
          </thead>
          <tbody>
          <%- @payment_schedule_view.predicted_payments.each do |predicted_payment| -%>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><%= predicted_payment[:month] %></td>
              <td class="govuk-table__cell govuk-table__cell--numeric no-wrap"><%= predicted_payment[:total] %></td>
              <td class="govuk-table__cell govuk-table__cell--numeric no-wrap"><%= predicted_payment[:running_total] %></td>
            </tr>
          <%- end -%>
          </tbody>
        </table>
      <%- end -%>
      <h2 class="govuk-heading-m"><%= t('funding.payment_schedule.payment_breakdown') %></h2>
      <%= govuk_accordion do |accordion|
        @payment_schedule_view.payment_breakdown.each do |month_breakdown|
          accordion.with_section(heading_text: month_breakdown.title, expanded: month_breakdown.last_actual_month?) do
            render partial: "funding/payment_schedules/month_breakdown", locals: { month_breakdown: month_breakdown }
          end
        end
      end %>
    </div>
  </div>
<%- else -%>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l"><%= t('funding.payment_schedule.heading', start_year: @start_year, end_year: @end_year) %></h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop" >
      <p class="govuk-body"><%= t("funding.payment_schedule.no_data") %></p>
      <p class="govuk-body">
        <%= t("funding.payment_schedule.contact_info", email: support_email(
          subject: t("funding.view.title")
        )).html_safe %>
      </p>
    </div>
  </div>
<%- end -%>
