<%= render PageTitle::View.new(i18n_key: "schools.index") %>

<h1 class="govuk-heading-l">All schools</h1>

<%= render "system_admin/tab_nav" %>

<%= register_form_with(
  url: schools_path,
  local: true,
  method: :get,
  html: { data: { module: "app-schools-autocomplete" } },
) do |f| %>
  <%= f.hidden_field :school_id, id: "school-id" %>
  <%= f.govuk_text_field(
    :query,
    form_group: { class: "govuk-form-group app-js-only" },
    label: { text: "Search for a school", size: "s" },
    hint: { text: "Search for a school by its unique reference number (URN), name, postcode or town" },
    value: params[:query],
    "data-field" => "schools-autocomplete",
    width: "three-quarters",
  )%>
  <div id="schools-autocomplete-element" class="govuk-!-width-three-quarters"
      data-system-admin-redirect-school="true"
      data-default-value="<%= params[:query] %>" data-field-name="system_admin_user_schools_form[query]">
  </div>
<% end %>

<table class="govuk-table" summary="Schools list">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-half no-wrap">Name</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-half no-wrap">URN</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-half no-wrap">Town</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-half no-wrap">Postcode</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-half no-wrap">Open date</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-half no-wrap">Close date</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-half no-wrap">Training partner</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <% @schools.each do |school| %>
      <tr class="govuk-table__row qa-school_row">

        <td class="govuk-table__cell">
          <span class="govuk-!-display-block govuk-!-margin-bottom-1">
            <%= link_to school.name, school_path(school) %>
          </span>
        </td>

        <td class="govuk-table__cell">
          <span class="govuk-!-display-block govuk-!-margin-bottom-1">
            <%= school.urn %>
          </span>
        </td>

        <td class="govuk-table__cell">
          <span class="govuk-!-display-block govuk-!-margin-bottom-1">
            <%= school.town %>
          </span>
        </td>

        <td class="govuk-table__cell">
          <span class="govuk-!-display-block govuk-!-margin-bottom-1">
            <%= school.postcode %>
          </span>
        </td>

        <td class="govuk-table__cell">
          <span class="govuk-!-display-block govuk-!-margin-bottom-1 no-wrap">
            <%= school.open_date&.strftime("%d %B %Y") %>
          </span>
        </td>

        <td class="govuk-table__cell">
          <span class="govuk-!-display-block govuk-!-margin-bottom-1 no-wrap">
            <%= school.close_date&.strftime("%d %B %Y") %>
          </span>
        </td>

        <td class="govuk-table__cell">
          <span class="govuk-!-display-block govuk-!-margin-bottom-1">
            <%= school.lead_partner? ? "Yes" : "No"%>
          </span>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= render Paginator::View.new(scope: @schools) %>
