<%= render PageTitle::View.new(text: @school.name) %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: t(:back),
    href: schools_path,
  ) %>
<% end %>

<h1 class="govuk-heading-l"><%= @school.name %></h1>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Name
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @school.name %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      URN
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @school.urn %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Town
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @school.town %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Postcode
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @school.postcode %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      URN
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @school.urn %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Is a lead partner
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @school.lead_partner.present? ? "Yes" : "No" %>
    </dd>
    <dd class="govuk-summary-list__value">
      <%= link_to "Change", edit_school_path(@school) %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Open date
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @school.open_date&.strftime("%d %B %Y") %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Close date
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @school.close_date&.strftime("%d %B %Y") %>
    </dd>
  </div>
</dl>
