<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop" >
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-xl"><%= organisation_name %></span>
      Your new trainees are being registered
    </h1>

    <table class="govuk-table">
      <tbody class="govuk-table__body"><tr class="govuk-table__row">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Submitted by</th>
          <td class="govuk-table__cell">
            <%= upload.submitted_by.name %>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Date and time</th>
          <td class="govuk-table__cell">
            <%= upload.submitted_at.to_fs(:govuk_date_and_time) %>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Number trainees to register</th>
          <td class="govuk-table__cell">
            <%= upload.number_of_trainees %>
          </td>
        </tr>
      </tbody>
    </table>

    <p class="govuk-body">
      You can also check the <%= govuk_link_to("status of new trainee files", bulk_update_add_trainees_uploads_path) %>.
    </p>

    <h2 class="govuk-heading-m">
      Check data submitted into Register from CSV bulk add new trainees
    </h2>

    <p class="govuk-body">
      You can check your trainee data once it has been submitted into Register. At any time you can:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        view 'Choose trainee status export' from the 'Registered trainees' section, using the 'academic year' or
        'start year' filter to select the  current academic year
      </li>
      <li>
        check your trainees directly in the service one by one
      </li>
    </ul>
  </div>
</div>
