<%= render PageTitle::View.new(text: "Check who you've selected that holds #{qts_or_eyts(recommendations_upload.awardable_rows)}") %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(text: "Back", href: back_url_for_check_page(recommendations_upload)) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" >
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-xl">Bulk select</span>
      Check who you've selected that holds
      <%= qts_or_eyts(recommendations_upload.awardable_rows) %>
    </h1>

    <% @rows.tap do |awardable_rows| %>
      <% if awardable_rows.count <= @table_row_limit %>
        <%= render partial: "table", locals: {
          rows: awardable_rows,
          caption: "Trainees you’ll select that hold #{qts_or_eyts(recommendations_upload.awardable_rows)}"
        } %>
      <% else %>
        <%= govuk_accordion(html_attributes: {
                              id: "recommendations-upload-#{recommendations_upload.id}",
                              "data-i18n.show-all-sections" => "Show all trainees you’ve selected",
                              "data-i18n.hide-all-sections" => "Hide all trainees you’ve selected",
                            }) do |accordion|
          awardable_rows.each_slice(@table_row_limit).with_index do |(*rows), index|
            heading_text = "#{"Trainee".pluralize(rows.count)} #{from_to((@table_row_limit*index) + 1, (@table_row_limit*index) + rows.count)} selected to hold #{qts_or_eyts(recommendations_upload.awardable_rows)}"

            accordion.with_section(heading_text: heading_text) do
              render partial: "table", locals: { rows: rows, caption: heading_text }
            end
          end
        end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= register_form_with url: bulk_update_recommendations_upload_recommendations_path, method: :post, local: true do |f| %>
      <%= f.govuk_submit("Select #{pluralize(awardable_rows_count, "trainee")} that hold #{qts_or_eyts(recommendations_upload.awardable_rows)}", id: "recommend") %>
    <% end %>
    <div class="govuk-body">
      <%= govuk_link_to("Change who you'll select", edit_bulk_update_recommendations_upload_path(recommendations_upload)) %>
    </div>
    <div class="govuk-body">
      <%= govuk_link_to("Cancel bulk selecting trainees that now hold QTS or EYTS", cancel_bulk_update_recommendations_upload_path(recommendations_upload)) %>
    </div>
  </div>
</div>
