<%= f.govuk_error_summary %>

<%= render TraineeName::View.new(@trainee) %>

<h1 class="govuk-heading-l govuk-!-margin-bottom-1">
  <%= t("components.page_titles.search_schools.page_title_no_results") %>
</h1>

<% if f.object.valid? %>
  <div class="govuk-inset-text">
    <p class="govuk-body"><%= t("components.page_titles.search_schools.sub_text_no_results") %>
      <span class="govuk-!-font-weight-bold"><%= query %></span>.
    </p>
  </div>
<% end %>

<%= f.hidden_field :lead_partner_id, value: :no_results_search_again %>

<%= f.govuk_text_field :no_results_search_again_query,
                       label: { text: t("components.page_titles.search_schools.search_hint") },
                       width: "three-quarters" %>

<%= f.govuk_submit t("components.page_titles.search_schools.search_button") %>
