<%= render PageTitle::View.new(i18n_key: "trainees.training_partners.index", has_errors: @training_partner_form.errors.present?) %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: "Back",
    href: edit_trainee_training_partners_path,
  ) %>
<% end %>

<%= register_form_with(model: @training_partner_form,
                         url: trainee_training_partners_path(@trainee, query: params[:query]),
                         method: :put,
                         local: true) do |f| %>
  <%= f.govuk_error_summary %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <%= render (@training_partner_search.training_partners.empty? ? "no_results" : "results"), f: f %>
    </div>
  </div>
<% end %>

<%= render(CancelLink::View.new(@trainee)) %>
