<div class="moj-filter-layout__filter-wrapper app-filter">
  <div class="moj-filter-layout__filter">
    <div class="moj-filter">
      <div class="moj-filter__header">
        <div class="moj-filter__header-title">
          <h2 class="govuk-heading-m">Filters</h2>
        </div>
        <div class="moj-filter__header-action">
        </div>
      </div>

      <!-- Div made focusable to 'catch' focus from filters. see https://github.com/DFE-Digital/apply-for-teacher-training/pull/2640 -->
      <div class="moj-filter__content" tabindex="-1">

        <% if filters %>
          <div class="moj-filter__selected">
            <div class="moj-filter__selected-heading">
              <div class="moj-filter__heading-title">
                <h2 class="govuk-heading-m">Selected filters</h2>
              </div>
              <div class="moj-filter__heading-action">
                <p class="govuk-body">
                <%= govuk_link_to 'Clear<span class="govuk-visually-hidden"> all filters</span>'.html_safe, trainees_path, class: 'govuk-link--no-visited-state' %>
                </p>
              </div>
            </div>

            <% filters.each do |filter, value| %>
              <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><%= filter_label_for(filter) %></h3>
              <ul class="moj-filter-tags">
                <% tags_for_filter(filter, value).each do |tag| %>
                  <li>
                    <%= govuk_link_to(tag[:title], tag[:remove_link], class: "moj-filter__tag", draggable: "false") %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
        <% end %>

        <div class="moj-filter__options">

          <form method="get">
            <%= submit_tag "Apply filters", class: "govuk-button" %>
            <%= hidden_field_tag :sort_by, params[:sort_by] %>

            <div class="govuk-form-group">
              <%= label_tag "text_search", "Search records", class: "govuk-label govuk-label--s" %>
              <%= text_field_tag "text_search", (filters[:text_search] if filters), spellcheck: false, class: "govuk-input" %>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Status
                </legend>
                <div class="govuk-checkboxes govuk-checkboxes--small">
                  <% Trainee.states.map do |state, _| %>
                    <div class="govuk-checkboxes__item">
                      <%= check_box_tag 'state[]', state, checked?(:state, state), id: "state-#{state}", class: "govuk-checkboxes__input" %>
                      <%= label_tag "state-#{state}", label_for('state', state), class: "govuk-label govuk-checkboxes__label" %>
                    </div>
                  <% end %>
                </div>
              </fieldset>
            </div>

            <div class="govuk-form-group">
              <%= label_tag "subject", "Subject", class: "govuk-label govuk-label--s" %>
              <%= select_tag :subject, options_from_collection_for_select(filter_programme_subjects_options, :name, :name, (filters[:subject] if filters)), class: "govuk-select" %>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <% if filter_actions %>
    <%= filter_actions %>
  <% end %>
</div>
