<%= f.hidden_field :record_source, value: Trainee::MANUAL_SOURCE %>

<h1 class="govuk-heading-l">
  <%= t("components.page_titles.trainees.training_routes.edit") %>
</h1>

<p class="govuk-body govuk-!-static-padding-bottom-6">
  <%= t(".lede") %>
</p>

<%= f.govuk_radio_buttons_fieldset(:training_route, legend: { size: "s", text: t(".training_course_routes.postgrad_fee_funded"), tag: "h2" }) do %>
  <% [:provider_led_postgrad, :early_years_postgrad].each do |option| %>
    <%= f.govuk_radio_button(
        :training_route,
        ReferenceData::TRAINING_ROUTES.find(option).name,
        label: { text: t("activerecord.attributes.trainee.training_routes.itt.#{option}") }
      ) %>
  <% end %>
<% end %>

<%= f.govuk_radio_buttons_fieldset(:training_route, legend: { size: "s", text: t(".training_course_routes.postgrad_salaried"), tag: "h2" }) do %>
  <%= f.govuk_radio_button(
      :training_route,
      ReferenceData::TRAINING_ROUTES.school_direct_salaried.name,
      label: { text: t("activerecord.attributes.trainee.training_routes.itt.school_direct_salaried") }
    ) %>
  <% [:pg_teaching_apprenticeship, :early_years_salaried].each do |option| %>
    <%= f.govuk_radio_button(
        :training_route,
        ReferenceData::TRAINING_ROUTES.find(option).name,
        label: { text: t("activerecord.attributes.trainee.training_routes.itt.#{option}") }
      ) %>
  <% end %>
<% end %>

<%= f.govuk_radio_buttons_fieldset(:training_route, legend: { size: "s", text: t(".training_course_routes.undergrad_fee_funded"), tag: "h2" }) do %>
  <% [:provider_led_undergrad, :opt_in_undergrad, :early_years_undergrad].each do |option| %>
    <%= f.govuk_radio_button(
        :training_route,
        ReferenceData::TRAINING_ROUTES.find(option).name,
        label: { text: t("activerecord.attributes.trainee.training_routes.itt.#{option}") }
      ) %>
  <% end %>
<% end %>

<%= f.govuk_radio_buttons_fieldset(:training_route, legend: { size: "s", text: t(".training_course_routes.other"), tag: "h2" }) do %>
  <% %i[assessment_only early_years_assessment_only iqts teacher_degree_apprenticeship].select { |route| enabled_route?(route) }.each do |option| %>
    <%= f.govuk_radio_button(
        :training_route,
        ReferenceData::TRAINING_ROUTES.find(option).name,
        label: { text: t("activerecord.attributes.trainee.training_routes.itt.#{option}") }
      ) %>
  <% end %>
  <% if current_user.provider? && current_user.organisation.hpitt_postgrad? %>
    <%= f.govuk_radio_button(
        :training_route,
        ReferenceData::TRAINING_ROUTES.hpitt_postgrad.name,
        label: { text: t("activerecord.attributes.trainee.training_routes.hpitt_postgrad") }
      ) %>
  <% end %>
<% end %>
