<%= render PageTitle::View.new(title: "trainees.training_routes.edit", has_errors: @trainee.errors.present?) %>

<%= content_for(:breadcrumbs) do %>
  <%= render DynamicBackLink::View.new(@trainee, text: t(:back)) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with model: @trainee, url: trainee_training_route_path(@trainee), local: true do |f| %>
      <%= f.govuk_error_summary %>
      <%= render "form_fields", f: f %>
      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
