<%= render PageTitle::View.new(text: trainees_page_title(paginated_trainees, total_trainees_count, draft: true)) %>

<% if paginated_trainees.current_page > 1 %>
  <span class="govuk-caption-xl">
    Page <%= paginated_trainees.current_page %> of <%= paginated_trainees.total_pages %>
  </span>
<% end %>

<% if current_user.organisation %>
    <span class="govuk-caption-l"><%= current_user.organisation.name_and_code %></span>
<% end %>

<h1 class="govuk-heading-l" aria-live="polite">
  Draft trainees <span class="govuk-!-font-weight-regular">(<span id="js-trainee-count"><%= total_trainees_count %></span><span class="govuk-visually-hidden"> <%="record".pluralize(total_trainees_count)%></span>)</span>
</h1>

<% if policy(Trainee).new? %>
  <p class="govuk-body">
    <%= render GovukComponent::StartButtonComponent.new(
    text: "Create a trainee record",
    href: new_trainee_path,
  ) %>
  </p>
<% end %>

<%= render "trainees/search_results",
  paginated_trainees: paginated_trainees,
  search_primary_result_title: search_primary_result_title,
  search_primary_result_set: search_primary_result_set,
  search_secondary_result_title: search_secondary_result_title,
  search_secondary_result_set: search_secondary_result_set,
  search_path: drafts_path,
  filters: filters,
  training_routes: training_routes,
  export_results_path: export_results_path
%>
