<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= trainee_draft_title(trainee) %>

    <%= render RouteIndicator::View.new(trainee: @trainee) %>

    <h2 class="govuk-heading-m"><%= t("components.heading.apply_draft.registration_data_from_apply") %></h2>

      <%= render TaskList::View.new do |component|
            if show_publish_courses?(@trainee)
              component.with_row(**row_helper(@trainee, :publish_course_details))
            else
              component.with_row(**row_helper(@trainee, :course_details))
            end

            component.with_row(**row_helper(@trainee, :trainee_data))
          end %>

    <h2 class="govuk-heading-m"><%= t("components.heading.draft.about_their_teaching_training") %></h2>

      <%= render TaskList::View.new do |component|
            component.with_row(**row_helper(@trainee, :training_details))

            if @trainee.requires_training_partner?
              component.with_row(**row_helper(@trainee, :training_partner_and_employing_school_details))
            end

            if @trainee.requires_placements?
              component.with_row(**row_helper(@trainee, :placement_details))
            end

            component.with_row(**row_helper(@trainee, funding_options(@trainee)))
          end %>
  </div>
</div>
