<%= render PageTitle::View.new(text: "Trainees you can bulk recommend for QTS or EYTS") %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: "Reports",
    href: reports_path,
    ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">
      Trainees you can bulk recommend for QTS or EYTS
    </h1>
    <p class="govuk-body">
      This export includes the details of <%= @trainee_count %> trainees. You can use the CSV file to bulk recommend any of those trainees for QTS or EYTS.
    <p class="govuk-body">
      This report includes all trainees who:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        have a complete trainee record
      </li>
      <li>
        are studying on a course which ends in the <%= @academic_cycle_label %> academic year
      </li>
    </ul>

    <p class="govuk-body">
      If you want to include a trainee who deferred and is now studying, you’ll need to reinstate them. They will then have the correct course end date.
    </p>

    <%= govuk_link_to "Export trainee data (#{@trainee_count} trainees)", trainees_you_can_recommend_reports_path(:csv), class: "govuk-button" %>
  </div>
</div>
