<%= render PageTitle::View.new(text: "Reports") %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(text: "Home", href: root_path) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">
        Reports
    </h1>
    <%= render @partial_page.to_s %>
    <%= render "admin_reports" %>
  </div>
</div>
