<!DOCTYPE html>
<html lang="en" class="govuk-template ">
  <head>
    <title><%= yield :page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= canonical_tag %>
    <%= tag :meta, name: 'viewport', content: 'width=device-width, initial-scale=1' %>
    <%= tag :meta, property: 'og:image', content: asset_pack_path('media/images/govuk-opengraph-image.png') %>
    <%= tag :meta, name: 'theme-color', content: '#0b0c0c' %>
    <%= favicon_link_tag asset_pack_path('media/images/favicon.ico') %>
    <%= favicon_link_tag asset_pack_path('media/images/govuk-mask-icon.svg'), rel: 'mask-icon', type: 'image/svg', color: "#0b0c0c" %>
    <%= favicon_link_tag asset_pack_path('media/images/govuk-apple-touch-icon.png'), rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag asset_pack_path('media/images/govuk-apple-touch-icon-152x152.png'), rel: 'apple-touch-icon', type: 'image/png', size: '152x152' %>
    <%= favicon_link_tag asset_pack_path('media/images/govuk-apple-touch-icon-167x167.png'), rel: 'apple-touch-icon', type: 'image/png', size: '167x167' %>
    <%= favicon_link_tag asset_pack_path('media/images/govuk-apple-touch-icon-180x180.png'), rel: 'apple-touch-icon', type: 'image/png', size: '180x180' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', defer: true %>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PD8MFNL');</script>
  </head>

  <body class="govuk-template__body <%= yield :body_class %>">
    <noscript>
      <iframe title="Google Tag Manager" src="https://www.googletagmanager.com/ns.html?id=GTM-PD8MFNL" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <%= govuk_skip_link %>

    <%= render(Header::View.new(I18n.t('service_name'), @current_user)) %>

    <%= render NavigationBar::View.new(@current_user, items: [
      {name: "Home", url: home_path },
      {name: "Trainee records", url: trainees_path}
    ]) %>

    <div class="app-phase-banner">
      <div class="govuk-width-container">
        <div class="govuk-phase-banner">
          <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
              Beta
            </strong>
            <span class="govuk-phase-banner__text">
                This is a new service – <%= mail_to "becomingateacher@digital.education.gov.uk?subject=Feedback%20about%20Register%20trainee%20teachers", "give feedback or report a problem", class: "govuk-link govuk-link--no-visited-state" %>
            </span>
          </p>
        </div>
      </div>
    </div>

    <div class="govuk-width-container">
      <%= yield :breadcrumbs %>
    </div>

    <main class="govuk-main-wrapper " id="main-content" role="main">
      <%= yield :start_page_banner %>
      <div class="govuk-width-container">
        <%= render(FlashBanner::View.new(flash: flash)) %>
        <%= yield %>
      </div>
    </main>

    <%= tag.footer(class: "govuk-footer", role: 'contentinfo') do %>
      <div class="govuk-width-container">
        <div class="govuk-footer__meta">
          <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
            <h2 class="govuk-heading-m">Get support</h2>
            <div class="govuk-footer__meta-custom">
              <ul class="govuk-footer__meta-custom govuk-list govuk-!-font-size-16">
                <li>Email: <%= mail_to "mailto:becomingateacher@digital.education.gov.uk", "becomingateacher@digital.education.gov.uk", class: "govuk-link govuk-footer__link" %></li>
                <li>We aim to respond within 5 working days, or one working day for more urgent queries</li>
              </ul>
              <p class="govuk-body govuk-!-font-size-16"><a href="#" class="govuk-link govuk-footer__link">How to use Register trainee teachers</a></p>
            </div>
            <ul class="govuk-footer__inline-list govuk-!-margin-bottom-0">
              <li class="govuk-footer__inline-list-item">
                <%= link_to "Accessibility", accessibility_path, class: "govuk-footer__link" %>
              </li>
              <li class="govuk-footer__inline-list-item">
                <%= link_to "Cookies", cookies_path, class: "govuk-footer__link" %>
              </li>
              <li class="govuk-footer__inline-list-item">
                <%= link_to "Privacy policy", privacy_policy_path, class: "govuk-footer__link" %>
              </li>
            </ul>
          </div>
          <div class="govuk-footer__meta-item">
            <%= link_to raw(%(&copy Crown copyright)), "https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/", class: "govuk-footer__link govuk-footer__copyright-logo" %>
          </div>
        </div>
      </div>
    <% end %>
  </body>
</html>
