<!DOCTYPE html>
<html lang="en" class="govuk-template ">
  <head>
    <title><%= yield :page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= canonical_tag %>
    <%= tag :meta, name: 'viewport', content: 'width=device-width, initial-scale=1' %>
    <%= tag :meta, property: 'og:image', content: asset_pack_path('media/images/govuk-opengraph-image.png') %>
    <%= tag :meta, name: 'theme-color', content: '#0b0c0c' %>
    <%= favicon_link_tag asset_pack_path('media/images/favicon.ico') %>
    <%= favicon_link_tag asset_pack_path('media/images/govuk-mask-icon.svg'), rel: 'mask-icon', type: 'image/svg', color: "#0b0c0c" %>
    <%= favicon_link_tag asset_pack_path('media/images/govuk-apple-touch-icon.png'), rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag asset_pack_path('media/images/govuk-apple-touch-icon-152x152.png'), rel: 'apple-touch-icon', type: 'image/png', size: '152x152' %>
    <%= favicon_link_tag asset_pack_path('media/images/govuk-apple-touch-icon-167x167.png'), rel: 'apple-touch-icon', type: 'image/png', size: '167x167' %>
    <%= favicon_link_tag asset_pack_path('media/images/govuk-apple-touch-icon-180x180.png'), rel: 'apple-touch-icon', type: 'image/png', size: '180x180' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', defer: true %>
  </head>

  <body class="govuk-template__body">
    <script>
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <%= govuk_skip_link %>

    <%= render_component GovukComponent::Header.new( logo: 'GOV.UK',
                                                     service_name: 'Register trainee teachers',
                                                     service_name_href: "/") %>

    <div class="govuk-width-container">
      <%= yield :breadcrumbs %>
    </div>

    <main class="govuk-main-wrapper " id="main-content" role="main">
      <%= yield :start_page_banner %>
      <div class="govuk-width-container">
        <%= yield %>
      </div>
    </main>

    <%= render_component GovukComponent::Footer.new(
      meta_links: {
        Accessibility: accessibility_path,
        Cookies: cookies_path,
        "Privacy policy": privacy_policy_path,
      },
      meta_heading: 'Supporting links')
    %>
  </body>
</html>
