<!DOCTYPE html>
<html lang="en" class="govuk-template ">
  <head>
    <title><%= yield :page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= canonical_tag %>
    <%= tag :meta, name: 'viewport', content: 'width=device-width, initial-scale=1' %>
    <%= tag :meta, property: 'og:image', content: asset_pack_path('media/images/govuk-opengraph-image.png') %>
    <%= tag :meta, name: 'theme-color', content: '#0b0c0c' %>
    <%= tag :meta, name: 'format-detection', content: 'telephone=no' %>
    <%= favicon_link_tag asset_pack_path('media/images/favicon.ico') %>
    <%= favicon_link_tag asset_pack_path('media/images/govuk-mask-icon.svg'), rel: 'mask-icon', type: 'image/svg', color: "#0b0c0c" %>
    <%= favicon_link_tag asset_pack_path('media/images/govuk-apple-touch-icon.png'), rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag asset_pack_path('media/images/govuk-apple-touch-icon-152x152.png'), rel: 'apple-touch-icon', type: 'image/png', size: '152x152' %>
    <%= favicon_link_tag asset_pack_path('media/images/govuk-apple-touch-icon-167x167.png'), rel: 'apple-touch-icon', type: 'image/png', size: '167x167' %>
    <%= favicon_link_tag asset_pack_path('media/images/govuk-apple-touch-icon-180x180.png'), rel: 'apple-touch-icon', type: 'image/png', size: '180x180' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', defer: true %>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PD8MFNL');</script>
  </head>

  <body class="govuk-template__body <%= yield :body_class %>">
    <noscript>
      <iframe title="Google Tag Manager" src="https://www.googletagmanager.com/ns.html?id=GTM-PD8MFNL" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <%= render GovukComponent::CookieBanner.new(title: "Cookies on Register trainee teachers", html_attributes: { "data-module" => "govuk-cookie-banner"}) do |component| %>
      <% component.with(:body) do %>
        <p class="govuk-body">We use some essential cookies to make this service work.</p>
      <% end %>

      <% component.with(:actions) do %>
        <%= govuk_link_to("View cookies", cookies_path) %>

        <button type="button" class="govuk-button govuk-cookie-banner__hide" data-qa="govuk-cookie-banner__hide">
          Hide this message
        </button>
      <% end %>
    <% end %>

    <%= govuk_skip_link %>

    <%= render Header::View.new(
      service_name: I18n.t('service_name'),
      items: header_items(@current_user)
    ) %>

    <%= render NavigationBar::View.new(
      items: [
        {name: "Home", url: root_path},
        {name: "Trainee records", url: trainees_path, current: trainee_link_is_current? }
      ],
      current_path: request.path,
      current_user: @current_user
    ) %>

    <div class="app-phase-banner app-phase-banner__env--<%= Settings.environment.name %>">
      <div class="govuk-width-container">
        <div class="govuk-phase-banner">
          <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
              <%= Settings.environment.name.titlecase %>
            </strong>
            <span class="govuk-phase-banner__text">
                This is a new service - <% if FeatureService.enabled?("enable_feedback_link") %>
                  <%= support_email(name: "give feedback or report a problem", subject: "Register trainee teachers feedback", classes: "govuk-link--no-visited-state") %>
                <% else %>
                  <%= support_email(name: "report a problem", subject: "Register trainee teachers support", classes: "govuk-link--no-visited-state") %>
                <% end %>
            </span>
          </p>
        </div>
      </div>
    </div>

    <div class="govuk-width-container">
      <%= yield :breadcrumbs %>
    </div>

    <main class="govuk-main-wrapper " id="main-content" role="main">
      <%= yield :start_page_banner %>
      <div class="govuk-width-container">
        <%= render(FlashBanner::View.new(flash: flash, trainee: @trainee, referer: request.referer)) %>
        <%= yield %>
      </div>
    </main>

    <%= tag.footer(class: "govuk-footer", role: 'contentinfo') do %>
      <div class="govuk-width-container">
        <div class="govuk-footer__meta">
          <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
            <h2 class="govuk-heading-m">Get support</h2>
            <div class="govuk-footer__meta-custom">
              <ul class="govuk-footer__meta-custom govuk-list govuk-!-font-size-16">
                <li>Email: <%= support_email(subject: "Register trainee teachers support", classes: "govuk-footer__link") %></li>
                <li>We aim to respond within 5 working days, or one working day for more urgent queries</li>
              </ul>
            </div>
            <ul class="govuk-footer__inline-list govuk-!-margin-bottom-0">
              <li class="govuk-footer__inline-list-item">
                <%= link_to "Accessibility", accessibility_path, class: "govuk-footer__link" %>
              </li>
              <li class="govuk-footer__inline-list-item">
                <%= link_to "Cookies", cookies_path, class: "govuk-footer__link" %>
              </li>
              <li class="govuk-footer__inline-list-item">
                <%= link_to "Privacy policy", privacy_policy_path, class: "govuk-footer__link" %>
              </li>
            </ul>
          </div>
          <div class="govuk-footer__meta-item">
            <%= link_to raw(%(&copy Crown copyright)), "https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/", class: "govuk-footer__link govuk-footer__copyright-logo" %>
          </div>
        </div>
      </div>
    <% end %>
  </body>
</html>
