<%= extends_layout :application do %>
  <%= render PageTitle::View.new(i18n_key: "trainees.show.overview") %>

  <%= content_for(:breadcrumbs) do %>
    <%= render FilteredBackLink::View.new(
      href: trainees_path,
      text: t("views.all_records"),
    ) %>
  <% end %>

  <%= render RecordHeader::View.new(trainee: @trainee, hide_progress_tag: policy(@trainee).hide_progress_tag?) %>

  <% if @trainee.hesa_record? && @trainee.awaiting_action? && current_user.provider? %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <%= render GovukComponent::InsetTextComponent.new(classes: "govuk-!-padding-top-0 govuk-!-padding-bottom-0") do %>
          <h2 class="govuk-heading-s"><%= t(".hesa_uneditable_heading") %></h2>
          <%= t(".body_html", award_level: @trainee.early_years_route? ? t(".eyts_award_level") : t(".qts_award_level")).html_safe %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @missing_data_view %>
    <%= render NoticeBanner::View.new do |component| %>
      <% component.header { @missing_data_view.header } %>
      <%= @missing_data_view.content %>
    <% end %>
  <% end %>

  <%= render TabNavigation::View.new(items: [
    { name: "About their teacher training", url: trainee_path(@trainee) },
    { name: @trainee.requires_degree? ? "Personal details and education" : "Personal details", url: trainee_personal_details_path(@trainee) },
    { name: "Timeline", url: trainee_timeline_path(@trainee) },
    ({ name: "Admin", url: trainee_admin_path(@trainee) } if current_user.system_admin?),
  ]) %>

  <%= yield %>
<% end %>
