<%= extends_layout :application do %>
  <%= render PageTitle::View.new(title: trainee_name(@trainee)) %>

  <%= content_for(:breadcrumbs) do %>
    <%= render GovukComponent::BackLink.new(
      text: 'All records',
      href: trainees_path
    ) %>
  <% end %>

  <div class="trainee-record-header">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">
      <%= trainee_name(@trainee) %>

      <%= render StatusTag::View.new(trainee: @trainee) %>
    </h1>
  </div>

  <%= render TabNavigation::View.new(items: [
    { name: "Training details", url: edit_trainee_path(@trainee) },
    { name: "Personal details and education", url: trainee_personal_details_path(@trainee) },
  ]) %>

  <%= yield %>
<% end %>
